Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Migrate plugin tests to Vue Testing Library (#14197)
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/frontend/views/__tests__/facility-app-bar-page.spec.js
  kolibri/plugins/facility/frontend/views/__tests__/facility-config-page.spec.js
  kolibri/plugins/facility/frontend/views/users/UsersRootPage/__tests__/UsersRootPage.spec.js
Due: lint-frontend

Polish attendance page layout, contrast, and overflow fixes
  kolibri/plugins/coach/frontend/views/attendance/AttendanceEditPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceFormTable.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceHistoryPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceNewPage.vue
Due: lint-frontend

Stabilize ResourceLayout default slot across side panel toggles
  kolibri/plugins/learn/frontend/views/ResourceLayout/__tests__/ResourceLayout.spec.js
  kolibri/plugins/learn/frontend/views/ResourceLayout/index.vue
Due: lint-frontend

Restarts stalled build
  kolibri/plugins/coach/frontend/views/attendance/AttendanceFormTable.vue
Due: lint-frontend

code clean up
  kolibri/plugins/coach/frontend/views/attendance/AttendanceFormTable.vue
Due: lint-frontend

Fixes failing tests
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendanceHistoryPage.spec.js
Due: lint-frontend

Use useGoBack for course back navigation instead of hardcoded HOME
  kolibri/plugins/learn/frontend/routes/classesRoutes.js
  kolibri/plugins/learn/frontend/views/CourseRootPage.vue
  kolibri/plugins/learn/frontend/views/CourseWelcomePage.vue
Due: lint-frontend

standardize page content widths
  kolibri/plugins/coach/frontend/views/attendance/AttendanceEditPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceNewPage.vue
Due: lint-frontend

add sticky column to manage overflow on small page sizes
  kolibri/plugins/coach/frontend/views/attendance/AttendanceHistoryPage.vue
Due: lint-frontend

swap to use KTable to allow for sticky columns and for code consistency; resolve toggle overflow problem when switching on and off
  kolibri/plugins/coach/frontend/views/attendance/AttendanceFormTable.vue
Due: lint-frontend

Use beforeEnter for noClassesGuard on nested course routes
  kolibri/plugins/learn/frontend/routes/classesRoutes.js
Due: lint-frontend

Add redirect on bare /course path to prevent blank page
  kolibri/plugins/learn/frontend/routes/classesRoutes.js
Due: lint-frontend

Enqueue automatic daily KDP sync after facility registration
  kolibri/core/api.py
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/upgrade.py
Due: none

Add feature flag to the attendance block
  kolibri/core/auth/api.py
  kolibri/core/auth/migrations/0033_facilitydataset_enable_mark_attendance.py
  kolibri/core/auth/models.py
  kolibri/plugins/coach/frontend/views/home/HomePage/index.vue
Due: lint-frontend, no-swappable-auth-migrations

Update class attendance block to fix weird state bug with improper class filtering on page refresh
  kolibri/plugins/coach/frontend/views/home/HomePage/AttendanceBlock.vue
  kolibri/plugins/coach/frontend/views/home/HomePage/__tests__/AttendanceBlock.spec.js
Due: lint-frontend

calls getFacilityConfig inline
  kolibri/plugins/coach/frontend/views/home/HomePage/index.vue
Due: lint-frontend

Allow saving of attendance tracking facility setting. Add to facility settings page. Gate to English only.
  kolibri/core/auth/serializers.py
  kolibri/plugins/coach/frontend/views/home/HomePage/index.vue
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/frontend/views/__tests__/facility-config-page.spec.js
Due: lint-frontend

Address review: assert button states from mock data
  kolibri/plugins/device/frontend/views/DeviceSettingsPage/__tests__/DeviceSettingsPage.spec.js
Due: lint-frontend

Hide mark attendance button if no learners are enrolled in class
  kolibri/plugins/coach/frontend/views/home/HomePage/AttendanceBlock.vue
  packages/kolibri-common/strings/attendanceStrings.js
Due: lint-frontend

Trigger build
  packages/kolibri-common/strings/attendanceStrings.js
Due: lint-frontend

Fix broken tests
  kolibri/plugins/coach/frontend/views/home/HomePage/__tests__/AttendanceBlock.spec.js
Due: lint-frontend

Removes code smells
  packages/kolibri-common/strings/attendanceStrings.js
Due: lint-frontend

Register UnitReportViewSet URL in coach api_urls
  kolibri/plugins/coach/api_urls.py
Due: none

Add imports, shared constants, and _chunked helper for unit_report_api
  kolibri/plugins/coach/unit_report_api.py
Due: none

Add get_test_version and get_synthetic_content_id
  kolibri/plugins/coach/unit_report_api.py
Due: none

Add _compute_all_test_scores
  kolibri/plugins/coach/unit_report_api.py
Due: none

Add _get_test_status
  kolibri/plugins/coach/unit_report_api.py
Due: none

Add ComputeTestScoresTests
  kolibri/plugins/coach/test/test_unit_report.py
Due: none

Add UnitReportLearnerGroupTests
  kolibri/plugins/coach/test/test_unit_report.py
Due: none

Add UnitReportPermissionTests
  kolibri/plugins/coach/test/test_unit_report.py
Due: none

Add UnitReportAPIBase
  kolibri/plugins/coach/test/test_unit_report.py
Due: none

Add UnitReportViewSet
  kolibri/plugins/coach/unit_report_api.py
Due: none

Add UnitReportScoringTests
  kolibri/plugins/coach/test/test_unit_report.py
Due: none

Add imports, shared fixtures, and test helpers for unit_report tests
  kolibri/plugins/coach/test/test_unit_report.py
Due: none

Add GetTestStatusTests
  kolibri/plugins/coach/test/test_unit_report.py
Due: none

Add GetTestVersionTests
  kolibri/plugins/coach/test/test_unit_report.py
Due: none

Add UnitReportPermissions
  kolibri/plugins/coach/unit_report_api.py
Due: none

Add UnitReportResponseShapeTests
  kolibri/plugins/coach/test/test_unit_report.py
Due: none

Replace ,is_active,status with closed field in unit_report_api
  kolibri/plugins/coach/test/test_unit_report.py
  kolibri/plugins/coach/unit_report_api.py
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
