Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Remove non-functional 'don't show again' checkbox
  packages/kolibri/components/pages/NotificationsRoot/internal/UpdateNotification.vue
Due: lint-frontend

Move allowRemoteAccess from core to per-plugin plugin_data
  kolibri/plugins/device/frontend/views/DeviceIndex.vue
  kolibri/plugins/learn/frontend/views/LearnIndex.vue
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/user_auth/frontend/views/AuthBase.vue
  kolibri/plugins/user_auth/frontend/views/__tests__/auth-base.spec.js
  kolibri/plugins/user_auth/frontend/views/__tests__/auth-select-page.spec.js
  kolibri/plugins/user_auth/kolibri_plugin.py
Due: lint-frontend

Remove allowAccess getter and allowRemoteAccess from core
  kolibri/core/frontend/state/modules/core/getters.js
  kolibri/core/frontend/state/modules/core/index.js
  kolibri/core/kolibri_plugin.py
Due: lint-frontend

Replace Vuex pageVisibility state with reactive ref in browserInfo
  kolibri/core/frontend/index.js
  kolibri/core/frontend/state/modules/core/actions.js
  kolibri/core/frontend/state/modules/core/index.js
  kolibri/core/frontend/state/modules/core/mutations.js
  kolibri/plugins/learn/frontend/composables/__tests__/useProgressTracking.spec.js
  kolibri/plugins/learn/frontend/composables/useProgressTracking.js
  packages/kolibri/__tests__/heartbeat.spec.js
  packages/kolibri/heartbeat.js
  packages/kolibri/utils/__tests__/pageVisible.spec.js
  packages/kolibri/utils/browserInfo.js
Due: lint-frontend

Add fetchClassSyncStatus composable to coach plugin
  kolibri/plugins/coach/frontend/composables/__mocks__/fetchClassSyncStatus.js
  kolibri/plugins/coach/frontend/composables/__tests__/fetchClassSyncStatus.spec.js
  kolibri/plugins/coach/frontend/composables/fetchClassSyncStatus.js
Due: lint-frontend

Migrate coach views to fetchClassSyncStatus and remove Vuex action
  kolibri/core/frontend/state/modules/core/actions.js
  kolibri/plugins/coach/frontend/views/ClassLearnersListPage.vue
  kolibri/plugins/coach/frontend/views/common/LessonStatus.vue
  kolibri/plugins/coach/frontend/views/common/QuizStatus.vue
  kolibri/plugins/coach/frontend/views/common/ReportsControls.vue
  kolibri/plugins/coach/frontend/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/coach/frontend/views/lessons/LessonsRootPage.vue
  kolibri/plugins/coach/frontend/views/quizzes/ExamsRootPage.vue
  kolibri/plugins/coach/frontend/views/reports/__tests__/ReportsLessonExerciseLearnerListPage.spec.js
  kolibri/plugins/coach/frontend/views/reports/__tests__/ReportsLessonResourceLearnerListPage.spec.js
Due: lint-frontend

Remove unused vueuse import and use .value instead of get()
  kolibri/plugins/user_auth/frontend/views/AuthBase.vue
Due: lint-frontend

Upgrade to Raspberry Pi OS Trixie (Debian 13) (#22)
  platforms/kolibri-image-pi/.github/workflows/build_img.yml
  platforms/kolibri-image-pi/Makefile
  platforms/kolibri-image-pi/base.Pifile
  platforms/kolibri-image-pi/files/learningequality-kolibri-server.sources
  platforms/kolibri-image-pi/files/learningequality-kolibri.sources
  platforms/kolibri-image-pi/files/learningequality-ubuntu-kolibri-noble.list
  platforms/kolibri-image-pi/files/learningequality.asc
  platforms/kolibri-image-pi/files/learningequality.gpg.key
  platforms/kolibri-image-pi/kolibri.Pifile
Due: none

Add course_session_id field to LearnerProgressNotification model
  kolibri/core/notifications/migrations/0008_learnerprogressnotification_course_session_id.py
  kolibri/core/notifications/models.py
Due: no-swappable-auth-migrations

Generate notifications for course session lesson content and pre/post tests
  kolibri/core/logger/api.py
  kolibri/core/notifications/api.py
  kolibri/core/notifications/tasks.py
  kolibri/core/notifications/test/test_api.py
Due: none

Remove unnecessary id field from course session context query
  kolibri/core/notifications/api.py
Due: none

Move allowRemoteAccess from core to per-plugin plugin_data (#14532)
  kolibri/core/frontend/state/modules/core/getters.js
  kolibri/core/frontend/state/modules/core/index.js
  kolibri/core/kolibri_plugin.py
  kolibri/plugins/device/frontend/views/DeviceIndex.vue
  kolibri/plugins/learn/frontend/views/LearnIndex.vue
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/user_auth/frontend/views/AuthBase.vue
  kolibri/plugins/user_auth/frontend/views/__tests__/auth-base.spec.js
  kolibri/plugins/user_auth/frontend/views/__tests__/auth-select-page.spec.js
  kolibri/plugins/user_auth/kolibri_plugin.py
Due: lint-frontend

Add course-level learner progress notifications (#14523)
  kolibri/core/logger/api.py
  kolibri/core/notifications/api.py
  kolibri/core/notifications/migrations/0008_learnerprogressnotification_course_session_id.py
  kolibri/core/notifications/models.py
  kolibri/core/notifications/tasks.py
  kolibri/core/notifications/test/test_api.py
Due: no-swappable-auth-migrations

Remove stale pageLoading assignment in CreateExamPage
  kolibri/plugins/coach/frontend/views/quizzes/CreateExamPage/index.vue
Due: lint-frontend

Replace pageLoading with quizInitialized in CreateExamPage
  kolibri/plugins/coach/frontend/views/quizzes/CreateExamPage/index.vue
Due: lint-frontend

Add appError utility module to replace Vuex error state
  packages/kolibri/internal/apiSpec.js
  packages/kolibri/package.json
  packages/kolibri/utils/__mocks__/appError.js
  packages/kolibri/utils/__tests__/appError.spec.js
  packages/kolibri/utils/appError.js
Due: lint-frontend

Remove deprecated Vuex error state from core module
  kolibri/core/frontend/state/modules/core/actions.js
  kolibri/core/frontend/state/modules/core/index.js
  kolibri/core/frontend/state/modules/core/mutations.js
  packages/kolibri/__tests__/store.spec.js
Due: lint-frontend

Replace Vue event bus in pluginMediator with callbacks
  packages/kolibri-module/src/index.js
  packages/kolibri/internal/__tests__/pluginMediator.spec.js
  packages/kolibri/internal/pluginMediator.js
Due: lint-frontend

Fix setReady docstring to accurately describe callback flushing behavior
  packages/kolibri/internal/pluginMediator.js
Due: lint-frontend

Remove Vue event bus from pluginMediator (#14540)
  packages/kolibri-module/src/index.js
  packages/kolibri/internal/__tests__/pluginMediator.spec.js
  packages/kolibri/internal/pluginMediator.js
Due: lint-frontend

Add i18n strings for learning objective side panel
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Fix warning banner icon vertical alignment
  kolibri/plugins/coach/frontend/views/courses/LearningObjectiveSidePanel.vue
Due: lint-frontend

Address PR review feedback for LearningObjectiveSidePanel
  kolibri/plugins/coach/frontend/constants/courseConstants.js
  kolibri/plugins/coach/frontend/views/courses/LearningObjectiveSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearningObjectiveSidePanel.spec.js
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Wire LO row click to open side panel from CourseSummaryPage
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/LearningObjectivesReport.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearningObjectivesReport.spec.js
Due: lint-frontend

Add LearningObjectiveSidePanel component with tests
  kolibri/plugins/coach/frontend/views/courses/LearningObjectiveSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearningObjectiveSidePanel.spec.js
Due: lint-frontend

Fix QA issues: wrong title, non-participant display, icon alignment
  kolibri/plugins/coach/frontend/views/courses/LearningObjectiveSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/LearningObjectivesReport.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearningObjectiveSidePanel.spec.js
Due: lint-frontend

Address PR review: use palette colors and strengthen test assertions
  kolibri/plugins/coach/frontend/constants/courseConstants.js
  kolibri/plugins/coach/frontend/views/courses/LearningObjectiveSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearningObjectiveSidePanel.spec.js
Due: lint-frontend

Add picture password authentication to FacilityUserBackend
  kolibri/core/auth/backends.py
Due: none

Add picture_password field and authentication path to CreateSessionSerializer
  kolibri/core/auth/api.py
Due: none

Add unit tests for picture password authentication backend
  kolibri/core/auth/test/test_backend.py
Due: none

Add modal for reaching picture-password limit
  kolibri/plugins/facility/frontend/views/LearnerLimitReachedModal.vue
  kolibri/plugins/facility/frontend/views/__tests__/LearnerLimitReachedModal.spec.js
  packages/kolibri-common/strings/picturePasswords.js
Due: lint-frontend

Handle deleted course content gracefully on courses list and detail pages
  kolibri/plugins/coach/frontend/composables/__tests__/useCourseSession.spec.js
  kolibri/plugins/coach/frontend/composables/useCourseSession.js
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/CoursesRootPage.spec.js
Due: lint-frontend

update content import to disallow granular import of courses
  kolibri/core/content/serializers.py
  kolibri/core/content/test/test_content_app.py
  kolibri/plugins/device/frontend/views/SelectContentPage/ContentNodeRow.vue
  kolibri/plugins/device/frontend/views/__tests__/ContentNodeRow.spec.js
Due: lint-frontend

Check progress before notifications in coach lesson report status
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/coach/test/test_class_summary.py
Due: none

Skip needs help notifications when exercise is already completed
  kolibri/core/notifications/api.py
  kolibri/core/notifications/test/test_api.py
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
