Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

refactor: replace --dry-run with idempotent steps for rerunnable workflow
  platforms/debian-server/.github/workflows/build_debian.yml
  platforms/debian-server/README.rst
  platforms/debian-server/scripts/launchpad_copy.py
  platforms/debian-server/tests/test_launchpad_copy.py
Due: none

Refactor TopBar tests to use accessible button names
  kolibri/plugins/epub_viewer/frontend/views/__tests__/TopBar.spec.js
Due: lint-frontend

Remove Python 2 compatibility shims
  kolibri/core/discovery/tasks.py
  kolibri/core/test/test_nothing.py
  kolibri/plugins/utils/test/helpers.py
  kolibri/utils/tests/helpers.py
Due: none

Use str(e) for ImportError handling and simplify module check
  kolibri/plugins/utils/__init__.py
Due: none

Prevent background scroll in side panel modal
  packages/kolibri-common/components/courses/sidePanel/SidePanelModal.vue
Due: lint-frontend

Handle user import errors in setup wizard plugin
  kolibri/plugins/setup_wizard/frontend/views/ImportMultipleUsers.vue
  kolibri/plugins/setup_wizard/frontend/views/OnboardingStepBase.vue
Due: lint-frontend

Migrate ensuring jobs database exists to django migrations
  kolibri/core/tasks/migrations/0001_initial.py
  kolibri/core/tasks/migrations/0002_add_retries_fields.py
  kolibri/core/tasks/models.py
  kolibri/core/tasks/operations.py
  kolibri/core/tasks/schema_utils.py
  kolibri/core/tasks/storage.py
  kolibri/utils/main.py
  kolibri/utils/sanity_checks.py
Due: no-swappable-auth-migrations

Migrations for sqlalchemy job
  kolibri/core/tasks/job.py
  kolibri/core/tasks/migrations/0001_initial.py
  kolibri/core/tasks/migrations/0002_add_retries_fields.py
  kolibri/core/tasks/migrations/__init__.py
  kolibri/core/tasks/models.py
  kolibri/core/tasks/operations.py
  kolibri/core/tasks/schema_utils.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/validation.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/sqlite_db_names.py
  kolibri/utils/main.py
  kolibri/utils/sanity_checks.py
Due: no-swappable-auth-migrations

Add tests
  kolibri/core/tasks/test/test_decorators.py
  kolibri/core/tasks/test/test_job.py
Due: none

Add retry_on to task decorator
  kolibri/core/auth/tasks.py
  kolibri/core/tasks/decorators.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/registry.py
  kolibri/core/tasks/utils.py
Due: none

Refactor retry_on logic
  kolibri/core/tasks/api.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/registry.py
  kolibri/core/tasks/storage.py
  kolibri/plugins/setup_wizard/frontend/views/ImportMultipleUsers.vue
  kolibri/utils/main.py
Due: lint-frontend

Migrate Jobs model to django
  kolibri/core/auth/tasks.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/main.py
  kolibri/core/tasks/models.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/worker.py
  kolibri/deployment/default/settings/base.py
  kolibri/utils/sanity_checks.py
Due: none

Migrate tests and add tests to retry_on param
  kolibri/conftest.py
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/tasks/test/base.py
  kolibri/core/tasks/test/taskrunner/test_job_running.py
  kolibri/core/tasks/test/taskrunner/test_scheduler.py
  kolibri/core/tasks/test/taskrunner/test_storage.py
  kolibri/core/tasks/test/taskrunner/test_worker.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/tasks/test/test_job.py
  kolibri/core/tasks/test/test_no_connection.py
  kolibri/utils/tests/test_sanity_check.py
  kolibri/utils/tests/test_server.py
Due: none

Activate sqlite pragmas on all DBs
  kolibri/core/apps.py
  kolibri/core/tasks/storage.py
Due: none

Fix db connections overrides that causes side effects on following tests
  kolibri/core/deviceadmin/tests/test_dbrestore.py
Due: none

Standardize databases path computation
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/sqlite_db_names.py
  kolibri/utils/main.py
Due: none

Add JOB_STORAGE to ADDITIONAL_SQLITE_DATABASES array
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/sqlite_db_names.py
  kolibri/utils/main.py
Due: none

HandlePR comments
  kolibri/core/auth/tasks.py
  kolibri/core/tasks/registry.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/utils.py
  kolibri/core/tasks/worker.py
Due: none

Fix jobs tests running on multiple threads
  kolibri/core/content/test/test_content_request.py
  kolibri/core/tasks/storage.py
Due: none

Use KolibriModelRouter to define the KolibriTasksRouter class
  kolibri/core/tasks/models.py
Due: none

Add more safeguards against reaching overloaded server
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/auth/utils/sync.py
  kolibri/core/tasks/api.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/tasks/validation.py
  kolibri/core/utils/retry.py
  kolibri/plugins/setup_wizard/frontend/views/ImportMultipleUsers.vue
  packages/kolibri-common/components/SyncSchedule/EditDeviceSyncSchedule.vue
Due: lint-frontend

Update kolibri-installer-android and morango versions
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Due: none

Add semaphore to limit the number of task creation request at the same time
  kolibri/plugins/setup_wizard/frontend/composables/useSemaphore.js
  kolibri/plugins/setup_wizard/frontend/views/ImportMultipleUsers.vue
Due: lint-frontend

Enqueue automatic content download only if there isn't an active job already
  kolibri/core/content/serializers.py
  kolibri/core/content/tasks.py
  kolibri/core/content/test/test_tasks.py
  kolibri/core/tasks/registry.py
  kolibri/core/tasks/storage.py
Due: none

Query NetworkLocation model for building NetworkConnection from address
  kolibri/core/auth/tasks.py
  kolibri/core/auth/utils/sync.py
  kolibri/core/auth/utils/users.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/discovery/test/test_network_utils.py
  kolibri/core/discovery/utils/network/client.py
Due: none

Fix mktime bug
  kolibri/core/public/api.py
Due: none

Remove users being imported missing on tasks
  kolibri/plugins/setup_wizard/frontend/views/ImportMultipleUsers.vue
Due: lint-frontend

Remove Python 2 compatibility shims (#14226)
  kolibri/core/discovery/tasks.py
  kolibri/core/test/test_nothing.py
  kolibri/plugins/utils/test/helpers.py
  kolibri/utils/tests/helpers.py
Due: none

Add negative tests for unprovisioned device redirect
  kolibri/core/test/test_key_urls.py
Due: none

Cache provision URL app_name in ProvisioningErrorHandler
  kolibri/core/device/middleware.py
Due: none

Fix middleware redirecting core views on unprovisioned devices
  kolibri/core/device/middleware.py
  kolibri/core/test/test_key_urls.py
Due: none

Early-return for non-page-view requests in ProvisioningErrorHandler
  kolibri/core/device/middleware.py
Due: none

return even earlier!
  kolibri/core/device/middleware.py
Due: none

Remove dead DeviceNotProvisioned exception and handler
  kolibri/core/device/middleware.py
  kolibri/core/device/utils.py
Due: none

test: add explanatory comment for manual focus workaround in JSDOM
  kolibri/plugins/setup_wizard/frontend/views/__tests__/FacilityPermissionsForm.spec.js
Due: lint-frontend

Add missing __init__.py and full test coverage for NoRepeatedValueJSONArrayValidator
  kolibri/core/utils/test/__init__.py
  kolibri/core/utils/test/test_validators.py
Due: none

Update Node.js version in getting_started docs from 18.x to 20.x
  docs/getting_started.rst
Due: none

updating the comment as suggested by the rtibblesbot
  kolibri/plugins/setup_wizard/frontend/views/__tests__/FacilityPermissionsForm.spec.js
Due: lint-frontend

Remove incorrect file path and add trailing newline
  kolibri/core/utils/test/test_validators.py
  kolibri/kolibri/core/utils/tests/test_validators.py
Due: none
