Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Bump content schema to VERSION_6 for file_size_bigint column
  kolibri/core/content/contentschema/versions/content_schema_6.py
  kolibri/core/content/contentschema/versions/content_schema_current.py
  kolibri/core/content/fixtures/6_content_data.json
Due: none

Widen LocalFile.file_size to BigIntegerField with db_column=file_size_bigint
  kolibri/core/content/base_models.py
  kolibri/core/content/migrations/0048_localfile_file_size_bigint.py
  kolibri/core/content/utils/file_size_migration.py
Due: no-swappable-auth-migrations

Map legacy file_size column to file_size_bigint for pre-VERSION_6 imports
  kolibri/core/content/utils/channel_import.py
Due: none

Copy file_size to file_size_bigint on upgrade and drop legacy column
  kolibri/core/content/upgrade.py
  kolibri/core/content/utils/upgrade.py
Due: none

Update tests and call sites for file_size_bigint column rename
  kolibri/core/content/fixtures/1_content_data.json
  kolibri/core/content/fixtures/2_content_data.json
  kolibri/core/content/fixtures/3_content_data.json
  kolibri/core/content/fixtures/4_content_data.json
  kolibri/core/content/fixtures/5_content_data.json
  kolibri/core/content/fixtures/longdescriptions_content_data.json
  kolibri/core/content/fixtures/unversioned_content_data.json
  kolibri/core/content/fixtures/v0.2.0-beta1_content_data.json
  kolibri/core/content/fixtures/v0.4.0-beta3_content_data.json
  kolibri/core/content/public_api.py
  kolibri/core/content/test/helpers.py
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/test/test_channel_upgrade.py
  kolibri/core/content/test/test_public_api.py
  kolibri/core/content/test/test_upgrade.py
Due: none

refactor(numeric-keypad): stop close button click propagation early
  kolibri/plugins/perseus_viewer/frontend/views/PerseusRendererIndex.vue
  packages/kolibri-common/components/NumericKeypad/index.vue
Due: lint-frontend

fix(numeric-keypad): add missing translator strings back again
  kolibri/plugins/perseus_viewer/frontend/translator.js
Due: lint-frontend

feat: implement basic inline choice rendering view
  kolibri/plugins/qti_viewer/frontend/components/AssessmentItem.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/InlineChoice.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/InlineChoiceInteraction.vue
Due: lint-frontend

test: add unit tests for inline choice interaction
  kolibri/plugins/qti_viewer/frontend/components/interactions/__tests__/InlineChoiceInteraction.spec.js
Due: lint-frontend

feat: add answer guide to inline choice interactions
  kolibri/plugins/qti_viewer/frontend/components/AnswerGuide.vue
  kolibri/plugins/qti_viewer/frontend/components/AssessmentItem.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/__tests__/InlineChoiceInteraction.spec.js
Due: lint-frontend

refactor: extract item guidance text for inlines to a new util
  kolibri/plugins/qti_viewer/frontend/components/AssessmentItem.vue
  kolibri/plugins/qti_viewer/frontend/utils/__tests__/itemBodyGuidance.spec.js
  kolibri/plugins/qti_viewer/frontend/utils/itemBodyGuidance.js
Due: lint-frontend

fix: silence don't use attributes starting with $ error
  kolibri/plugins/qti_viewer/frontend/components/interactions/InlineChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/__tests__/InlineChoiceInteraction.spec.js
Due: lint-frontend

feat: add numbered gaps a11y enhancements for inline interactions
  kolibri/plugins/qti_viewer/frontend/components/AssessmentItem.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/InlineChoice.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/InlineChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/__tests__/InlineChoiceInteraction.spec.js
  kolibri/plugins/qti_viewer/frontend/utils/__tests__/itemBodyGuidance.spec.js
  kolibri/plugins/qti_viewer/frontend/utils/itemBodyGuidance.js
Due: lint-frontend

fix: manually merge xml items.js instead of git lfs
  kolibri/plugins/qti_viewer/frontend/components/__fixtures__/items.js
Due: lint-frontend

fix: make inline choice interaction use reactive response object
  kolibri/plugins/qti_viewer/frontend/components/interactions/InlineChoiceInteraction.vue
Due: lint-frontend

fix: remove unused function due to merge conflicts
  kolibri/plugins/qti_viewer/frontend/components/AssessmentItem.vue
Due: lint-frontend

Add canonical production manifest and Flathub release automation
  platforms/flatpak-app/.flake8
  platforms/flatpak-app/.github/workflows/build.yml
  platforms/flatpak-app/.github/workflows/release-flathub.yml
  platforms/flatpak-app/build-aux/flatpak/modules/kolibri-tools.json
  platforms/flatpak-app/build-aux/flatpak/modules/migrate-kolibri-daemon-path.json
  platforms/flatpak-app/build-aux/flatpak/modules/python3-kolibri.json.in
  platforms/flatpak-app/build-aux/flatpak/org.learningequality.Kolibri.json
  platforms/flatpak-app/build-aux/flatpak/prepare-kolibri-module.py
  platforms/flatpak-app/build-aux/flatpak/sync-flathub.py
  platforms/flatpak-app/build-aux/flatpak/tests/test_release_scripts.py
  platforms/flatpak-app/build-aux/flatpak/tools/kolibri-listcontent.py
  platforms/flatpak-app/flathub.json
Due: none

Vendor kolibri-app-desktop-xdg-plugin into the repo
  platforms/flatpak-app/build-aux/flatpak/modules/python3-kolibri-app-desktop-xdg-plugin.json
  platforms/flatpak-app/build-aux/flatpak/tests/test_channel_launchers.py
  platforms/flatpak-app/src/kolibri_app/utils.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/__init__.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/apps.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/channel_launchers.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/kolibri_plugin.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/management/__init__.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/management/commands/__init__.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/management/commands/app_desktop_xdg_update_launchers.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/meson.build
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/path_utils.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/pillow_utils.py
  platforms/flatpak-app/src/meson.build
Due: none

fix(inline-choice): remove dead code handling impossible to happen markup nodes
  kolibri/plugins/qti_viewer/frontend/components/interactions/InlineChoiceInteraction.vue
Due: lint-frontend

refactor(inline-choice): use ICU plural for gaps count answer guide
  kolibri/plugins/qti_viewer/frontend/components/AnswerGuide.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/InlineChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/__tests__/InlineChoiceInteraction.spec.js
  kolibri/plugins/qti_viewer/frontend/utils/__tests__/itemBodyGuidance.spec.js
  kolibri/plugins/qti_viewer/frontend/utils/itemBodyGuidance.js
Due: lint-frontend

Add regression tests for per-file diskcache reuse when streaming remote files
  kolibri/utils/tests/test_chunked_file.py
  kolibri/utils/tests/test_file_transfer.py
Due: none

Reuse a single per-file diskcache handle instead of reopening it per read block
  kolibri/utils/file_transfer.py
Due: none

Preserve recurrence when re-enqueuing a scheduled job to run now
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_storage.py
Due: none

Localize sync recurrence-preservation to the sync validators
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_storage.py
Due: none

Deduplicate manual KDP syncs onto the scheduled recurring job
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
Due: none

Deduplicate scheduled peer facility syncs
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
Due: none

Hash deterministic sync job IDs to fit the 36-char id column
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
Due: none

Add installer language mapping to i18n generator
  build_tools/i18n/generate_mapping.py
  test/test_i18n_desktop_crowdin.py
Due: none

Use lru_cache in i18n utils for Python 3.7/3.8 compatibility
  build_tools/i18n/utils.py
Due: none

Skip crowdin.yml config tests where PyYAML is unavailable
  test/test_i18n_desktop_crowdin.py
Due: none

Wire desktop-app i18n sources into root crowdin.yml
  crowdin.yml
  test/test_i18n_desktop_crowdin.py
Due: none

Remove dead desktop-app Crowdin Makefile targets
  platforms/desktop-app/Makefile
Due: none

Build release desktop and mobile artifacts with local builders
  .github/workflows/platform-android-release_apk.yml
  .github/workflows/release_kolibri.yml
Due: none

Build and publish kolibri-server during a Kolibri release
  .github/workflows/platform-debian-server-release.yml
  .github/workflows/release_kolibri.yml
Due: none

Fail the release build when signing secrets are missing
  .github/scripts/verify-secrets.sh
  .github/workflows/platform-android-build_apk.yml
  .github/workflows/platform-macos-app-build_dmg.yml
  .github/workflows/platform-windows-app-build_exe.yml
Due: none

Add AUTO_LOGOUT_TIME deployment option
  kolibri/utils/options.py
Due: none

Derive SESSION_COOKIE_AGE from AUTO_LOGOUT_TIME
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/settings/test_base.py
Due: none

Android installer: set AUTO_LOGOUT_TIME, drop redundant settings module
  platforms/android/app/src/main/java/org/learningequality/Kolibri/KolibriEnvironmentInitializer.java
  platforms/android/app/src/main/python/kolibri_app_settings.py
  platforms/android/pyproject.toml
Due: none

Desktop installer: set AUTO_LOGOUT_TIME, drop redundant settings module
  platforms/desktop-app/pyproject.toml
  platforms/desktop-app/src/kolibri_app/__init__.py
  platforms/desktop-app/src/kolibri_app/django_app_settings.py
  platforms/desktop-app/src/kolibri_app/server_manager_windows.py
Due: none

Add Android locale-code mapping generator
  build_tools/i18n/generate_mapping.py
  test/test_i18n_android_mapping.py
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
