Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

GroupsPage: incl class name w/ classes icon in PlanHeader#header slot
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
Due: lint-frontend

GroupMembersPage: Add options menu for rename & delete group
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
Due: lint-frontend

GroupsPage: handle enroll event from GroupRowTr
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
Due: lint-frontend

Remove upgraded pytz
  platforms/flatpak-app/build-aux/flatpak/modules/python3-kolibri-pytz.json
  platforms/flatpak-app/build-aux/flatpak/org.learningequality.Kolibri.Devel.json
Due: none

Update runtime to org.gnome.Platform//47
  platforms/flatpak-app/build-aux/flatpak/org.learningequality.Kolibri.Devel.json
  platforms/flatpak-app/data/metainfo/org.learningequality.Kolibri.metainfo.xml.in.in
Due: none

Update pre-commit hooks
  platforms/flatpak-app/.pre-commit-config.yaml
Due: none

Support Kolibri 0.17.2
  platforms/flatpak-app/build-aux/flatpak/modules/iproute2.json
  platforms/flatpak-app/build-aux/flatpak/modules/python3-kolibri-app-desktop-xdg-plugin.json
  platforms/flatpak-app/build-aux/flatpak/modules/python3-kolibri.json
  platforms/flatpak-app/data/metainfo/org.learningequality.Kolibri.metainfo.xml.in.in
Due: none

Bump version: 3.7 → 3.8
  platforms/flatpak-app/.bumpversion.toml
  platforms/flatpak-app/VERSION
  platforms/flatpak-app/data/metainfo/org.learningequality.Kolibri.metainfo.xml.in.in
Due: none

Add to heartbeat API to keep useConnection composable more tightly encapsulated in the heartbeat module.
  kolibri/core/assets/src/heartbeat.js
  kolibri/core/assets/src/state/modules/core/actions.js
Due: lint-frontend

Consolidate content node utilities into kolibri-common.
  kolibri/core/assets/src/utils/contentNodeUtils.js
  kolibri/core/assets/src/views/ExamReport/utils.js
  kolibri/core/assets/src/views/MasteryModel.vue
  packages/kolibri-common/utils/contentNode.js
Due: lint-frontend

Move renderer suffix into core constants.
  kolibri/core/assets/src/constants.js
  kolibri/core/assets/src/core-app/pluginMediator.js
  kolibri/core/assets/src/views/ContentRenderer/__tests__/DownloadButton.spec.js
  kolibri/core/assets/src/views/ContentRenderer/__tests__/utils.spec.js
  kolibri/core/assets/src/views/ContentRenderer/constants.js
  kolibri/core/assets/src/views/ContentRenderer/index.js
  kolibri/core/assets/src/views/ContentRenderer/utils.js
Due: lint-frontend

Move navroute generation into usenav composable.
  kolibri/core/assets/src/composables/__tests__/generateNavRoutes.spec.js
  kolibri/core/assets/src/composables/generateNavRoutes.js
  kolibri/core/assets/src/composables/useNav.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/BottomNavigationBar.vue
  kolibri/core/assets/src/views/CoreMenu/CoreMenuOption.vue
Due: lint-frontend

GroupMembersPage: Swap classname icon text for # learners message
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
Due: lint-frontend

commonCoachStrings: remove `numberOfLearners` as it's only usage has been removed
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
Due: lint-frontend

GropuEnrollPage: "All users already enrolled in this ~class~ group"
  kolibri/plugins/coach/assets/src/views/plan/GroupEnrollPage/index.vue
Due: lint-frontend

GroupMembersPage: After group deleted, redirect to groups page
  kolibri/plugins/coach/assets/src/views/plan/GroupMembersPage/index.vue
Due: lint-frontend

New upstream release 0.17.2
  platforms/debian/debian/changelog
Due: none

Remove dead code
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
Due: lint-frontend

Fetch difficult questions in quizsummarypage api
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/assets/src/modules/questionList/index.js
  kolibri/plugins/coach/assets/src/routes/planExamRoutes.js
  kolibri/plugins/coach/assets/src/utils/index.js
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/api.js
  kolibri/plugins/coach/assets/src/views/reports/ReportsDifficultQuestionsTable.vue
Due: lint-frontend

Refactor to standardize naming of core app and model.
  kolibri/core/analytics/tasks.py
  kolibri/core/error_reports/__init__.py
  kolibri/core/error_reports/apps.py
  kolibri/core/error_reports/constants.py
  kolibri/core/error_reports/migrations/0001_initial.py
  kolibri/core/error_reports/migrations/__init__.py
  kolibri/core/error_reports/models.py
  kolibri/core/error_reports/schemas.py
  kolibri/core/error_reports/tasks.py
  kolibri/core/error_reports/test/__init__.py
  kolibri/core/error_reports/test/test_middleware.py
  kolibri/core/error_reports/test/test_models.py
  kolibri/core/error_reports/test/test_tasks.py
  kolibri/core/errorreports/apps.py
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/migrations/0002_alter_errorreports_category.py
  kolibri/core/errorreports/test/__init__.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/sqlite_db_names.py
  kolibri/plugins/error_reports/api.py
  kolibri/plugins/error_reports/kolibri_plugin.py
  kolibri/plugins/error_reports/serializers.py
  kolibri/plugins/error_reports/test/test_api.py
Due: no-swappable-auth-migrations

Remove dynamic field and its setter after migrating to field location_type
  kolibri/core/discovery/models.py
Due: none

Update reset_connection_states to handle reserved locations for Studio and KDP
  kolibri/core/discovery/tasks.py
Due: none

Update task helper to prevent enqueuing new tasks when is_local is False
  kolibri/core/discovery/tasks.py
Due: none

Use hardcoded ID to create reserved network locations for KDP
  kolibri/core/discovery/well_known.py
Due: none

Update NetworkLocationSerializer to only allow static models to be created and set location_type to static
  kolibri/core/discovery/serializers.py
Due: none

Annotate dynamic attribute when location_type is dynamic within NetworkLocationViewSet
  kolibri/core/discovery/api.py
Due: none

Add syncable filter in NetworkLocationViewSet to include KDP and Studio reserved location, excluding both if syncable is not provided
  kolibri/core/discovery/api.py
Due: none

Change DATA_PORTAL_INSTANCE_ID to DATA_PORTAL_BASE_INSTANCE_ID
  kolibri/core/discovery/well_known.py
Due: none

Add test for enqueue_network_location_update_with_backoff when not_local is false and update previous tests that used dynamic field
  kolibri/core/discovery/test/test_tasks.py
Due: none

add a validate method for DeleteChannelValidator so force_delete wont be ignored
  kolibri/core/content/tasks.py
Due: none

Remove use of dynamic field for NetworkLocation model
  kolibri/core/discovery/serializers.py
  kolibri/core/discovery/tasks.py
  kolibri/core/discovery/test/test_connections.py
  kolibri/core/discovery/test/test_models.py
  kolibri/core/discovery/test/test_network_utils.py
  kolibri/core/discovery/utils/network/client.py
  kolibri/core/discovery/utils/network/connections.py
Due: none

Update kolibri-gnome.pot
  platforms/flatpak-app/data/metainfo/org.learningequality.Kolibri.metainfo.xml.in.in
  platforms/flatpak-app/po/ar.po
  platforms/flatpak-app/po/bg.po
  platforms/flatpak-app/po/bn.po
  platforms/flatpak-app/po/en.po
  platforms/flatpak-app/po/es.po
  platforms/flatpak-app/po/es_ES.po
  platforms/flatpak-app/po/fa.po
  platforms/flatpak-app/po/fr.po
  platforms/flatpak-app/po/fv.po
  platforms/flatpak-app/po/gu_IN.po
  platforms/flatpak-app/po/hi.po
  platforms/flatpak-app/po/it.po
  platforms/flatpak-app/po/ko.po
  platforms/flatpak-app/po/kolibri-gnome.pot
  platforms/flatpak-app/po/la.po
  platforms/flatpak-app/po/mr.po
  platforms/flatpak-app/po/my.po
  platforms/flatpak-app/po/ny.po
  platforms/flatpak-app/po/pt_BR.po
  platforms/flatpak-app/po/sw_TZ.po
  platforms/flatpak-app/po/te.po
  platforms/flatpak-app/po/tl.po
  platforms/flatpak-app/po/ur_PK.po
  platforms/flatpak-app/po/vi.po
  platforms/flatpak-app/po/yo.po
Due: none

Update index.vue
  kolibri/plugins/learn/assets/src/views/SearchFiltersPanel/index.vue
Due: lint-frontend

Update TopicsPanelModal.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/TopicsPanelModal.vue
Due: lint-frontend

Update index.vue
  kolibri/plugins/pdf_viewer/assets/src/views/SideBar/index.vue
Due: lint-frontend

Update HybridLearningLessonCard.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningLessonCard.vue
Due: lint-frontend

Do not use execute_values to avoid byte conversion
  kolibri/core/content/utils/channel_import.py
Due: none

Adds loose pinning of dev docs requirements to ensure correct builds + add required extension sphinxcontrib.jquery
  docs/conf.py
  requirements/docs.txt
Due: none

updated notificationsRoot.spec.js test file as per the changes made in its component file
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/views/NotificationsRoot.vue
  kolibri/core/assets/test/views/NotificationsRoot.spec.js
Due: lint-frontend

updated notificationsRoot.spec.js test file as per the changes made in its component file
  kolibri/core/assets/src/views/NotificationsRoot.vue
Due: lint-frontend
