Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Deduplicate scheduled syncs so a manual sync reschedules instead of doubling (#15052)
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
Due: none

Move delete_facility logic into auth/utils/delete_facility.py
  kolibri/core/auth/management/commands/deletefacility.py
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/auth/utils/delete_facility.py
Due: none

Move bulk_export logic into auth/utils/bulk_export.py
  kolibri/core/auth/management/commands/bulkexportusers.py
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/auth/test/test_bulk_export.py
  kolibri/core/auth/utils/bulk_export.py
  kolibri/core/logger/tasks.py
  kolibri/core/logger/test/test_api.py
  kolibri/plugins/facility/views.py
Due: none

Move cleanupsyncs, sync, and resumesync logic into auth/utils/sync.py
  kolibri/core/auth/management/commands/cleanupsyncs.py
  kolibri/core/auth/management/commands/resumesync.py
  kolibri/core/auth/management/commands/sync.py
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/auth/utils/sync.py
Due: none

Move bulk_import logic into auth/utils/bulk_import.py
  kolibri/core/auth/management/commands/bulkimportusers.py
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/auth/test/test_bulk_import.py
  kolibri/core/auth/utils/bulk_import.py
Due: none

Show file upload/download/print affordances in app context
  kolibri/plugins/coach/frontend/views/common/ReportsControls.vue
  kolibri/plugins/facility/frontend/views/DataPage/index.vue
  packages/kolibri-common/components/AllPasswordsPage.vue
  packages/kolibri/components/DownloadButton.vue
  packages/kolibri/components/__tests__/DownloadButton.spec.js
Due: lint-frontend

Address review feedback on the new Resource methods
  packages/kolibri/__tests__/api-resource.spec.js
  packages/kolibri/apiResource.js
  packages/kolibri/apiResources/TaskResource.js
  packages/kolibri/composables/__tests__/useFetch.spec.js
Due: lint-frontend

Resolve accept extensions to MIME types for the Android file picker
  kolibri/plugins/facility/frontend/views/ImportCsvPage/Init.vue
  platforms/android/app/src/main/java/org/learningequality/Kolibri/WebViewActivity.java
  platforms/android/app/src/main/java/org/learningequality/Kolibri/util/FileChooserUtils.java
  platforms/android/app/src/test/java/org/learningequality/Kolibri/util/FileChooserUtilsTest.java
Due: lint-frontend

Download facility CSV exports via a link click, not window.open
  kolibri/plugins/facility/frontend/views/DataPage/ImportInterface/index.vue
  kolibri/plugins/facility/frontend/views/DataPage/__tests__/downloadCsvFile.spec.js
  kolibri/plugins/facility/frontend/views/DataPage/downloadCsvFile.js
  kolibri/plugins/facility/frontend/views/DataPage/index.vue
Due: lint-frontend

Offer a real MIME type in the CSV import file picker
  kolibri/plugins/facility/frontend/views/ImportCsvPage/Init.vue
Due: lint-frontend

Save downloads through the app bridge on the WebKit backends
  platforms/desktop-app/kolibri.spec
  platforms/desktop-app/src/kolibri_app/scripts/download.js
  platforms/desktop-app/src/kolibri_app/view.py
  platforms/desktop-app/tests/conftest.py
  platforms/desktop-app/tests/test_download_bridge.py
Due: lint-frontend

Toast the start and outcome of a download on Android
  platforms/android/app/src/main/java/org/learningequality/Kolibri/KolibriJavascriptBridge.java
  platforms/android/app/src/main/java/org/learningequality/Kolibri/WebViewActivity.java
  platforms/android/app/src/main/res/values/strings.xml
Due: none

Migrate existing github.io APT sources to the new host on upgrade
  platforms/apt-repo/migrate-apt-source.sh
  platforms/apt-repo/tests/test_migrate_apt_source.sh
  platforms/debian-server/.gitignore
  platforms/debian-server/Makefile
  platforms/debian-server/debian/install
  platforms/debian-server/debian/postinst
Due: none

Add APT-repo publish workflow and wire it into the server release
  .github/workflows/platform-apt-repo-publish.yml
  .github/workflows/platform-debian-server-release.yml
  .github/workflows/release_kolibri.yml
Due: none

Add one-shot seed script to push the cutover release into old repos
  platforms/apt-repo/seed_old_pages.sh
  platforms/apt-repo/tests/test_seed_old_pages.sh
Due: none

Add reprepro read-modify-write publish for the self-hosted APT repo
  platforms/apt-repo/.gitignore
  platforms/apt-repo/conf/distributions.in
  platforms/apt-repo/publish.sh
  platforms/apt-repo/tests/lib.sh
  platforms/apt-repo/tests/test_publish_empty_prefix_guard.sh
  platforms/apt-repo/tests/test_publish_roundtrip.sh
  pyproject.toml
Due: none

Add end-to-end cutover test and publishing README
  platforms/apt-repo/README.rst
  platforms/apt-repo/tests/e2e_cutover.sh
Due: none

Add kolibri-archive-keyring package for the new APT source
  platforms/apt-repo/keyring/debian/changelog
  platforms/apt-repo/keyring/debian/control
  platforms/apt-repo/keyring/debian/copyright
  platforms/apt-repo/keyring/debian/install
  platforms/apt-repo/keyring/debian/rules
  platforms/apt-repo/keyring/debian/source/format
  platforms/apt-repo/keyring/kolibri-archive-keyring.asc
  platforms/apt-repo/keyring/kolibri.sources
  platforms/apt-repo/tests/test_keyring_install.sh
Due: none

Point the Raspberry Pi APT source at apt.learningequality.org
  platforms/raspberry-pi/base.Pifile
  platforms/raspberry-pi/files/learningequality-kolibri-server.sources
  platforms/raspberry-pi/files/learningequality-kolibri.sources
Due: none

Run the apt-repo shell tests in CI
  .github/workflows/platform-apt-repo-test.yml
Due: none

Remove dead SQLAlchemy helpers from tasks and sqlite utils
  kolibri/core/sqlite/utils.py
  kolibri/core/tasks/utils.py
Due: none

Fix default case-sensitivity of qti-map-entry
  kolibri/plugins/qti_viewer/frontend/utils/qti/__tests__/declarations/mapping.spec.js
  kolibri/plugins/qti_viewer/frontend/utils/qti/declarations/mapping.js
Due: lint-frontend

Add a benchmark for channel import and content annotation
  integration_testing/scripts/content_operations_benchmark.py
Due: none

Reclaim deleted space between iterations and refuse a no-op import
  integration_testing/scripts/content_operations_benchmark.py
Due: none

Fail a capture before it starts, and let warnings past --quiet
  integration_testing/scripts/content_operations_benchmark.py
Due: none

ANALYZE after VACUUM, and create the benchmark home's parents
  integration_testing/scripts/content_operations_benchmark.py
Due: none

Stop AdaptiveHttpReader issuing overlapping range requests
  packages/kolibri-zip/README.md
  packages/kolibri-zip/src/AdaptiveHttpReader.js
  packages/kolibri-zip/test/AdaptiveHttpReader.spec.js
  packages/kolibri-zip/test/index.spec.js
  packages/kolibri-zip/test/rangeOverlaps.js
Due: lint-frontend

Defer a range request that overlaps one already in flight
  packages/kolibri-zip/README.md
  packages/kolibri-zip/src/AdaptiveHttpReader.js
  packages/kolibri-zip/test/AdaptiveHttpReader.spec.js
Due: lint-frontend

Refetch a truncated range response past the browser cache
  packages/kolibri-zip/README.md
  packages/kolibri-zip/src/AdaptiveHttpReader.js
  packages/kolibri-zip/test/AdaptiveHttpReader.spec.js
Due: lint-frontend

Record each finished run of a repeating job, and start the next one clean
  kolibri/core/tasks/job.py
  kolibri/core/tasks/migrations/0005_add_last_finished_fields.py
  kolibri/core/tasks/models.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_storage.py
  kolibri/core/tasks/viewsets/tasks.py
Due: no-swappable-auth-migrations

Show a repeating sync task's last run in the shared display logic
  packages/kolibri-common/components/syncComponentSet/FacilityNameAndSyncStatus/index.vue
  packages/kolibri-common/components/syncComponentSet/FacilityTaskPanelDetails.vue
  packages/kolibri-common/uiText/tasks.js
  packages/kolibri-common/utils/__tests__/syncSchedule.js
  packages/kolibri-common/utils/__tests__/syncTaskUtils.spec.js
  packages/kolibri-common/utils/syncTaskUtils.js
Due: lint-frontend

Show the last run of each schedule on Manage sync schedule
  packages/kolibri-common/components/SyncSchedule/ManageSyncSchedule.vue
Due: lint-frontend

Stop the Facility > Data sync spinner when the run ends
  kolibri/plugins/facility/frontend/views/DataPage/SyncInterface/index.vue
Due: lint-frontend

Shut down already-started servers when one fails to start
  kolibri/core/auth/test/sync_utils.py
Due: none

Keep a repeating task listed on Device > Facilities
  kolibri/plugins/device/frontend/views/FacilitiesPage/FacilitiesTasksPage.vue
  kolibri/plugins/device/frontend/views/FacilitiesPage/__tests__/FacilitiesPage.spec.js
  kolibri/plugins/device/frontend/views/FacilitiesPage/__tests__/FacilitiesTasksPage.spec.js
  kolibri/plugins/device/frontend/views/FacilitiesPage/facilityTasksQueue.js
  kolibri/plugins/device/frontend/views/FacilitiesPage/index.vue
  kolibri/plugins/device/frontend/views/ManageContentPage/TasksBar.vue
Due: lint-frontend

Expose the last finished run on the tasks API
  kolibri/core/auth/test/test_auth_tasks.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/tasks/viewsets/tasks.py
Due: none

Fix Crowdin upload configuration
  .github/workflows/i18n-download.yml
  .github/workflows/i18n-upload.yml
  Makefile
  crowdin.yml
Due: none

Prune unsupported languages from every synced locale tree
  Makefile
  build_tools/i18n/cleanup_unsupported_languages.py
  test/test_crowdin_config.py
  test/test_i18n_cleanup_unsupported_languages.py
Due: none

Add Resource.useUpdate and onSuccess to useRetrieve
  packages/kolibri/__tests__/api-resource.spec.js
  packages/kolibri/apiResource.js
  packages/kolibri/composables/__tests__/useFetch.spec.js
  packages/kolibri/composables/useFetch.js
Due: lint-frontend

Integrate shared viewer chrome across viewers
  kolibri/plugins/bloompub_viewer/frontend/views/BloomPubRendererIndex.vue
  kolibri/plugins/epub_viewer/frontend/views/BottomBar.vue
  kolibri/plugins/epub_viewer/frontend/views/EpubRendererIndex.vue
  kolibri/plugins/epub_viewer/frontend/views/SearchButton.vue
  kolibri/plugins/epub_viewer/frontend/views/SearchSideBar.vue
  kolibri/plugins/epub_viewer/frontend/views/SettingsButton.vue
  kolibri/plugins/epub_viewer/frontend/views/TocButton.vue
  kolibri/plugins/epub_viewer/frontend/views/TopBar.vue
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SearchSideBar.spec.js
  kolibri/plugins/epub_viewer/frontend/views/__tests__/TopBar.spec.js
  kolibri/plugins/html5_viewer/frontend/views/Html5AppRendererIndex.vue
  kolibri/plugins/pdf_viewer/frontend/views/PdfRendererIndex.vue
Due: lint-frontend

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
