Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

remove unnecessary prop drilling
  kolibri/plugins/safe_html5_viewer/frontend/views/SafeHtml5RendererIndex.vue
  packages/kolibri-common/components/SafeHTML/SafeHtmlImage.vue
  packages/kolibri-common/components/SafeHTML/SafeHtmlTable.vue
  packages/kolibri-common/components/SafeHTML/index.js
Due: lint-frontend

remove dublicate property def after rebase
  kolibri/plugins/safe_html5_viewer/frontend/views/SafeHtml5RendererIndex.vue
Due: lint-frontend

Move courses strings to its own translator file
  kolibri/plugins/coach/frontend/composables/useCoreCoach.js
  kolibri/plugins/coach/frontend/routes/coursesRoutes.js
  kolibri/plugins/coach/frontend/views/CoachSideNavEntry.js
  kolibri/plugins/coach/frontend/views/common/commonCoachStrings.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/AssignCourseIndex.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CourseDetails.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/PreviewLearners.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/SelectRecipients.vue
  packages/kolibri-common/components/SidePanelModal/index.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Proposal: New Side Panel component
  kolibri/plugins/coach/frontend/composables/useReturnFocusOnUnmount.js
  kolibri/plugins/coach/frontend/utils/index.js
  kolibri/plugins/coach/frontend/views/common/directives/autofocusFirstEl.js
  kolibri/plugins/coach/frontend/views/common/sidePanel/SidePanelLayout.vue
  kolibri/plugins/coach/frontend/views/common/sidePanel/SidePanelModal.vue
Due: lint-frontend

Set up side panel subpages
  kolibri/plugins/coach/frontend/app.js
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/routes/coursesRoutes.js
  kolibri/plugins/coach/frontend/utils/index.js
  kolibri/plugins/coach/frontend/views/common/commonCoachStrings.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/index.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/AssignCourseIndex.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CourseDetails.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/PreviewLearners.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/SelectRecipients.vue
Due: lint-frontend

Call initClassInfo inside CoursesRootPage
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

Add documentation indicating that APIs are internal
  docs/backend_architecture/index.rst
  docs/getting_started.rst
  kolibri/core/api.py
  kolibri/core/api_urls.py
  kolibri/core/public/api_urls.py
  kolibri/deployment/default/dev_urls.py
Due: none

New release: 0.19.1
  platforms/debian/debian/changelog
Due: none

chore: update Makefile for pnpm
  Makefile
Due: none

ci: update GitHub workflows for pnpm
  .github/workflows/build_whl.yml
  .github/workflows/check_licenses.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/i18n-download.yml
  .github/workflows/i18n-upload.yml
  .github/workflows/npm_publish.yml
  .github/workflows/pr_labels.yml
  .github/workflows/pre-commit.yml
  .github/workflows/update_h5p.yml
  test/conditional/test_licenses.sh
Due: none

Fix docker wheel/pex build
  docker/build_whl.dockerfile
Due: none

Add sync operations and filter utilities for classroom partitioning
  kolibri/core/auth/constants/morango_sync.py
  kolibri/core/auth/kolibri_plugin.py
  kolibri/core/auth/sync_operations.py
  kolibri/core/auth/test/test_sync_operations.py
  kolibri/core/auth/test/test_sync_utils.py
  kolibri/core/auth/utils/sync.py
Due: none

Update Makefile usage of docker-compose
  Makefile
Due: none

Changes in prep for morango 0.8.6
  kolibri/core/auth/sync_operations.py
  kolibri/core/auth/test/test_sync_operations.py
  kolibri/core/auth/utils/sync.py
Due: none

Bump morango to 0.8.6
  requirements/base.txt
Due: none

Add courses models
  kolibri/core/courses/migrations/0001_initial.py
  kolibri/core/courses/models.py
Due: no-swappable-auth-migrations

override calculate_partition method for CourseSession model
  kolibri/core/auth/models.py
  kolibri/core/courses/models.py
Due: none

Add courses viewset
  kolibri/core/api_urls.py
  kolibri/core/auth/utils/delete.py
  kolibri/core/courses/api_urls.py
  kolibri/core/courses/models.py
  kolibri/core/courses/viewsets.py
Due: none

Add unit tests for the courses viewset
  kolibri/core/courses/test/test_api.py
Due: none

migrate according to new hooks architecture
  platforms/desktop-app/src/kolibri_app/application.py
  platforms/desktop-app/src/kolibri_app/kolibri_plugin.py
  platforms/desktop-app/src/kolibri_app/server_manager_posix.py
  platforms/desktop-app/src/kolibri_app/server_process_windows.py
Due: none

fix typo
  platforms/desktop-app/src/kolibri_app/kolibri_plugin.py
  platforms/desktop-app/src/kolibri_app/server_process_windows.py
Due: none

Fix vue-router not found
  kolibri/plugins/coach/package.json
  pnpm-lock.yaml
Due: none

include vue-router in coach plugin
  kolibri/plugins/coach/package.json
  pnpm-lock.yaml
Due: none

warn when --plugins and --file are both given to `kolibri-build prod`
  package.json
  packages/kolibri-build/src/cli.js
Due: none

Implement select course index subpage
  kolibri/plugins/coach/frontend/views/common/resourceSelection/UpdatedResourceSelection.vue
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/index.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/AssignCourseIndex.vue
  packages/kolibri-common/components/SearchBox.vue
  packages/kolibri-common/components/SearchFiltersPanel/index.vue
  packages/kolibri/uiText/commonCoreStrings.js
Due: lint-frontend

Extract LearnersAndGroupsSelector component
  kolibri/plugins/coach/frontend/views/common/assignments/LearnersAndGroupsSelector.vue
  kolibri/plugins/coach/frontend/views/common/assignments/SidePanelRecipientsSelector/LearnersSelectorSidePanel.vue
  kolibri/plugins/coach/frontend/views/common/commonCoachStrings.js
Due: lint-frontend

Implement SelectRecipients and save course session
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/views/common/assignments/LearnersAndGroupsSelector.vue
  kolibri/plugins/coach/frontend/views/common/commonCoachStrings.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
  kolibri/plugins/coach/frontend/views/courses/modals/AssignCourseSuccess.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/index.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/AssignCourseIndex.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/SelectRecipients.vue
  packages/kolibri-common/apiResources/CourseSessionResource.js
  packages/kolibri-common/strings/coursesStrings.js
  packages/kolibri/uiText/commonCoreStrings.js
Due: lint-frontend

Add course modality tag
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  packages/kolibri-common/composables/useCoachMetadataTags.js
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

add modality to the contentnode_previously_omitted_fields array
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
Due: none

linting
  platforms/desktop-app/src/kolibri_app/application.py
  platforms/desktop-app/src/kolibri_app/kolibri_plugin.py
  platforms/desktop-app/src/kolibri_app/server_process_windows.py
Due: none

Removes residue style overrides prop code
  packages/kolibri-common/components/SafeHTML/Lightbox.vue
  packages/kolibri-common/components/SafeHTML/SafeHtmlImage.vue
Due: lint-frontend

Removed more residual code
  packages/kolibri-common/components/SafeHTML/Lightbox.vue
Due: lint-frontend

add dialog polyfill support for better browser compatibility
  packages/kolibri/uiText/commonCoreStrings.js
Due: lint-frontend

set up courselist page
  kolibri/plugins/coach/frontend/composables/useCourses.js
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/modules/coursesRoot/actions.js
  kolibri/plugins/coach/frontend/modules/coursesRoot/index.js
  kolibri/plugins/coach/frontend/modules/pluginModule.js
  kolibri/plugins/coach/frontend/routes/coursesRoutes.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Migrate composable to centralized store for uniform data access
  kolibri/plugins/coach/frontend/composables/__tests__/useCourses.spec.js
  kolibri/plugins/coach/frontend/composables/useCourses.js
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/images/empty_plus_cloud.svg
  kolibri/plugins/coach/frontend/modules/coursesRoot/actions.js
  kolibri/plugins/coach/frontend/routes/coursesRoutes.js
  kolibri/plugins/coach/frontend/routes/utils.js
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

add course deletion, visibility toggle, and enhanced status displays
  kolibri/core/auth/utils/sync.py
  kolibri/plugins/coach/frontend/composables/__tests__/useCourses.spec.js
  kolibri/plugins/coach/frontend/composables/useCourses.js
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/views/common/status/LearnerProgressCount.vue
  kolibri/plugins/coach/frontend/views/common/status/StatusSummary.vue
  kolibri/plugins/coach/frontend/views/common/status/constants.js
  kolibri/plugins/coach/frontend/views/common/status/statusStrings.js
  kolibri/plugins/coach/frontend/views/common/status/tallyMixin.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
  kolibri/plugins/coach/frontend/views/courses/modals/DeleteCourseConfirmation.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/AssignCourseIndex.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

migrate useCourses composable to local reactive refs
  kolibri/plugins/coach/frontend/composables/useCourses.js
Due: lint-frontend

migrate courses logic from vuex to composable
  kolibri/plugins/coach/frontend/composables/useCourses.js
  kolibri/plugins/coach/frontend/modules/coursesRoot/actions.js
  kolibri/plugins/coach/frontend/modules/coursesRoot/index.js
  kolibri/plugins/coach/frontend/modules/pluginModule.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
Due: lint-frontend

Add a new UnitTestAssignment model to manage the status of pre and post tests within course units
  kolibri/core/courses/migrations/0002_unittestassignment.py
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_unit_test_assignment.py
Due: no-swappable-auth-migrations

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
