Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

Split a saved location's fragment from the path the server routes
  platforms/android/app/src/main/java/org/learningequality/Kolibri/WebViewLocation.java
  platforms/android/app/src/test/java/org/learningequality/Kolibri/WebViewLocationTest.java
Due: none

Put the saved fragment back after the page loads, not through next
  platforms/android/app/src/main/java/org/learningequality/Kolibri/WebViewActivity.java
  platforms/android/app/src/test/java/org/learningequality/Kolibri/WebViewActivityTest.java
Due: none

Update stale auth module paths in docs and agent guides
  AGENTS.md
  CLAUDE.md
  docs/backend_architecture/api_patterns.rst
  docs/backend_architecture/uap/implementation.rst
  docs/getting_started.rst
  docs/testing.rst
Due: none

Refresh automation.yml from the shared template
  platforms/debian/.github/workflows/automation.yml
Due: none

Add success burst animation to picture-password submit button
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/PicturePasswordGrid.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/__tests__/PicturePasswordGrid.spec.js
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/animations/Burst-V2.gif
Due: lint-frontend

Restart the burst GIF on each successful sign-in
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/PicturePasswordGrid.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/__tests__/PicturePasswordGrid.spec.js
Due: lint-frontend

Treat a course session with no local recipient as unassigned
  kolibri/core/content/test/utils/test_assignment.py
  kolibri/core/content/utils/assignment.py
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_api.py
  kolibri/core/courses/viewsets/course_session.py
Due: none

Refine tally tests and cover progress bar rendering
  kolibri/plugins/coach/frontend/composables/__tests__/useTally.spec.js
  kolibri/plugins/coach/frontend/views/common/status/__tests__/ProgressSummaryBar.spec.js
Due: lint-frontend

Update checkbox behavior and annoucement of search results
  kolibri/plugins/learn/frontend/views/LibraryPage/HorizontalFilterPills.vue
  kolibri/plugins/learn/frontend/views/LibraryPage/__tests__/HorizontalFilterPills.spec.js
  packages/kolibri-common/composables/useBaseSearch.js
  packages/kolibri-common/strings/searchAndFilterStrings.js
Due: lint-frontend

Fix SkipNavigationLink's focus-target fallback chain and tabindex handling
  packages/kolibri/components/SkipNavigationLink.vue
  packages/kolibri/components/__tests__/SkipNavigationLink.spec.js
Due: lint-frontend

keep screenreader user oriented when clearing filters
  kolibri/plugins/learn/frontend/views/LibraryPage/HorizontalFilterPills.vue
  kolibri/plugins/learn/frontend/views/LibraryPage/LibrarySearchBar.vue
  kolibri/plugins/learn/frontend/views/LibraryPage/__tests__/HorizontalFilterPills.spec.js
  kolibri/plugins/learn/frontend/views/LibraryPage/__tests__/LibrarySearchBar.spec.js
  packages/kolibri-common/composables/__tests__/useBaseSearch.spec.js
  packages/kolibri-common/composables/useBaseSearch.js
Due: lint-frontend

Add kolibri-css-variables package for theme CSS variable names
  .github/workflows/npm_publish.yml
  eslint.config.mjs
  packages/kolibri-css-variables/package.json
  packages/kolibri-css-variables/src/__tests__/themeCssVariableNames.spec.js
  packages/kolibri-css-variables/src/index.js
  packages/kolibri-css-variables/src/themeAccessorRead.js
  packages/kolibri-css-variables/src/themeCssVariableNames.js
  packages/kolibri-css-variables/src/themeCssVariableNaming.js
  pnpm-lock.yaml
Due: lint-frontend

Add theming ESLint rules to the shared frontend config
  packages/eslint-plugin-kolibri/lib/rules/vue-no-root-v-if-with-style-v-bind.js
  packages/eslint-plugin-kolibri/lib/rules/vue-no-theme-accessor-in-inline-styles.js
  packages/eslint-plugin-kolibri/lib/rules/vue-no-theme-tokens-in-v-bind.js
  packages/eslint-plugin-kolibri/package.json
  packages/eslint-plugin-kolibri/tests/lib/rules/themeSourceUnavailable.spec.js
  packages/eslint-plugin-kolibri/tests/lib/rules/vue-no-root-v-if-with-style-v-bind.spec.js
  packages/eslint-plugin-kolibri/tests/lib/rules/vue-no-theme-accessor-in-inline-styles.spec.js
  packages/eslint-plugin-kolibri/tests/lib/rules/vue-no-theme-tokens-in-v-bind.spec.js
  packages/kolibri-format/eslint.config.mjs
  pnpm-lock.yaml
Due: lint-frontend

Add theming stylelint rule to the shared frontend config
  packages/kolibri-format/.stylelintrc.js
  packages/kolibri-format/__tests__/configuration.spec.js
  packages/kolibri-format/package.json
  packages/kolibri-format/stylelint/__tests__/no-unknown-theme-custom-properties.spec.js
  packages/kolibri-format/stylelint/__tests__/themeSourceUnavailable.spec.js
  packages/kolibri-format/stylelint/rules/no-unknown-theme-custom-properties.js
  pnpm-lock.yaml
Due: lint-frontend

Disable vue/one-component-per-file for spec files
  packages/kolibri-format/eslint.config.mjs
Due: none

feat: add build tooling for bundling python-build-standalone
  platforms/debian/Makefile
  platforms/debian/build_tools/manage_python.py
  platforms/debian/build_tools/python_versions.env
  platforms/debian/tests/test_manage_python.py
Due: none

Add LocalFile.upstream_url and content schema VERSION_7
  kolibri/core/content/base_models.py
  kolibri/core/content/constants/schema_versions.py
  kolibri/core/content/contentschema/columns/content_columns_7.py
  kolibri/core/content/contentschema/fixtures/content_import_test.json
  kolibri/core/content/contentschema/schema_ddl/7.sql
  kolibri/core/content/fixtures/7_content_data.json
  kolibri/core/content/migrations/0049_localfile_upstream_url.py
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/test/test_public_api.py
  kolibri/core/content/utils/channel_import.py
Due: no-swappable-auth-migrations

Lint the GNOME app with the monorepo hooks
  .pre-commit-config.yaml
  platforms/flatpak-app/.flake8
  platforms/flatpak-app/.github/workflows/pre-commit.yml
  platforms/flatpak-app/.gitignore
  platforms/flatpak-app/.pre-commit-config.yaml
  platforms/flatpak-app/README.md
  platforms/flatpak-app/ruff.toml
  platforms/flatpak-app/src/kolibri_app/kolibri_settings.py
  pyproject.toml
Due: none

Apply ruff to the GNOME app
  platforms/flatpak-app/build-aux/flatpak/prepare-kolibri-module.py
  platforms/flatpak-app/build-aux/flatpak/smoke_test.py
  platforms/flatpak-app/build-aux/flatpak/sync-flathub.py
  platforms/flatpak-app/build-aux/flatpak/tests/test_channel_launchers.py
  platforms/flatpak-app/build-aux/flatpak/tools/kolibri-listcontent.py
  platforms/flatpak-app/src/kolibri_app/kolibri_plugin.py
  platforms/flatpak-app/src/kolibri_app/utils.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/channel_launchers.py
  platforms/flatpak-app/src/kolibri_app_desktop_xdg_plugin/management/commands/app_desktop_xdg_update_launchers.py
  platforms/flatpak-app/src/kolibri_daemon/application.py
  platforms/flatpak-app/src/kolibri_daemon/desktop_users.py
  platforms/flatpak-app/src/kolibri_daemon/kolibri_service_context.py
  platforms/flatpak-app/src/kolibri_daemon/main.py
  platforms/flatpak-app/src/kolibri_gnome/application.py
  platforms/flatpak-app/src/kolibri_gnome/kolibri_context.py
  platforms/flatpak-app/src/kolibri_gnome/kolibri_daemon_manager.py
  platforms/flatpak-app/src/kolibri_gnome/kolibri_webview.py
  platforms/flatpak-app/src/kolibri_gnome/kolibri_window.py
  platforms/flatpak-app/src/kolibri_gnome/main.py
  platforms/flatpak-app/src/kolibri_gnome/utils.py
  platforms/flatpak-app/src/kolibri_gnome_launcher/application.py
  platforms/flatpak-app/src/kolibri_gnome_launcher/main.py
Due: none

Keep the notification queue alive and off the default database
  kolibri/core/notifications/api.py
  kolibri/core/notifications/tasks.py
  kolibri/core/notifications/test/test_tasks.py
Due: none

Remove the notifications database quick_check and repair_sqlite_db
  kolibri/core/apps.py
  kolibri/core/sqlite/test/__init__.py
  kolibri/core/sqlite/test/test_utils.py
  kolibri/core/sqlite/utils.py
  kolibri/plugins/coach/viewsets/class_summary.py
  kolibri/plugins/coach/viewsets/classroom_notifications.py
Due: none

Replace nonexistent grey palette keys in search autocomplete
  kolibri/plugins/learn/frontend/views/LibraryPage/SearchAutocompleteDropdown.vue
Due: lint-frontend

Download central-source files from their upstream_url
  kolibri/core/content/test/test_channel_upgrade.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/import_export_content.py
  kolibri/core/content/utils/resource_import.py
  kolibri/core/content/utils/upgrade.py
  kolibri/core/discovery/test/test_well_known.py
  kolibri/core/discovery/well_known.py
Due: none

Version the GNOME app from the bundled Kolibri
  platforms/flatpak-app/.bumpversion.toml
  platforms/flatpak-app/.gitignore
  platforms/flatpak-app/README.md
  platforms/flatpak-app/VERSION
  platforms/flatpak-app/build-aux/flatpak/app-version.py
  platforms/flatpak-app/build-aux/flatpak/tests/test_release_scripts.py
  platforms/flatpak-app/data/metainfo/org.learningequality.Kolibri.metainfo.xml.in.in
  platforms/flatpak-app/meson.build
  platforms/flatpak-app/src/kolibri_app/globals.py
  platforms/flatpak-app/src/kolibri_gnome/application.py
Due: none

Build and smoke-test the Flatpak on every Kolibri PR
  .github/githubUtils.js
  .github/workflows/platform-gnome-build_flatpak.yml
  .github/workflows/pr_build_kolibri.yml
  docs/build_system/index.md
  platforms/flatpak-app/.github/workflows/build.yml
  platforms/flatpak-app/.github/workflows/build_flatpak.yml
  platforms/flatpak-app/build-aux/flatpak/org.learningequality.Kolibri.Devel.json
Due: lint-frontend

Replace dead FAQ and translate links in the Flatpak metainfo
  platforms/flatpak-app/data/metainfo/org.learningequality.Kolibri.metainfo.xml.in.in
Due: none

Open a Flathub PR from each Kolibri release
  .github/workflows/platform-gnome-release_flathub.yml
  .github/workflows/release_kolibri.yml
  docs/build_system/index.md
  platforms/flatpak-app/.github/workflows/release-flathub.yml
  platforms/flatpak-app/.gitignore
  platforms/flatpak-app/README.md
  platforms/flatpak-app/build-aux/flatpak/org.learningequality.Kolibri.json
  platforms/flatpak-app/build-aux/flatpak/sync-flathub.py
  platforms/flatpak-app/build-aux/flatpak/tests/test_release_scripts.py
Due: none

Bind Alt+Left/Right to the GNOME window's back/forward
  platforms/flatpak-app/src/kolibri_gnome/kolibri_window.py
Due: none

Type the daemon context's shared values by their Python types
  platforms/flatpak-app/src/kolibri_daemon/kolibri_service_context.py
Due: none

Point the GNOME search handler at ContentNodeViewset
  .github/workflows/pr_build_kolibri.yml
  platforms/flatpak-app/build-aux/flatpak/smoke_test.py
  platforms/flatpak-app/src/kolibri_daemon/kolibri_search_handler.py
Due: none

Restart the GNOME app's daemon when it dies mid-session
  platforms/flatpak-app/src/kolibri_gnome/kolibri_daemon_manager.py
  platforms/flatpak-app/tests/dbus-session.conf
  platforms/flatpak-app/tests/kolibri_gnome_tests/meson.build
  platforms/flatpak-app/tests/kolibri_gnome_tests/test_kolibri_daemon_manager.py
  platforms/flatpak-app/tests/meson.build
Due: none

Spell the kolibri_version key correctly in the GNOME About details
  platforms/flatpak-app/src/kolibri_gnome/kolibri_daemon_manager.py
Due: none

Move the launcher tests' Kolibri stubs into conftest.py
  platforms/flatpak-app/build-aux/flatpak/tests/conftest.py
  platforms/flatpak-app/build-aux/flatpak/tests/test_channel_launchers.py
Due: none

Keep the metered-connection check current in the HTTP process
  platforms/flatpak-app/src/kolibri_daemon/kolibri_http_process.py
Due: none

Bind Ctrl+= to the GNOME app's zoom in
  platforms/flatpak-app/src/kolibri_gnome/application.py
Due: none

Assert the CSV cleanup job is enqueued per export
  kolibri/core/logger/test/test_api.py
Due: none

Raise login validation errors before returning attrs
  kolibri/core/auth/viewsets/session.py
Due: none

Build the bulk-import class set by unpacking
  kolibri/core/auth/management/commands/bulkimportusers.py
Due: none

Drop the mock backport dependency
  pyproject.toml
  python_packages/kolibri-sync-extras-plugin/pyproject.toml
  uv.lock
Due: none
