Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Capture task failures in the error_reports plugin
  kolibri/plugins/error_reports/handlers.py
  kolibri/plugins/error_reports/kolibri_plugin.py
  kolibri/plugins/error_reports/tasks.py
  kolibri/plugins/error_reports/test/test_handlers.py
Due: none

Add API endpoint for reporting frontend errors
  kolibri/plugins/error_reports/api.py
  kolibri/plugins/error_reports/api_urls.py
  kolibri/plugins/error_reports/kolibri_plugin.py
  kolibri/plugins/error_reports/test/test_api.py
Due: none

Batch the per-course completed-content lookup in _consolidate_courses_data
  kolibri/plugins/learn/viewsets.py
Due: none

Enable the error_reports plugin by default
  kolibri/utils/build_config/default_plugins.py
  kolibri/utils/tests/test_main.py
Due: none

Add frontend error capturing to the error_reports plugin
  kolibri/plugins/error_reports/buildConfig.js
  kolibri/plugins/error_reports/frontend/__tests__/breadcrumbs.spec.js
  kolibri/plugins/error_reports/frontend/__tests__/errorQueue.spec.js
  kolibri/plugins/error_reports/frontend/__tests__/index.spec.js
  kolibri/plugins/error_reports/frontend/__tests__/stackFrames.spec.js
  kolibri/plugins/error_reports/frontend/__tests__/utils.spec.js
  kolibri/plugins/error_reports/frontend/breadcrumbs.js
  kolibri/plugins/error_reports/frontend/errorQueue.js
  kolibri/plugins/error_reports/frontend/index.js
  kolibri/plugins/error_reports/frontend/stackFrames.js
  kolibri/plugins/error_reports/frontend/utils.js
  kolibri/plugins/error_reports/kolibri_plugin.py
  kolibri/plugins/error_reports/package.json
  packages/kolibri/client.js
  packages/kolibri/composables/useConnection.js
  packages/kolibri/heartbeat.js
  packages/kolibri/internal/apiSpec.js
  packages/kolibri/internal/disconnection.js
  packages/kolibri/package.json
  packages/kolibri/utils/browserInfo.js
  pnpm-lock.yaml
Due: lint-frontend

Document that exceptions must not be interpolated into log messages
  AGENTS.md
  docs/code_quality.rst
Due: none

Filter related content data by id list, not the live queryset
  kolibri/core/content/api.py
Due: none

Add API tests for LearnerCourseViewset classroom field shape
  kolibri/plugins/learn/test/test_learner_course.py
Due: none

Migrate LearnerCourseViewset to serializer-derived pattern
  kolibri/plugins/learn/viewsets.py
Due: none

Add blame-digestion comments before viewsets.py → package move
  kolibri/plugins/learn/viewsets.py
Due: none

Extract learn viewsets into viewsets/ package; delete viewsets.py
  kolibri/plugins/learn/api_urls.py
  kolibri/plugins/learn/viewsets.py
  kolibri/plugins/learn/viewsets/__init__.py
  kolibri/plugins/learn/viewsets/classroom.py
  kolibri/plugins/learn/viewsets/course.py
  kolibri/plugins/learn/viewsets/lesson.py
Due: none

Precompute SQL F() aliases for plain renames in serializer-derived viewsets
  kolibri/core/api.py
  kolibri/core/test/test_api.py
  kolibri/core/utils/serializer_introspection.py
Due: none

Add blame-derived comments for non-obvious guards in attendance viewsets
  kolibri/core/attendance/api.py
  kolibri/core/attendance/serializers.py
Due: none

Extend AttendanceSessionSerializer with read-path fields; switch to serializer-derived mode
  kolibri/core/attendance/api.py
  kolibri/core/attendance/serializers.py
Due: none

Add AttendanceRecordReadSerializer; switch AttendanceRecordViewSet to serializer-derived mode
  kolibri/core/attendance/api.py
Due: none

Move attendance viewsets and serializers to viewsets/ package
  kolibri/core/attendance/viewsets/__init__.py
  kolibri/core/attendance/viewsets/attendance_record.py
  kolibri/core/attendance/viewsets/attendance_session.py
Due: none

Update imports for attendance viewset relocation to viewsets/
  kolibri/core/attendance/api_urls.py
Due: none

Store precomputed F() objects in _sql_renames rather than column name strings
  kolibri/core/utils/serializer_introspection.py
Due: none

Add QR code login backend (model, auth scope, session API, task, sync)
  kolibri/core/auth/api.py
  kolibri/core/auth/backends.py
  kolibri/core/auth/kolibri_plugin.py
  kolibri/core/auth/migrations/0036_facilityuser_qr_login_token.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/tasks.py
  kolibri/core/auth/utils/qr_tokens.py
Due: no-swappable-auth-migrations

Add QR code login frontend (sign-in page, scanner, cards, profile)
  kolibri/plugins/facility/frontend/composables/useFacilityEditor.js
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
  kolibri/plugins/user_auth/frontend/composables/useAuthRouter.js
  kolibri/plugins/user_auth/frontend/constants.js
  kolibri/plugins/user_auth/frontend/routes.js
  kolibri/plugins/user_auth/frontend/views/AuthBase.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/QRSignIn/QRScanner.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/QRSignIn/QRSignInConfirmModal.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/QRSignInPage.vue
  kolibri/plugins/user_profile/frontend/views/ProfilePage/index.vue
  packages/kolibri-common/components/AllPasswordsPage.vue
  packages/kolibri-common/components/LearnerQRCard.vue
  packages/kolibri-common/components/UserQRCode.vue
  packages/kolibri-common/composables/useFacility.js
  packages/kolibri-common/constants/Auth.js
  packages/kolibri-common/package.json
  packages/kolibri-common/strings/qrLoginStrings.js
Due: lint-frontend

Add tests for QR code login (Python + Jest)
  kolibri/core/auth/test/helpers.py
  kolibri/core/auth/test/test_qr_auth.py
  kolibri/core/auth/test/test_qr_login_viewset.py
  kolibri/core/auth/test/test_qr_role_signals.py
  kolibri/core/auth/test/test_qr_tokens.py
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/QRScanner.spec.js
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/QRSignInPage.spec.js
  packages/kolibri-common/components/__tests__/LearnerQRCard.spec.js
  packages/kolibri-common/components/__tests__/UserQRCode.spec.js
Due: lint-frontend

Add docs/howtos/qr_login.md with threat model, HTTPS caveat, Android note
  docs/howtos/index.rst
  docs/howtos/qr_login.md
Due: none

Apply pre-commit auto-fixes (black, import reorder) and add @zxing lockfile entries
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_qr_auth.py
  kolibri/core/auth/test/test_qr_login_viewset.py
  kolibri/core/auth/test/test_qr_tokens.py
  kolibri/core/auth/utils/qr_tokens.py
  pnpm-lock.yaml
Due: none

Fix test_coach_not_authenticated_via_qr_token: assign token after add_coach
  kolibri/core/auth/test/test_qr_auth.py
Due: none

Fix KDS import paths and align Jest tests with jsdom constraints
  kolibri/plugins/user_auth/frontend/views/SignInPage/QRSignIn/QRScanner.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/QRScanner.spec.js
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/QRSignInPage.spec.js
  packages/kolibri-common/components/UserQRCode.vue
  packages/kolibri-common/components/__tests__/UserQRCode.spec.js
Due: lint-frontend

Add dev-qr-start.ps1 / dev-qr-stop.ps1 startup and shutdown scripts
  dev-qr-start.ps1
  dev-qr-stop.ps1
  dev_setup_qr.py
Due: none

Add start-kolibri.ps1: complete startup script for local dev instance
  start-kolibri.ps1
Due: none

Add @zxing deps, Dart Sass /deep/ patch, and epub_viewer SCSS fix
  kolibri/plugins/epub_viewer/frontend/views/EpubStyles.scss
  package.json
  packages/kolibri/package.json
  patches/sass@1.69.0.patch
  pnpm-lock.yaml
Due: lint-frontend

Add QR_LOGIN_IMPLEMENTATION.md: architecture, data flow, remaining work
  QR_LOGIN_IMPLEMENTATION.md
Due: none

Add Student ID Card viewer with photo upload, QR display, and print
  kolibri/core/auth/api.py
  kolibri/core/auth/migrations/0037_facilityuser_profile_image.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/plugins/facility/frontend/baseRoutes.js
  kolibri/plugins/facility/frontend/constants.js
  kolibri/plugins/facility/frontend/routes.js
  kolibri/plugins/facility/frontend/views/FacilityManagementSideNavEntry.js
  kolibri/plugins/facility/frontend/views/idCards/IdCardsPage.vue
  packages/kolibri-common/apiResources/FacilityUserResource.js
  packages/kolibri-common/components/LearnerQRCard.vue
  packages/kolibri-common/components/RegenerateQRModal.vue
  packages/kolibri-common/components/StudentIdCard.vue
  packages/kolibri-common/strings/qrLoginStrings.js
Due: lint-frontend, no-swappable-auth-migrations

Fix: add 'Enter username instead' link on QR sign-in page
  kolibri/plugins/user_auth/frontend/views/AuthBase.vue
Due: lint-frontend

Redesign print to 2x3 inch cards with multi-select and brand logo
  kolibri/plugins/facility/frontend/views/idCards/IdCardsPage.vue
  packages/kolibri-common/components/PrintableIdCards.vue
  packages/kolibri-common/components/StudentIdCard.vue
  packages/kolibri-common/strings/qrLoginStrings.js
Due: lint-frontend

Fix print layout: proper @page margins and hide non-print content
  kolibri/plugins/facility/frontend/views/idCards/IdCardsPage.vue
  packages/kolibri-common/components/PrintableIdCards.vue
Due: lint-frontend

Add tests for profile_image, rotate_qr_token, StudentIdCard, RegenerateQRModal
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_qr_id_cards.py
  packages/kolibri-common/components/__tests__/RegenerateQRModal.spec.js
  packages/kolibri-common/components/__tests__/StudentIdCard.spec.js
Due: lint-frontend

Implement remaining QR login features: rate limiting, task UI, coach QR, attendance scan, user edit print, info modal, Android docs
  docs/howtos/qr_login.md
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_qr_auth.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/settings/dev.py
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/coach/frontend/views/attendance/AttendanceFormTable.vue
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendancePages.spec.js
  kolibri/plugins/coach/frontend/views/learners/LearnerSummaryPage/LearnerHeader.vue
  kolibri/plugins/coach/frontend/views/learners/LearnerSummaryPage/__tests__/LearnerHeader.spec.js
  kolibri/plugins/coach/test/test_class_summary.py
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/QrLoginInfoModal.vue
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/frontend/views/UserEditPage.vue
  packages/kolibri-common/strings/qrLoginStrings.js
Due: lint-frontend

Add test coverage for profile_image creation, bulk task, PrintableIdCards, QRSignInConfirmModal
  kolibri/core/auth/test/test_qr_id_cards.py
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/QRSignInConfirmModal.spec.js
  packages/kolibri-common/components/__tests__/PrintableIdCards.spec.js
Due: lint-frontend

Remove i18n English-only gate, add IdCardsPage test, file Android issue
  kolibri/plugins/facility/frontend/views/__tests__/IdCardsPage.spec.js
  packages/kolibri-common/composables/useFacility.js
  packages/kolibri-common/strings/qrLoginStrings.js
Due: lint-frontend

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
