Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

Reverts scroll listener loadinf to on mounted
  kolibri/plugins/safe_html5_viewer/frontend/views/SafeHtml5RendererIndex.vue
Due: lint-frontend

Adds behavioural tests
  kolibri/plugins/safe_html5_viewer/frontend/views/SafeHtml5RendererIndex.vue
  kolibri/plugins/safe_html5_viewer/frontend/views/__tests__/SafeHtml5RendererIndex.spec.js
Due: lint-frontend

Implements simple scroll progress tracking for safe httml5 renderer
  kolibri/plugins/safe_html5_viewer/frontend/views/SafeHtml5RendererIndex.vue
Due: lint-frontend

Fixes failing tests
  kolibri/plugins/safe_html5_viewer/frontend/views/__tests__/SafeHtml5RendererIndex.spec.js
Due: lint-frontend

Update index to pass simplified props and attrs to SafeHtmlTable,
  packages/kolibri-common/components/SafeHTML/index.js
Due: lint-frontend

simplify SafeHtmlTable component
  packages/kolibri-common/components/SafeHTML/SafeHtmlTable.vue
Due: lint-frontend

update test
  packages/kolibri-common/components/SafeHTML/SafeHtmlTable.vue
  packages/kolibri-common/components/SafeHTML/__tests__/SafeHtmlTable.spec.js
  packages/kolibri-common/components/SafeHTML/index.js
Due: lint-frontend

Replace options__contains='modality: QUIZ' queries with direct field lookups indexed modality field
  kolibri/core/content/api.py
  kolibri/plugins/coach/kolibri_plugin.py
Due: none

Add test coverage for the refactored contains_quiz for modality-based quiz filtering
  kolibri/core/content/test/test_content_app.py
Due: none

Fix AttributeError in process_user_downloads_for_removal
  kolibri/core/content/utils/content_request.py
Due: none

Update TreeQueryMixin.gc_by_parent to use collections.defaultdict to create a new empty list when first accessed
  kolibri/core/content/api.py
Due: none

Add to contentnode_filter_fields & test to confirm it works as expected
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
Due: none

fix(docs): correct spelling mistakes in documentation files
  CHANGELOG.md
  docker/readme.md
  docs/howtos/nodeenv.md
Due: none

Delete ConfirmResetModal.vue and related references from FacilityConfigPage
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/ConfirmResetModal.vue
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
Due: lint-frontend

Remove unused KButtonGroup and windowIsSmall; reposition save changes button on Facility Settings page
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
Due: lint-frontend

Delete resetFacilityConfig action and update facility config tests to remove unused references to resetFacilityConfig and resetButton
  kolibri/plugins/facility/frontend/modules/facilityConfig/__tests__/facilityConfig.spec.js
  kolibri/plugins/facility/frontend/modules/facilityConfig/actions.js
  kolibri/plugins/facility/frontend/modules/facilityConfig/index.js
  kolibri/plugins/facility/frontend/views/__tests__/facility-config-page.spec.js
Due: lint-frontend

Remove unnecessary KGrid from FacilityConfigPage
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
Due: lint-frontend

Add regression test for process_user_downloads_for_removal None check
  kolibri/core/content/test/utils/test_content_request.py
Due: none

Prevent crash in content cleanup when no eligible user downloads are available (#14054)
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/content_request.py
Due: none

Exclude surveys from quizzes resource selection
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/plugins/coach/frontend/views/quizzes/CreateExamPage/sidePanels/QuizResourceSelection/index.vue
  yarn.lock
Due: lint-frontend

Remove 'Reset to Defaults' Facility Settings button from UI (#14060)
  kolibri/plugins/facility/frontend/modules/facilityConfig/__tests__/facilityConfig.spec.js
  kolibri/plugins/facility/frontend/modules/facilityConfig/actions.js
  kolibri/plugins/facility/frontend/modules/facilityConfig/index.js
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/ConfirmResetModal.vue
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/frontend/views/__tests__/facility-config-page.spec.js
Due: lint-frontend

Add initial core corses Django app files
  kolibri/core/courses/__init__.py
  kolibri/core/courses/api_urls.py
  kolibri/core/courses/migrations/__init__.py
  kolibri/core/courses/models.py
  kolibri/core/courses/test/__init__.py
  kolibri/core/courses/viewsets.py
  kolibri/deployment/default/settings/base.py
Due: no-swappable-auth-migrations

Add new user pages to facilityPageLinks to fix facility guard redirection
  kolibri/plugins/facility/frontend/modules/pluginModule.js
Due: lint-frontend

Add courses_exist property to coach plugin_data.
  kolibri/plugins/coach/kolibri_plugin.py
Due: none

Enforce provisioning redirect in middleware
  kolibri/core/device/middleware.py
  kolibri/core/device/test/test_provisioning_middleware.py
Due: none

Upgrade KDS to take advantage of reduced build sizes from lodash
  packages/kolibri/package.json
  yarn.lock
Due: none

remove varchar_pattern_ops index
  kolibri/core/content/migrations/0042_remove_modality.py
  kolibri/core/content/models.py
Due: no-swappable-auth-migrations

Set up initial courses frontend structure
  kolibri/plugins/coach/frontend/app.js
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/routes/baseRoutes.js
  kolibri/plugins/coach/frontend/routes/coursesRoutes.js
  kolibri/plugins/coach/frontend/routes/index.js
  kolibri/plugins/coach/frontend/routes/utils.js
  kolibri/plugins/coach/frontend/views/CoachSideNavEntry.js
  kolibri/plugins/coach/frontend/views/common/commonCoachStrings.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/kolibri_plugin.py
Due: lint-frontend

use existing translated string in place of untranslated one
  kolibri/plugins/device/frontend/views/WelcomeModal.vue
Due: lint-frontend

Add @import support to CSS file utilities.
  packages/kolibri-zip/src/fileUtils.js
  packages/kolibri-zip/test/fileUtils.spec.js
Due: lint-frontend

Add backwards-compatible CSS path regex for older browsers
  packages/kolibri-zip/src/fileUtils.js
  packages/kolibri-zip/test/fileUtils.spec.js
Due: lint-frontend

Fix jobs stuck in SELECTED state after worker failure
  kolibri/core/tasks/test/taskrunner/test_worker.py
  kolibri/core/tasks/worker.py
Due: none

update changelog for 0.19.1
  CHANGELOG.md
Due: none

chore: migrate from yarn to pnpm
  .npmrc
  .pre-commit-config.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: none

chore: update package.json files for pnpm
  kolibri/core/package.json
  kolibri/plugins/bloompub_viewer/package.json
  kolibri/plugins/coach/package.json
  kolibri/plugins/demo_server/package.json
  kolibri/plugins/device/package.json
  kolibri/plugins/epub_viewer/package.json
  kolibri/plugins/facility/package.json
  kolibri/plugins/html5_viewer/package.json
  kolibri/plugins/learn/package.json
  kolibri/plugins/media_player/package.json
  kolibri/plugins/pdf_viewer/package.json
  kolibri/plugins/perseus_viewer/package.json
  kolibri/plugins/policies/package.json
  kolibri/plugins/qti_viewer/package.json
  kolibri/plugins/safe_html5_viewer/package.json
  kolibri/plugins/slideshow_viewer/package.json
  kolibri/plugins/user_auth/package.json
  kolibri/plugins/user_profile/package.json
  package.json
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-app/package.json
  packages/kolibri-build/package.json
  packages/kolibri-common/package.json
  packages/kolibri-format/package.json
  packages/kolibri-i18n/package.json
  packages/kolibri-jest-config/package.json
  packages/kolibri-module/package.json
  packages/kolibri-sandbox/package.json
  packages/kolibri-tools/package.json
  packages/kolibri-viewer/package.json
  packages/kolibri-zip/package.json
  packages/kolibri/package.json
Due: none

chore: update build tooling for pnpm compatibility
  jest.conf.js
  kolibri/plugins/pdf_viewer/buildConfig.js
  packages/build_kolibri_package.js
  packages/kolibri-build/src/cli.js
  packages/kolibri-build/src/webpack.config.base.js
  packages/kolibri-build/src/webpack.config.plugin.js
  packages/kolibri-format/.eslintrc.js
  packages/kolibri-format/index.js
  packages/kolibri-jest-config/jest.conf/index.js
Due: lint-frontend

chore: update test snapshots and components
  kolibri/plugins/coach/frontend/views/reports/__tests__/__snapshots__/ReportsLearnersTable.spec.js.snap
  kolibri/plugins/device/frontend/views/ManageTasksPage/__tests__/__snapshots__/TaskPanel.spec.js.snap
  packages/kolibri/components/onboarding/TooltipTour.vue
Due: lint-frontend

docs: update documentation for pnpm migration
  README.md
  docs/frontend_architecture/dependencies.rst
  docs/frontend_architecture/frontend_build_pipeline.rst
  docs/getting_started.rst
  docs/howtos/development_with_kds.md
  docs/howtos/nodeenv.md
  docs/howtos/preview_on_mobile.md
  docs/i18n.rst
  docs/manual_testing/app_plugin/index.rst
  docs/manual_testing/performance_testing/load_testing.rst
  kolibri/plugins/perseus_viewer/frontend/dist/README.md
  packages/kolibri-sandbox/README.md
Due: none

switch theming from CSS variables to theme variable colors
  kolibri/plugins/safe_html5_viewer/frontend/views/SafeHtml5RendererIndex.vue
  packages/kolibri-common/components/SafeHTML/SafeHtmlImage.vue
  packages/kolibri-common/components/SafeHTML/SafeHtmlTable.vue
  packages/kolibri-common/components/SafeHTML/index.js
  packages/kolibri-common/components/SafeHTML/style.scss
Due: lint-frontend
