Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

Declare Python 3.14 support in setup.py
  setup.py
Due: none

Split test deps for py3.14: pytest 7+ on Python >=3.10
  pytest.ini
  requirements/test.txt
Due: none

Add Python 3.14 to tox, handle le-utils/morango version split
  requirements/base.txt
  tox.ini
Due: none

Add Python 3.14 to CI test matrix
  .github/workflows/tox.yml
Due: none

ressolve the rtibblesbot suggestions
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfRendererIndex.spec.js
Due: lint-frontend

Copy AssesmentWrapper to courses folder
  kolibri/plugins/learn/frontend/views/courses/AssessmentWrapper/ExerciseAttempts/AnswerIcon.vue
  kolibri/plugins/learn/frontend/views/courses/AssessmentWrapper/ExerciseAttempts/index.vue
  kolibri/plugins/learn/frontend/views/courses/AssessmentWrapper/LessonMasteryBar.vue
  kolibri/plugins/learn/frontend/views/courses/AssessmentWrapper/index.vue
Due: lint-frontend

Adapt AssesmentWrapper to use ResourceLayout
  kolibri/plugins/learn/frontend/views/courses/AssessmentWrapper/LessonMasteryBar.vue
  kolibri/plugins/learn/frontend/views/courses/AssessmentWrapper/index.vue
  kolibri/plugins/perseus_viewer/frontend/views/PerseusRendererIndex.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Connect new AssesmentWrapper to CourseUnitView
  kolibri/plugins/learn/frontend/views/CourseUnitView/CourseContentViewer.vue
  kolibri/plugins/learn/frontend/views/CourseUnitView/index.vue
  kolibri/plugins/learn/frontend/views/CourseUnitView/useCourseContentProgressTracking.js
Due: lint-frontend

Add unit tests for AssessmentWrapper
  kolibri/plugins/learn/frontend/views/courses/AssessmentWrapper/__tests__/AssessmentWrapper.spec.js
  kolibri/plugins/learn/frontend/views/courses/AssessmentWrapper/index.vue
Due: lint-frontend

address PR comments
  kolibri/plugins/learn/frontend/views/AssessmentWrapper/index.vue
  kolibri/plugins/learn/frontend/views/CourseUnitView/CourseContentViewer.vue
  kolibri/plugins/learn/frontend/views/courses/AssessmentWrapper/index.vue
Due: lint-frontend

Fix course unit navigation issues
  kolibri/plugins/learn/frontend/views/CourseUnitView/UnitTreeAccordion/index.vue
  kolibri/plugins/learn/frontend/views/CourseUnitView/index.vue
  kolibri/plugins/learn/frontend/views/ResourceLayout/index.vue
Due: lint-frontend

Update python tests for UnitTestAssignment new closed field
  kolibri/core/courses/test/test_api.py
  kolibri/core/courses/viewsets.py
  kolibri/plugins/learn/test/test_learner_course.py
Due: none

Convert epub viewer settings tests to Vue Testing Library
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SettingsButton.spec.js
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SettingsSideBar.spec.js
Due: lint-frontend

Add Django BaseContext.__copy__ monkey patch for Python 3.14
  kolibri/utils/env.py
Due: none

Migrate epub viewer search tests to Vue Testing Library
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SearchButton.spec.js
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SearchSideBar.spec.js
Due: lint-frontend

Add AttendanceSession and AttendanceRecord models
  kolibri/core/attendance/__init__.py
  kolibri/core/attendance/migrations/0001_initial_attendance_models.py
  kolibri/core/attendance/migrations/__init__.py
  kolibri/core/attendance/models.py
  kolibri/core/attendance/test/__init__.py
  kolibri/core/attendance/test/test_models.py
  kolibri/core/auth/utils/delete.py
  kolibri/deployment/default/settings/base.py
Due: no-swappable-auth-migrations

Use Kolibri's stop() for graceful server shutdown on Windows
  platforms/desktop-app/src/kolibri_app/server_manager_windows.py
Due: none

similar try/catch in similar func
  kolibri/core/auth/utils/users.py
Due: none

raise AuthenticationFailed instead of ResourceGoneError
  kolibri/core/auth/utils/users.py
Due: none

except NetworkLocationConnectionFailure alone
  kolibri/core/auth/utils/users.py
Due: none

Add tests for error paths in get_remote_user_info and get_remote_users_info
  kolibri/core/auth/test/test_utils.py
Due: none

Add pre/post test branch to _get_context with hash-based A/B determination
  kolibri/core/logger/api.py
  kolibri/core/logger/test/test_integrated_api.py
Due: none

Handle PRE_POST_TEST in mastery log creation and attempt retrieval
  kolibri/core/logger/api.py
  kolibri/core/logger/test/test_integrated_api.py
Due: none

Add unit_id and test_type fields to StartSessionSerializer with validation
  kolibri/core/logger/api.py
  kolibri/core/logger/test/test_integrated_api.py
Due: none

feat: add check-source subcommand and make build_package idempotent
  platforms/debian-server/.github/workflows/build_debian.yml
  platforms/debian-server/scripts/launchpad_copy.py
Due: none

test: remove over-mocked tests that don't verify real behavior
  platforms/debian-server/tests/test_launchpad_copy.py
Due: none

fix: use Makefile targets in build_debian, install kolibri before packaging
  platforms/debian-server/.github/workflows/build_debian.yml
Due: none

refactor: extract setup steps into Makefile, rewrite installtest workflow
  platforms/debian-server/.github/workflows/installtest.yml
  platforms/debian-server/Makefile
  platforms/debian-server/test/Dockerfile
  platforms/debian-server/test/setup_ppa.sh
Due: none

fix: replace unsupported --output-directory flag in dist target
  platforms/debian-server/Makefile
Due: none

fix: ignore tarignore'd paths in dpkg-source diff
  platforms/debian-server/.tarignore
  platforms/debian-server/debian/source/options
Due: none

fix: use dynamic series detection and fix debsign
  platforms/debian-server/.github/workflows/build_debian.yml
  platforms/debian-server/.github/workflows/installtest.yml
  platforms/debian-server/Makefile
  platforms/debian-server/test/setup_ppa.sh
Due: none

Fix test dep issues found during tox verification
  requirements/cext.txt
  requirements/test.txt
Due: none

Test and fix regression that prevented copying of default database.
  kolibri/utils/main.py
  kolibri/utils/tests/test_main.py
Due: none

fixed SearchSideBar focus test to verify focusOnInput method
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SearchSideBar.spec.js
Due: lint-frontend

removed leftover comment renderComponent & added a newline at the end as well
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SearchSideBar.spec.js
Due: lint-frontend

Convert epub viewer settings unit tests to Vue Testing Library for SettingsButton.spec.js and SettingsSideBar.spec.js (#14280)
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SettingsButton.spec.js
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SettingsSideBar.spec.js
Due: lint-frontend

resolve string mismatch
  kolibri/plugins/learn/frontend/views/CourseWelcomePage.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Refactor user auth layout tests to use Vue Testing Library
  kolibri/plugins/user_auth/frontend/views/__tests__/auth-base.spec.js
  kolibri/plugins/user_auth/frontend/views/__tests__/auth-select-page.spec.js
  kolibri/plugins/user_auth/frontend/views/__tests__/user-page.spec.js
Due: lint-frontend

revised changelog summary
  CHANGELOG.md
Due: none

Vendor NSSM 2.24 binary instead of downloading at build time
  platforms/desktop-app/.github/workflows/build_windows.yml
  platforms/desktop-app/Makefile
  platforms/desktop-app/kolibri.iss
  platforms/desktop-app/kolibri.spec
  platforms/desktop-app/vendor/nssm/nssm.exe
Due: none
