Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

test: add validation and blur tests for ChannelTokenModal
  kolibri/plugins/device/frontend/views/__tests__/ChannelTokenModal.spec.js
Due: lint-frontend

test: add async and error handling tests for ChannelTokenModal
  kolibri/plugins/device/frontend/views/__tests__/ChannelTokenModal.spec.js
Due: lint-frontend

test: migrate ChannelTokenModal - all 7 tests passing
  kolibri/plugins/device/frontend/views/__tests__/ChannelTokenModal.spec.js
Due: lint-frontend

test: address bot feedback - button queries by name, disabled state, error assertions
  kolibri/plugins/device/frontend/views/__tests__/ChannelTokenModal.spec.js
Due: lint-frontend

test: improve textbox query robustness
  kolibri/plugins/device/frontend/views/__tests__/ChannelTokenModal.spec.js
Due: lint-frontend

Default-enable QR login and remove English-only gate
  kolibri/core/auth/migrations/0038_alter_facilitydataset_enable_qr_login.py
  kolibri/core/auth/models.py
  packages/kolibri-common/composables/useFacility.js
Due: lint-frontend, no-swappable-auth-migrations

Seed reserved NetworkLocation rows via post_migrate in DiscoveryConfig
  kolibri/core/discovery/apps.py
  kolibri/core/discovery/test/test_api.py
  kolibri/core/discovery/test/test_apps.py
Due: none

Update preseed DB check to allow reserved NetworkLocation rows
  build_tools/preseed_home.sh
Due: none

Suppress browserslist warning in webpackRtlPlugin tests
  packages/kolibri-build/src/__tests__/webpackRtlPlugin.spec.js
Due: none

Point installer workflow refs to fork tags for testing
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Due: none

Bump psycopg2-binary to 2.9.11 and add Python 3.14 to postgres_ssl CI
  .github/workflows/tox.yml
  pyproject.toml
  uv.lock
Due: none

Pin setuptools-scm<10 to fix WHL build
  pyproject.toml
Due: none

Rename 24 kebab-case spec files to PascalCase to match source components
  kolibri/plugins/facility/frontend/views/__tests__/FacilityAppBarPage.spec.js
  kolibri/plugins/facility/frontend/views/__tests__/FacilityConfigPage.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/AssessmentWrapper.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/BookmarkPage.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/BrowseResourceMetadata.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/CompletionModal.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/CourseWelcomePage.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/CurrentlyViewedResourceMetadata.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/DeviceConnectionStatus.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/ExploreLibrariesPage.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/LearnIndex.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/LearningActivityBar.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/LibraryAndChannelBrowserMainContent.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/LibraryPage.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/ResumableContentGrid.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/SearchResultsGrid.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/TopicSubsection.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/TopicsContentPage.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/TopicsPage.spec.js
  kolibri/plugins/user_auth/frontend/views/__tests__/AuthBase.spec.js
  kolibri/plugins/user_auth/frontend/views/__tests__/AuthSelect.spec.js
  kolibri/plugins/user_auth/frontend/views/__tests__/SignInPage.spec.js
  kolibri/plugins/user_auth/frontend/views/__tests__/SignUpPage.spec.js
  kolibri/plugins/user_auth/frontend/views/__tests__/UserAuthIndex.spec.js
Due: lint-frontend

Restore onMyOwnWelcomeMessage$ in WelcomeModal, removing 0.19 workaround
  kolibri/plugins/device/frontend/views/WelcomeModal.vue
Due: lint-frontend

Consolidate H5P update into monthly dependency_updates workflow
  .github/workflows/dependency_updates.yml
Due: none

Add pre-commit hook auto-update job to dependency_updates workflow
  .github/workflows/dependency_updates.yml
Due: none

Build against a provided Kolibri wheel instead of a committed pin
  platforms/flatpak-app/.gitignore
  platforms/flatpak-app/README.md
  platforms/flatpak-app/build-aux/flatpak/modules/python3-kolibri.json
  platforms/flatpak-app/build-aux/flatpak/modules/python3-kolibri.json.in
  platforms/flatpak-app/build-aux/flatpak/prepare-kolibri-module.py
Due: none

Migrate Kolibri integration to the 0.19 hooks architecture
  platforms/flatpak-app/build-aux/flatpak/modules/python3-kolibri-desktop-auth-plugin.json
  platforms/flatpak-app/build-aux/flatpak/org.learningequality.Kolibri.Devel.json
  platforms/flatpak-app/src/kolibri_app/kolibri_plugin.py
  platforms/flatpak-app/src/kolibri_app/meson.build
  platforms/flatpak-app/src/kolibri_daemon/application.py
  platforms/flatpak-app/src/kolibri_daemon/kolibri_app_interface.py
  platforms/flatpak-app/src/kolibri_daemon/kolibri_http_process.py
  platforms/flatpak-app/src/kolibri_daemon/kolibri_service_context.py
  platforms/flatpak-app/src/kolibri_daemon/kolibri_utils.py
  platforms/flatpak-app/src/kolibri_daemon/meson.build
  platforms/flatpak-app/src/kolibri_gnome/kolibri_context.py
  platforms/flatpak-app/src/kolibri_gnome/kolibri_daemon_manager.py
  platforms/flatpak-app/src/libkolibri_daemon_dbus/org.learningequality.Kolibri.Daemon.xml
Due: none

Add outline Gherkin stories for QTI assessment rendering
  integration_testing/features/learner/learner-engage-qti-assessment.feature
Due: none

Add new contributors to AUTHORS.md
  AUTHORS.md
Due: none

Add jest patterns to dependabot.yml
  .github/dependabot.yml
Due: none

Change exclude-newer date format in pyproject.toml
  platforms/desktop-app/pyproject.toml
Due: none

Initialize Perseus widget registry in stateSerialization test
  kolibri/plugins/perseus_viewer/frontend/__tests__/stateSerialization.spec.js
Due: lint-frontend

Add ModelFactory helper as a factory_boy replacement
  kolibri/core/test/model_factory.py
Due: none

Rewrite auth test_api.py factories without factory_boy
  kolibri/core/auth/test/test_api.py
Due: none

Rewrite logger factory_logger.py factories without factory_boy
  kolibri/core/logger/test/factory_logger.py
Due: none

Rewrite auth test_utils.py factories without factory_boy
  kolibri/core/auth/test/test_utils.py
Due: none

Rewrite public test_api.py factories without factory_boy
  kolibri/core/public/test/test_api.py
Due: none

Swap factory.django.mute_signals for morango's mute_signals
  kolibri/core/auth/test/test_picture_passwords.py
Due: none

Remove factory-boy and fake-factory dependencies
  pyproject.toml
  uv.lock
Due: none

Extend setUpTestData usage in auth test_api.py
  kolibri/core/auth/test/test_api.py
Due: none

feat: conditionally style checkboxes for multi-select interactions
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
Due: lint-frontend

test: choice interaction answerGuide rendering
  kolibri/plugins/qti_viewer/frontend/components/interactions/__tests__/ChoiceInteraction.spec.js
  kolibri/plugins/qti_viewer/frontend/composables/useAnswerGuide.js
Due: lint-frontend

feat: add generic answer guide box
  kolibri/plugins/qti_viewer/frontend/components/AnswerGuide.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/composables/useAnswerGuide.js
Due: lint-frontend

fix: hidden control input checkmark false renders
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
Due: lint-frontend

fix: replace style rules with logical properties for RTL support
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/SimpleChoice.vue
Due: lint-frontend

style: update choice interaction styles to match the spec
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/SimpleChoice.vue
Due: lint-frontend

style: change checkmark styles
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
Due: lint-frontend

style: update simple choice styles to match the spec
  kolibri/plugins/qti_viewer/frontend/components/interactions/SimpleChoice.vue
Due: lint-frontend

fix: linting errors
  kolibri/plugins/qti_viewer/frontend/composables/useAnswerGuide.js
Due: lint-frontend

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
