Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

cleans up QA styles
  packages/kolibri-common/components/Cards/AccessibleFolderCard.vue
  packages/kolibri-common/components/Cards/AccessibleResourceCard.vue
Due: lint-frontend

Update changelog for 0.17.2
  CHANGELOG.md
Due: none

Add migrations for bloompub and bloomd extension
  kolibri/core/content/migrations/0038_alter_localfile_extension.py
Due: no-swappable-auth-migrations

UserTable: tests ignored, proactive regression avoidance around KCheckbox
  kolibri/core/assets/src/views/UserTable/__tests__/index.spec.js
  kolibri/core/assets/src/views/UserTable/index.vue
Due: lint-frontend

appendToRoot changed to appendToOverlay, passes tests
  kolibri/core/assets/src/views/language-switcher/LanguageSwitcherModal.vue
  packages/kolibri-common/components/SearchFiltersPanel/CategorySearchModal/index.vue
Due: lint-frontend

add indeterminate state to filteredchannellistcontainer
  kolibri/plugins/device/assets/src/views/ManageContentPage/FilteredChannelListContainer.vue
Due: lint-frontend

update "Individual learners" select all to use indeterminate status
  kolibri/plugins/coach/assets/src/views/plan/assignments/IndividualLearnerSelector.vue
Due: lint-frontend

KCheckbox updates in deletecontent modal and select all in tree viewer
  kolibri/plugins/device/assets/src/views/SelectContentPage/ContentTreeViewer.vue
  kolibri/plugins/device/assets/src/views/SelectContentPage/DeleteResourcesModal.vue
Due: lint-frontend

add indeterminate state to select all in usertable
  kolibri/core/assets/src/views/UserTable/index.vue
Due: lint-frontend

Make error reporting pluggable.
  kolibri/__init__.py
  kolibri/core/api_urls.py
  kolibri/core/assets/src/api-resources/errorReport.js
  kolibri/core/assets/src/api-resources/index.js
  kolibri/core/assets/src/core-app/index.js
  kolibri/core/errorreports/middleware.py
  kolibri/plugins/error_reports/__init__.py
  kolibri/plugins/error_reports/api.py
  kolibri/plugins/error_reports/api_urls.py
  kolibri/plugins/error_reports/assets/src/__tests__/errorReport.test.js
  kolibri/plugins/error_reports/assets/src/index.js
  kolibri/plugins/error_reports/assets/src/utils.js
  kolibri/plugins/error_reports/buildConfig.js
  kolibri/plugins/error_reports/kolibri_plugin.py
  kolibri/plugins/error_reports/serializers.py
  kolibri/plugins/error_reports/test/test_api.py
  kolibri/utils/build_config/default_plugins.py
Due: lint-frontend

Add error capturing for tasks.
  kolibri/core/error_reports/middleware.py
  kolibri/core/errorreports/constants.py
  kolibri/core/errorreports/migrations/0002_alter_errorreports_category.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/schemas.py
  kolibri/core/errorreports/test/test_models.py
  kolibri/plugins/error_reports/kolibri_plugin.py
Due: no-swappable-auth-migrations

Fix tzlocal api changes
  kolibri/deployment/default/settings/base.py
Due: none

Move reports into quizsummarypage
  kolibri/plugins/coach/assets/src/routes/planExamRoutes.js
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
Due: lint-frontend

fixed error handling
  kolibri/core/assets/src/views/NotificationsRoot.vue
Due: lint-frontend

Add ReportsDifficultQuestionsTable
  kolibri/plugins/coach/assets/src/routes/planExamRoutes.js
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsDifficultQuestionsTable.vue
Due: lint-frontend

add export csv
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsDifficultQuestionsTable.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsLearnersTable.vue
Due: lint-frontend

fixed errors
  kolibri/core/assets/src/views/NotificationsRoot.vue
Due: lint-frontend

fixed linting errors
  kolibri/core/assets/src/views/NotificationsRoot.vue
Due: lint-frontend

fixed notifications data undefining issue
  kolibri/core/assets/src/views/NotificationsRoot.vue
Due: lint-frontend

Add info to quizStatus
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsDifficultQuestionsTable.vue
Due: lint-frontend

Add made visible label
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/coach/assets/src/views/common/StatusElapsedTime.vue
Due: lint-frontend

fix select all indeterminateness in lesson resource management
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/index.vue
Due: lint-frontend

Update preview button and quiz summary options
  kolibri/plugins/coach/assets/src/views/common/QuizLessonDetailsHeader.vue
  kolibri/plugins/coach/assets/src/views/common/StatusElapsedTime.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/QuizOptionsDropdownMenu.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
Due: lint-frontend

Update learners label
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
Due: lint-frontend

Fix print state
  kolibri/plugins/coach/assets/src/views/common/QuizStatus.vue
  kolibri/plugins/coach/assets/src/views/plan/QuizSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/reports/ReportsControls.vue
Due: lint-frontend

update the AUTHORS.md file in develop branch for new contributors
  .github/workflows/add_contributor.yml
Due: none

Update to 0.17.3
  kolibri/__init__.py
Due: none

New accordion design
  kolibri/plugins/coach/assets/src/routes/index.js
  kolibri/plugins/coach/assets/src/views/Playground.vue
  packages/kolibri-common/components/accordion/AccordionContainer.vue
  packages/kolibri-common/components/accordion/AccordionItem.vue
  packages/kolibri-common/components/accordion/useAccordion.js
Due: lint-frontend

Add useAccordion composable
  kolibri/plugins/coach/assets/src/views/Playground.vue
  packages/kolibri-common/components/accordion/AccordionContainer.vue
  packages/kolibri-common/components/accordion/AccordionItem.vue
  packages/kolibri-common/components/accordion/useAccordion.js
Due: lint-frontend

Create it.po
  platforms/flatpak-app/po/it.po
Due: none

Update LINGUAS
  platforms/flatpak-app/po/LINGUAS
Due: none

Update draggabl accordions in createquizsection
  kolibri/plugins/coach/assets/src/views/plan/CreateExamPage/CreateQuizSection.vue
  packages/kolibri-common/components/accordion/AccordionItem.vue
Due: lint-frontend

add rename group and enroll learners to common coach strings
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
Due: lint-frontend

GroupsPage/GroupRow use updated strings for options; adds enroll learners option
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/GroupRow.vue
Due: lint-frontend

Clean some code
  packages/kolibri-common/components/accordion/AccordionItem.vue
  packages/kolibri-common/components/accordion/useAccordion.js
Due: lint-frontend

commonCoreStrings add learnMoreAction "Learn more"
  kolibri/core/assets/src/mixins/commonCoreStrings.js
Due: lint-frontend

coach constants: add "ABOUT_GROUP" to GroupModals
  kolibri/plugins/coach/assets/src/constants/index.js
Due: lint-frontend

PlanHeader: add a #header slot, allow override of title/description
  kolibri/plugins/coach/assets/src/views/plan/PlanHeader.vue
Due: lint-frontend

GroupsPage: Adds "About groups" modal, $trs & handling
  kolibri/plugins/coach/assets/src/views/plan/GroupsPage/index.vue
Due: lint-frontend
