Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Add contents:read permission to npm publish workflow
  .github/workflows/npm_publish.yml
Due: none

Drop --provenance and --access public from npm publish
  scripts/npm_publish.sh
Due: none

Use pnpm pack + npm publish for OIDC trusted publishing
  scripts/npm_publish.sh
Due: none

Revert "Use pnpm pack + npm publish for OIDC trusted publishing"
  .github/workflows/npm_publish.yml
  scripts/npm_publish.sh
Due: none

Assign picture password when user's last role is deleted
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_api.py
Due: none

Remove unnecessary pnpm install from npm publish workflow
  .github/workflows/npm_publish.yml
Due: none

Refactor RoleDeleteNoPicSettingsTestCase into its own test class
  kolibri/core/auth/test/test_api.py
Due: none

Use lightweight install for npm publish workflow
  .github/workflows/npm_publish.yml
Due: none

Add job summary to npm publish for Slack notifications
  .github/workflows/npm_publish.yml
  scripts/npm_publish.sh
Due: none

Add import-x/no-extraneous-dependencies rule and catalog entries
  packages/kolibri-format/.eslintrc.js
  packages/kolibri-format/eslint.config.mjs
  pnpm-workspace.yaml
Due: lint-frontend

Fix useless path segments flagged by import-x
  kolibri/plugins/coach/frontend/modules/questionList/actions.js
  kolibri/plugins/coach/frontend/views/ClassLearnersListPage.vue
  kolibri/plugins/coach/frontend/views/common/ReportsResourceHeader.vue
  kolibri/plugins/coach/frontend/views/common/assignments/AssignmentCopyModal.vue
  kolibri/plugins/coach/frontend/views/common/assignments/AssignmentDeleteModal.vue
  kolibri/plugins/coach/frontend/views/common/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/frontend/views/common/assignments/RecipientSelector.vue
  kolibri/plugins/coach/frontend/views/common/assignments/SidePanelRecipientsSelector/LearnersSelectorSidePanel.vue
  kolibri/plugins/coach/frontend/views/common/assignments/SidePanelRecipientsSelector/index.vue
  kolibri/plugins/coach/frontend/views/common/notifications/NotificationCard.vue
  kolibri/plugins/coach/frontend/views/common/reports/ExerciseQuestionListPage.vue
  kolibri/plugins/coach/frontend/views/common/resourceSelection/subPages/PreviewSelectedResources/index.vue
  kolibri/plugins/coach/frontend/views/common/status/StatusTestPage.vue
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CourseDetails.vue
  kolibri/plugins/coach/frontend/views/lessons/LessonSelectionContentPreviewPage/index.vue
  kolibri/plugins/learn/frontend/composables/useDownloadRequests.js
  kolibri/plugins/learn/frontend/views/HomePage/index.vue
  kolibri/plugins/learn/frontend/views/TopicsPage/TopicsHeader.vue
  kolibri/plugins/learn/frontend/views/TopicsPage/index.vue
  kolibri/plugins/learn/frontend/views/classes/AllClassesPage.vue
  kolibri/plugins/learn/frontend/views/classes/ClassAssignmentsPage.vue
  kolibri/plugins/learn/frontend/views/classes/LessonPlaylistPage.vue
  kolibri/plugins/user_auth/frontend/views/AuthBase.vue
  packages/kolibri-common/components/Cards/AccessibleResourceCard.vue
  packages/kolibri-common/components/quizzes/InteractionList/__tests__/index.spec.js
  packages/kolibri-common/components/syncComponentSet/syncComponentSet.js
  packages/kolibri/components/onboarding/TooltipTour.vue
Due: lint-frontend

Add missing dependency declarations across all packages
  kolibri/core/package.json
  kolibri/plugins/coach/package.json
  kolibri/plugins/device/package.json
  kolibri/plugins/epub_viewer/package.json
  kolibri/plugins/facility/package.json
  kolibri/plugins/learn/package.json
  kolibri/plugins/pdf_viewer/package.json
  kolibri/plugins/safe_html5_viewer/package.json
  kolibri/plugins/setup_wizard/package.json
  kolibri/plugins/user_auth/package.json
  kolibri/plugins/user_profile/package.json
  package.json
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-app/package.json
  packages/kolibri-common/package.json
  packages/kolibri-format/package.json
  packages/kolibri-i18n/package.json
  packages/kolibri-jest-config/package.json
  packages/kolibri-zip/package.json
  packages/kolibri/package.json
  pnpm-lock.yaml
Due: none

Add eslint-plugin-n for Node.js best practice rules
  packages/eslint-plugin-kolibri/lib/index.js
  packages/eslint-plugin-kolibri/lib/rules/no-undefined-translator-keys.js
  packages/eslint-plugin-kolibri/tests/lib/rules/no-undefined-translator-keys.spec.js
  packages/kolibri-format/eslint.config.mjs
  packages/kolibri-format/package.json
  packages/kolibri-i18n/build_kolibri_i18n.js
  packages/kolibri-i18n/src/ExtractMessages.js
  packages/kolibri-i18n/src/ProfileStrings.js
  packages/kolibri-i18n/src/SyncContext.js
  packages/kolibri-i18n/src/__tests__/SyncContext.spec.js
  packages/kolibri-i18n/src/__tests__/astUtils.spec.js
  packages/kolibri-i18n/src/__tests__/moduleResolver.spec.js
  packages/kolibri-i18n/src/astUtils.js
  packages/kolibri-i18n/src/auditMessages.js
  packages/kolibri-i18n/src/csvToJSON.js
  packages/kolibri-i18n/src/intl_code_gen.js
  packages/kolibri-i18n/src/utils.js
  packages/kolibri-jest-config/jest.conf/index.js
  packages/kolibri-sandbox/downloadH5PVendor.js
  packages/kolibri-sandbox/webpack.config.h5p.js
  packages/kolibri-sandbox/webpack.config.js
  pnpm-lock.yaml
Due: lint-frontend

Bump kolibri-format to 2.1.0
  packages/kolibri-format/package.json
Due: none

Assign picture password when user's last role is deleted (#14566)
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_api.py
Due: none

Replace babel-loader with swc-loader for webpack transpilation
  babel.config.js
  kolibri/core/buildConfig.js
  kolibri/core/package.json
  package.json
  packages/kolibri-build/babel.config.js
  packages/kolibri-build/package.json
  packages/kolibri-build/src/webpack.config.base.js
  packages/kolibri-jest-config/jest.conf/babel.config.js
  packages/kolibri-jest-config/package.json
  pnpm-lock.yaml
Due: lint-frontend

Use SWC minifier instead of Terser for webpack production builds
  packages/kolibri-build/src/webpack.config.base.js
Due: none

Update user edit page to show picture password and disable learner role
  kolibri/plugins/facility/frontend/views/UserEditPage.vue
  packages/kolibri-common/components/UserPicturePassword.vue
Due: lint-frontend

Add ambiguous key for iconName
  packages/kolibri-common/utils/__tests__/picturePassword.spec.js
  packages/kolibri-common/utils/picturePassword.js
Due: lint-frontend

Update utility to use constants
  packages/kolibri-common/utils/picturePassword.js
Due: lint-frontend

Disable reset password when piclo enabled
  kolibri/plugins/facility/frontend/views/users/NewUsersPage.vue
  kolibri/plugins/facility/frontend/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/frontend/views/users/common/UsersTable.vue
Due: lint-frontend

Create basic test for UserEditPage changes
  kolibri/plugins/facility/frontend/views/UserEditPage.vue
  kolibri/plugins/facility/frontend/views/__tests__/UserEditPage.spec.js
  packages/kolibri-common/components/__tests__/UserPicturePassword.spec.js
Due: lint-frontend

Automigrate allow_other_browsers_to_connect to True as it was previously always wrong
  kolibri/core/device/upgrade.py
Due: none

Do early resolution of language redirect for redirect views to prevent multihop redirects.
  kolibri/core/device/middleware.py
  kolibri/core/device/test/locale_middleware_urls.py
  kolibri/core/device/test/test_locale_middleware.py
  kolibri/core/views.py
Due: none

Add new linter rules for Testing Library tests
  docs/frontend_architecture/unit_testing.rst
  packages/eslint-plugin-kolibri/lib/rules/tests-no-hardcoded-strings.js
  packages/eslint-plugin-kolibri/lib/rules/tests-no-stubs.js
  packages/eslint-plugin-kolibri/lib/utils.js
  packages/eslint-plugin-kolibri/tests/lib/rules/tests-no-hardcoded-strings.spec.js
  packages/eslint-plugin-kolibri/tests/lib/rules/tests-no-stubs.spec.js
  packages/kolibri-format/eslint.config.mjs
Due: lint-frontend

Show picture password sign-in info on learner creation form
  kolibri/plugins/facility/frontend/views/users/sidePanels/UserCreate/index.vue
Due: lint-frontend

Test picture password behavior in UserCreateSidePanel
  kolibri/plugins/facility/frontend/views/users/sidePanels/UserCreate/__tests__/UserCreateSidePanel.spec.js
Due: lint-frontend

fix lint
  kolibri/plugins/facility/frontend/views/users/sidePanels/UserCreate/__tests__/UserCreateSidePanel.spec.js
  kolibri/plugins/facility/frontend/views/users/sidePanels/UserCreate/index.vue
Due: lint-frontend

Update le-utils to 0.2.17, add channel_versions URL parameter, and refactor lookup_channel_listing_status
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/paths.py
  kolibri/core/content/utils/resource_import.py
  requirements/base.txt
Due: none

Add library field to ChannelMetadata and update set_channel_metadata_fields
  kolibri/core/content/migrations/0045_channelmetadata_library.py
  kolibri/core/content/models.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/annotation.py
Due: no-swappable-auth-migrations

Add RemoteChannelDatabaseImportManager and token/metadata handling to import managers
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/resource_import.py
Due: none

Wire token validation and import managers into tasks and importchannel command
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/tasks.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/test/test_tasks.py
Due: none

Add upgrade task to backfill library field for existing public channels
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/upgrade.py
Due: none

Update android installer version to v0.1.7.1
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Due: none

Pin build<1.4.3 via updated p4a to fix APK build failure
  platforms/android/requirements.txt
  platforms/android/scripts/version.py
Due: none

Update to android app version with APK build fix
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Due: none

Add version param to get_content_database_file_url
  kolibri/core/content/test/test_paths.py
  kolibri/core/content/utils/paths.py
Due: none

Thread channel DB version through import stack
  kolibri/core/content/management/commands/importchannel.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/channel_transfer.py
  kolibri/core/content/utils/resource_import.py
Due: none

Initialize raw_version to None before conditional block
  kolibri/core/content/management/commands/importchannel.py
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
