Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

Migrate demo_server plugin
  kolibri/plugins/demo_server/buildConfig.js
  kolibri/plugins/demo_server/frontend/DemoServerBannerContent.vue
  kolibri/plugins/demo_server/frontend/module.js
Due: lint-frontend

corrections and updates
  integration_testing/019-features/learner/classes-page/learner-interacts-lesson.feature
  integration_testing/019-features/learner/content-renderer/learner-can-open-and-close-the-information-panel.feature
  integration_testing/019-features/learner/content-renderer/learner-engages-with-completion-dialog.feature
  integration_testing/019-features/learner/content-renderer/learner-interacts-bloom-content.feature
  integration_testing/019-features/learner/content-renderer/learner-interacts-epub-content.feature
  integration_testing/019-features/learner/content-renderer/learner-interacts-slideshow.feature
  integration_testing/019-features/learner/content-renderer/learner-interacts-video-transcript.feature
  integration_testing/019-features/learner/content-renderer/learner-marks-resource-as-complete.feature
  integration_testing/019-features/learner/content-renderer/learners-can-open-and-close-an-information-panel.feature
  integration_testing/019-features/learner/home-page/home-page-explore-without-account.feature
  integration_testing/019-features/learner/home-page/home-page-guest.feature
  integration_testing/019-features/learner/home-page/home-page-signed-in-user-enrolled-in-classes.feature
  integration_testing/019-features/learner/home-page/home-page-signed-in-user-not-enrolled-in-classes.feature
Due: none

Update .git-blame-ignore-revs for frontend migration changes
  .git-blame-ignore-revs
Due: none

corrections and improvements
  integration_testing/019-features/admin/profile/admin-change-profile-information.feature
  integration_testing/019-features/coach/profile/coach-change-profile-information.feature
  integration_testing/019-features/common/browser-compatibility/view-all-content-types.feature
  integration_testing/019-features/common/change-language/user-change-language.feature
  integration_testing/019-features/learner/content-renderer/learners-can-mark-a-resource-as-completed.feature
  integration_testing/019-features/learner/content-renderer/learners-can-trigger-hints-to-appear.feature
  integration_testing/019-features/learner/profile/learner-change-profile-information.feature
  integration_testing/019-features/superadmin/content-syncing/super-admin-library-page.feature
  integration_testing/019-features/superadmin/initial-setup/device-setup.feature
  integration_testing/019-features/superadmin/profile/change-facility-after-device-setup.feature
  integration_testing/019-features/superadmin/profile/super-admin-change-profile-information.feature
Due: none

Do proper conditional check for display of learner needs labels
  kolibri/plugins/learn/frontend/views/BrowseResourceMetadata.vue
Due: lint-frontend

Un-comment out startTour() code to re-enable the onboarding flow for first time users
  packages/kolibri/composables/useTour.js
Due: lint-frontend

Update dependabot to monthly schedule with 7-day cooldown
  .github/dependabot.yml
Due: none

Update dependabot to monthly schedule with 7-day cooldown
  platforms/desktop-app/.github/dependabot.yml
Due: none

Update dependabot to monthly schedule with 7-day cooldown
  platforms/android/.github/dependabot.yml
Due: none

Update dependabot to monthly schedule with 7-day cooldown
  platforms/debian/.github/dependabot.yml
Due: none

Implement webpack bundle size optimizations
  packages/kolibri-build/src/webpack.config.base.js
  packages/kolibri/composables/useUser.js
Due: lint-frontend

Fix core-js duplication in viewer bundles
  packages/kolibri-sandbox/babel.config.js
  packages/kolibri-sandbox/package.json
  packages/kolibri-sandbox/src/iframe.js
  packages/kolibri-sandbox/src/xAPI/xAPIConstants.js
  packages/kolibri-sandbox/src/xAPI/xAPISchema.js
  packages/kolibri-sandbox/webpack.config.js
Due: lint-frontend

Fix double focus issue in ProfileEditPage by removing autofocus prop
  kolibri/plugins/user_profile/frontend/views/ProfileEditPage.vue
Due: lint-frontend

Fix extra scrollbar in error report modal
  packages/kolibri/components/error/TechnicalTextBlock.vue
Due: lint-frontend

refactor: migrate pageVisibility from Vuex to browserInfo composable
  kolibri/core/frontend/index.js
  kolibri/core/frontend/state/modules/core/actions.js
  packages/kolibri/utils/browserInfo.js
Due: lint-frontend

Add beginner setup notes to README
  README.md
Due: none

Bump le-utils and kolibri-constants to 0.2.13
  packages/kolibri/package.json
  requirements/base.txt
Due: none

Add modality field to ContentNode model
  kolibri/core/content/contentschema/versions/content_schema_current.py
  kolibri/core/content/migrations/0041_contentnode_modality.py
  kolibri/core/content/models.py
Due: no-swappable-auth-migrations

Annotate modality field on upgrade and channel import flows
  kolibri/core/content/test/test_search.py
  kolibri/core/content/upgrade.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/search.py
Due: none

update SafeHtmlTable tests
  packages/kolibri-common/components/SafeHTML/__tests__/SafeHtmlTable.spec.js
Due: lint-frontend

remove windowSizeClass tests
  kolibri/plugins/safe_html5_viewer/frontend/views/__tests__/SafeHtml5RendererIndex.spec.js
  packages/kolibri-common/components/SafeHTML/__tests__/SafeHtmlTable.spec.js
Due: lint-frontend

fix test
  packages/kolibri-common/components/SafeHTML/SafeHtmlTable.vue
  packages/kolibri-common/components/SafeHTML/__tests__/SafeHtmlTable.spec.js
Due: lint-frontend

convert SafeHtmlTable to Vue component and remove window size class
  kolibri/plugins/safe_html5_viewer/frontend/views/SafeHtml5RendererIndex.vue
  packages/kolibri-common/components/SafeHTML/SafeHtmlTable.js
  packages/kolibri-common/components/SafeHTML/SafeHtmlTable.vue
  packages/kolibri-common/components/SafeHTML/index.js
Due: lint-frontend

remove dynamic caption ID generation and aria-labelledby
  packages/kolibri-common/components/SafeHTML/SafeHtmlTable.vue
  packages/kolibri-common/components/SafeHTML/__tests__/SafeHtmlTable.spec.js
Due: lint-frontend

simplify table rendering logic
  packages/kolibri-common/components/SafeHTML/SafeHtmlTable.vue
Due: lint-frontend

remove unnecessary styleOverrides
  kolibri/plugins/safe_html5_viewer/frontend/views/SafeHtml5RendererIndex.vue
Due: lint-frontend

Fix new job timezone awareness
  platforms/android/src/android_app_plugin/kolibri_plugin.py
Due: none

update tests to verify caption passed to mapChildren
  packages/kolibri-common/components/SafeHTML/__tests__/SafeHtmlTable.spec.js
Due: lint-frontend

bump version to next patch 0.19.1
  kolibri/__init__.py
Due: none

Bump version from 0.19.0 to 0.20.0
  kolibri/__init__.py
Due: none

Update android installer version to 0.1.7
  platforms/android/scripts/version.py
Due: none

Remove call-holiday-message github action
  .github/workflows/call-holiday-message.yml
Due: none

Replace deprecated datetime.utcnow() and utcfromtimestamp()
  kolibri/core/auth/api.py
  kolibri/core/tasks/storage.py
  kolibri/core/tasks/test/taskrunner/test_scheduler.py
  kolibri/plugins/facility/views.py
  kolibri/utils/version.py
Due: none

Add Python 3.14 support
  .github/workflows/tox.yml
  setup.py
  tox.ini
Due: none

Fix import path for QTI sandbox routes
  kolibri/plugins/learn/frontend/routes/index.js
Due: lint-frontend
