Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

WIP Commit
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectFromBookmarks.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectFromChannels.vue
Due: lint-frontend

Replace provide/inject
  kolibri/plugins/coach/assets/src/composables/useResourceSelection.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/UpdatedResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/constants.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectFromBookmarks.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectFromChannels.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectionIndex.vue
Due: lint-frontend

Move composables
  kolibri/plugins/coach/assets/src/composables/useFetch.js
  kolibri/plugins/coach/assets/src/composables/useResourceSelection.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/UpdatedResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/index.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectFromChannels.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectionIndex.vue
Due: lint-frontend

Manage fetch concurrency
  kolibri/plugins/coach/assets/src/composables/useFetch.js
Due: lint-frontend

Lint files
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/index.vue
  packages/kolibri-common/components/SidePanelModal/index.vue
Due: lint-frontend

Update more to be called moreParams and update channels route name
  kolibri/plugins/coach/assets/src/app.js
  kolibri/plugins/coach/assets/src/composables/useFetch.js
  kolibri/plugins/coach/assets/src/constants/index.js
  kolibri/plugins/coach/assets/src/routes/lessonsRoutes.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectionIndex.vue
Due: lint-frontend

Add unit tests to useFetch
  kolibri/plugins/coach/assets/src/composables/__tests__/useFetch.spec.js
Due: lint-frontend

Update jsdoc docs
  kolibri/plugins/coach/assets/src/composables/useFetch.js
Due: lint-frontend

Remove moreKey, dataKey and countKey
  kolibri/plugins/coach/assets/src/composables/useFetch.js
  kolibri/plugins/coach/assets/src/composables/useResourceSelection.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/UpdatedResourceSelection.vue
Due: lint-frontend

Link to updated shopping cart
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/index.vue
Due: lint-frontend

Add hook to add magicbus plugins to the processbus.
  kolibri/utils/server/__init__.py
  kolibri/utils/server/hooks.py
Due: none

Remove use of deprecated abstractproperty. Make the theme not break when no theme plugin is found.
  kolibri/core/content/hooks.py
  kolibri/core/device/hooks.py
  kolibri/core/hooks.py
  kolibri/core/theme_hook.py
  kolibri/core/webpack/hooks.py
  kolibri/plugins/hooks.py
Due: none

Add class property to check if any hooks are registered.
  kolibri/plugins/hooks.py
Due: none

Add initial implementation of side panel recipients selector
  kolibri/plugins/coach/assets/src/views/common/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/IndividualLearnerSelector/IndividualLearnerSelectorTable.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/IndividualLearnerSelector/index.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/LearnersSelectorSidePanel.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/index.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  packages/kolibri/uiText/commonCoreStrings.js
Due: lint-frontend

Manage save button, show recipients list
  kolibri/plugins/coach/assets/src/views/common/TruncatedItemList.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/LearnersSelectorSidePanel.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/index.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  packages/kolibri/uiText/commonCoreStrings.js
Due: lint-frontend

Manage edit quizzes and show server error when validation is invalid
  kolibri/plugins/coach/assets/src/views/common/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/index.vue
Due: lint-frontend

Manage errors and alerts
  kolibri/plugins/coach/assets/src/views/common/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/LearnersSelectorSidePanel.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/index.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/index.vue
Due: lint-frontend

Validate exam ended to show edit quiz
  kolibri/plugins/coach/assets/src/views/quizzes/QuizSummaryPage/QuizOptionsDropdownMenu.vue
  kolibri/plugins/coach/assets/src/views/quizzes/QuizSummaryPage/index.vue
Due: lint-frontend

Match styles to specs
  kolibri/plugins/coach/assets/src/views/common/assignments/IndividualLearnerSelector/IndividualLearnerSelectorTable.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/LearnersSelectorSidePanel.vue
  packages/kolibri-common/components/PaginatedListContainer.vue
Due: lint-frontend

Fix linting
  kolibri/plugins/coach/assets/src/views/common/assignments/IndividualLearnerSelector/index.vue
Due: lint-frontend

Fix styles
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/LearnersSelectorSidePanel.vue
  packages/kolibri-common/components/SidePanelModal/index.vue
Due: lint-frontend

Delete app plugin - transfer all functionality to core hooks.
  docs/getting_started.rst
  docs/manual_testing/app_plugin/index.rst
  integration_testing/development_plugin/__init__.py
  integration_testing/development_plugin/kolibri_plugin.py
  integration_testing/scripts/run_kolibri_app_mode.py
  kolibri/__init__.py
  kolibri/core/auth/api.py
  kolibri/core/auth/models.py
  kolibri/core/content/api.py
  kolibri/core/content/api_urls.py
  kolibri/core/content/hooks.py
  kolibri/core/content/utils/settings.py
  kolibri/core/device/api.py
  kolibri/core/device/api_urls.py
  kolibri/core/device/hooks.py
  kolibri/core/device/migrations/0008_devicesettings_allow_other_browsers_to_connect.py
  kolibri/core/device/models.py
  kolibri/core/device/permissions.py
  kolibri/core/device/serializers.py
  kolibri/core/device/test/test_api.py
  kolibri/core/device/utils.py
  kolibri/core/kolibri_plugin.py
  kolibri/core/tasks/hooks.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/storage.py
  kolibri/plugins/app/api.py
  kolibri/plugins/app/api_urls.py
  kolibri/plugins/app/kolibri_plugin.py
  kolibri/plugins/app/test/__init__.py
  kolibri/plugins/app/test/helpers.py
  kolibri/plugins/app/test/test_api.py
  kolibri/plugins/app/utils.py
  package.json
  packages/kolibri/utils/appCapabilities.js
Due: lint-frontend, no-swappable-auth-migrations

Move auto reloader attachment into development plugin.
  integration_testing/development_plugin/kolibri_plugin.py
  kolibri/utils/server/__init__.py
Due: none

Remove use of checkCapability function in favour of more explicit checks.
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/kolibri_plugin.py
  kolibri/plugins/learn/assets/src/views/LibraryPage/MeteredConnectionNotificationModal.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
  kolibri/plugins/setup_wizard/kolibri_plugin.py
  packages/kolibri-common/utils/checkMeteredConnection.js
  packages/kolibri/utils/appCapabilities.js
Due: lint-frontend

Re-implement share file functionality. Remove unneeded appCapabilities from kolibri/utils.
  kolibri/plugins/learn/assets/src/views/CurrentlyViewedResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/commonLearnStrings.js
  kolibri/plugins/learn/kolibri_plugin.py
  packages/kolibri-tools/lib/moduleMapping.js
  packages/kolibri/internal/apiSpec.js
  packages/kolibri/package.json
  packages/kolibri/utils/appCapabilities.js
Due: lint-frontend

minor corrections
  integration_testing/018-features/coach/groups/coach-groups.feature
  integration_testing/018-features/coach/learners/coach-learners.feature
  integration_testing/018-features/coach/quizzes/coach-quizzes.feature
  integration_testing/018-features/kolibri-critical-workflows.feature
Due: none

Install build-essential package.
  platforms/debian/.github/workflows/build_deb.yml
Due: none

Add PR asset build. Clean up input references now that github supports input reference for events.
  platforms/debian/.github/workflows/build_deb.yml
  platforms/debian/.github/workflows/pr_build.yml
Due: none

Make ref optional as it can be called from within the repo.
  platforms/debian/.github/workflows/build_deb.yml
  platforms/debian/.github/workflows/pr_build.yml
Due: none

add useFacilities composable structure
  packages/kolibri-common/composables/useFacilities.js
Due: lint-frontend

replace getFacilities action
  kolibri/plugins/coach/assets/src/app.js
  kolibri/plugins/coach/assets/src/composables/useGroups.js
  kolibri/plugins/coach/assets/src/composables/useLessons.js
  kolibri/plugins/coach/assets/src/modules/lessonResources/handlers.js
  kolibri/plugins/coach/assets/src/modules/lessonSummary/handlers.js
  kolibri/plugins/coach/assets/src/routes/index.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonCreationPage.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonEditDetailsPage/index.vue
  kolibri/plugins/device/assets/src/app.js
  kolibri/plugins/device/assets/src/modules/userPermissions/handlers.js
  kolibri/plugins/device/assets/src/routes/index.js
  kolibri/plugins/facility/assets/src/app.js
  kolibri/plugins/facility/assets/src/views/ManageClassPage/index.vue
  kolibri/plugins/user_auth/assets/src/modules/pluginModule.js
  packages/kolibri-tools/test/fixtures/TestUserPermissions.js
Due: lint-frontend

replace getFacilityConfig action
  kolibri/plugins/facility/assets/src/views/UserCreatePage.vue
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
  kolibri/plugins/user_auth/assets/src/modules/pluginModule.js
  kolibri/plugins/user_auth/assets/src/views/FacilitySelect.vue
  kolibri/plugins/user_profile/assets/src/routes.js
Due: lint-frontend

migrate setPageLoad mutation
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/plugins/coach/assets/src/modules/groups/actions.js
  kolibri/plugins/coach/assets/src/routes/utils.js
  kolibri/plugins/coach/assets/src/views/lessons/LessonCreationPage.vue
  kolibri/plugins/device/assets/src/modules/pluginModule.js
  kolibri/plugins/device/assets/src/modules/wizard/handlers.js
  kolibri/plugins/device/assets/src/routes/wizardTransitionRoutes.js
  kolibri/plugins/facility/assets/src/modules/classAssignMembers/handlers.js
  kolibri/plugins/facility/assets/src/modules/pluginModule.js
  kolibri/plugins/learn/assets/src/modules/examReportViewer/handlers.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/user_auth/assets/src/modules/pluginModule.js
  kolibri/plugins/user_auth/assets/src/modules/signUp/handlers.js
  kolibri/plugins/user_auth/assets/src/routes.js
  kolibri/plugins/user_profile/assets/src/modules/pluginModule.js
  kolibri/plugins/user_profile/assets/src/routes.js
  packages/kolibri-tools/test/fixtures/TestUserPermissions.js
Due: lint-frontend

migrate all remaining mutations
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/plugins/coach/assets/src/modules/coachNotifications/index.js
  kolibri/plugins/device/assets/src/modules/pluginModule.js
  kolibri/plugins/device/assets/src/views/RearrangeChannelsPage.vue
  kolibri/plugins/facility/assets/src/modules/pluginModule.js
  kolibri/plugins/learn/assets/src/modules/examReportViewer/handlers.js
  kolibri/plugins/learn/assets/src/modules/examViewer/handlers.js
  kolibri/plugins/learn/assets/src/routes/index.js
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsPage/index.vue
  kolibri/plugins/user_auth/assets/src/modules/pluginModule.js
  kolibri/plugins/user_profile/assets/src/modules/pluginModule.js
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/index.vue
  packages/kolibri-common/composables/useFacilities.js
Due: lint-frontend

fix construction of cookie using user supplied input
  kolibri/core/auth/api.py
Due: none

Update commit SHA and run script
  kolibri/core/content/static/h5p/h5p-72eccbe216a2cebd8d11.html
  packages/hashi/.h5p-commit-sha
  packages/hashi/h5p_build.json
Due: none

Update it.po
  platforms/flatpak-app/po/it.po
Due: none

if else typeerror fixes
  kolibri/core/auth/api.py
Due: none

Fix: CategorySearchModal rendering issues
  packages/kolibri-common/components/SearchFiltersPanel/index.vue
Due: lint-frontend
