Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

wrap <h2> in <div>
  packages/kolibri-common/components/SearchFiltersPanel/index.vue
Due: lint-frontend

Fix coach quizzes blank page
  kolibri/plugins/coach/assets/src/views/quizzes/ExamsRootPage.vue
Due: lint-frontend

<div> in <div>
  packages/kolibri-common/components/SearchFiltersPanel/index.vue
Due: lint-frontend

Ensure properties assignment and learner_ids in assignment obj are always arrays
  kolibri/plugins/coach/assets/src/modules/classSummary/dataHelpers.js
Due: lint-frontend

Don't use 'auto' public paths to resolve resources.
  kolibri/core/webpack/hooks.py
Due: none

Include appBar in themeconfig; validate in themeSpec for appBar image, bg, and textColor
  kolibri/core/assets/src/styles/themeConfig.js
  kolibri/core/assets/src/styles/themeSpec.js
Due: lint-frontend

use themeTokens in themeSpec for appbar
  kolibri/core/assets/src/styles/themeSpec.js
Due: lint-frontend

Update appbar & sidenav to use appbar themeConfig values
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/SideNav.vue
Due: lint-frontend

Remove non-extant TODO
  packages/kolibri/components/pages/AppBarPage/internal/Navbar/NavbarLink.vue
Due: lint-frontend

eliminates new quiz button at printing
  kolibri/plugins/coach/assets/src/views/common/ReportsControls.vue
Due: lint-frontend

eliminates the buttons in the print preview
  kolibri/plugins/coach/assets/src/views/common/ReportsControls.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonsRootPage.vue
  kolibri/plugins/coach/assets/src/views/quizzes/ExamsRootPage.vue
Due: lint-frontend

Use the composable in module scope, as can't define setup on a mixin if the consuming component also defines setup.
  kolibri/plugins/device/assets/src/views/taskNotificationMixin.js
Due: lint-frontend

fix incorrect uses of themeConfig and themeTokens utilities
  kolibri/core/assets/src/styles/themeSpec.js
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/SideNav.vue
Due: lint-frontend

Remove prop-drilling, just use theemConfig
  kolibri/core/assets/src/views/AppBar.vue
  kolibri/core/assets/src/views/Navbar/NavbarLink.vue
  kolibri/core/assets/src/views/Navbar/index.vue
Due: lint-frontend

Use stricted no-unused-properties linting. Delete now unneeded no-unused-method rule.
  packages/eslint-plugin-kolibri/lib/rules/vue-no-unused-methods.js
  packages/eslint-plugin-kolibri/tests/lib/rules/vue-no-unused-methods.spec.js
  packages/kolibri-format/.eslintrc.js
Due: lint-frontend

missed default text updated
  kolibri/core/assets/src/views/SideNav.vue
Due: lint-frontend

Your commit message
  kolibri/plugins/learn/assets/src/views/LibraryPage/OtherLibraries.vue
Due: lint-frontend

refelect filtering in csv export
  kolibri/plugins/coach/assets/src/views/lessons/LessonsRootPage.vue
Due: lint-frontend

Fix and simplify spreadsheet action
  .github/workflows/update-pr-spreadsheet.yml
Due: none

Improve guidance on getting the correct URL
  docs/howtos/preview_on_mobile.md
Due: none

fix filtering in Learners page
  kolibri/plugins/coach/assets/src/views/learners/LearnerSummaryPage/LearnerHeader.vue
  kolibri/plugins/coach/assets/src/views/learners/LearnersRootPage.vue
Due: lint-frontend

experiment merging tabels
  kolibri/plugins/coach/assets/src/views/learners/LearnerSummaryPage/LearnerHeader.vue
Due: lint-frontend

add AllLearners column
  kolibri/plugins/coach/assets/src/views/quizzes/ExamsRootPage.vue
Due: lint-frontend

fix csv details in coach->quizzes
  kolibri/plugins/coach/assets/src/views/quizzes/ExamsRootPage.vue
Due: lint-frontend

add two csvs for learners export
  kolibri/plugins/coach/assets/src/views/learners/LearnerSummaryPage/LearnerHeader.vue
Due: lint-frontend

refactor export csv buttons
  kolibri/plugins/coach/assets/src/views/common/ReportsControls.vue
  kolibri/plugins/coach/assets/src/views/learners/LearnerSummaryPage/LearnerHeader.vue
  kolibri/plugins/coach/assets/src/views/learners/LearnerSummaryPage/index.vue
Due: lint-frontend

Add initial implementation of side panel recipients selector
  kolibri/plugins/coach/assets/src/views/common/assignments/AssignmentDetailsModal.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/IndividualLearnerSelector/IndividualLearnerSelectorTable.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/IndividualLearnerSelector/index.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/LearnersSelectorSidePanel.vue
  kolibri/plugins/coach/assets/src/views/common/assignments/SidePanelRecipientsSelector/index.vue
  kolibri/plugins/coach/assets/src/views/common/commonCoachStrings.js
  packages/kolibri/uiText/commonCoreStrings.js
Due: lint-frontend

Add v-if to KPageContainer in CoachClassListPage to avoid displaying the page until after data is finished loading
  kolibri/plugins/coach/assets/src/views/CoachClassListPage.vue
Due: lint-frontend

added tests
  kolibri/core/content/test/test_annotation.py
Due: none

Add methods to calculate ordered categories and grade_levels
  kolibri/core/content/utils/annotation.py
Due: none

Added upgrade procedure
  kolibri/core/content/upgrade.py
Due: none

Generated schema and fixed generate_schema procedure to make it compatible with python 3.12, sqlacodegen is trying to import ArgSpec from the inspect module, but this has been removed in Python 3.12
  kolibri/core/content/contentschema/versions/content_schema_current.py
  kolibri/core/content/management/commands/generate_schema.py
Due: none

Created ChannelMetadata model modifications to add ordered fields
  kolibri/core/content/migrations/0039_channelmetadata_ordered_fields.py
  kolibri/core/content/models.py
  requirements/base.txt
Due: no-swappable-auth-migrations

Change calculate_included_languages to include them in order
  kolibri/core/content/utils/annotation.py
Due: none

bump patch version to 0.17.5
  kolibri/__init__.py
Due: none

Avoid problems with CheckConstraint using DEFERRABLE INITIALLY DEFERRED
  kolibri/core/content/contentschema/versions/content_schema_current.py
Due: none

rebase
  kolibri/plugins/coach/assets/src/views/learners/LearnerSummaryPage/index.vue
  kolibri/plugins/coach/assets/src/views/learners/LearnersRootPage.vue
Due: lint-frontend

ensure question_sources are converted when copying
  kolibri/plugins/coach/assets/src/views/quizzes/QuizSummaryPage/index.vue
Due: lint-frontend

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
