Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

add UnitTestAssignmen models to the syncable facility models
  kolibri/core/auth/utils/delete.py
Due: none

Register url for ReadOnlyValuesViewset, update tests for LearnerLessonViewset, and add new tests for LearnerCourseViewset
  kolibri/plugins/learn/api_urls.py
  kolibri/plugins/learn/frontend/composables/__tests__/useLearnerResources.spec.js
  kolibri/plugins/learn/test/test_learner_classroom.py
  kolibri/plugins/learn/test/test_learner_course.py
Due: lint-frontend

Update ProgressTrackingViewSet and initContentSession to support course_session_id; add tests for permission and validation checks
  kolibri/core/logger/api.py
  kolibri/core/logger/test/test_integrated_api.py
  kolibri/plugins/learn/frontend/composables/__tests__/useProgressTracking.spec.js
  kolibri/plugins/learn/frontend/composables/useProgressTracking.js
Due: lint-frontend

remove storeInstance params
  kolibri/plugins/coach/frontend/composables/useCourses.js
Due: lint-frontend

simplify assignCourse async handling
  kolibri/plugins/coach/frontend/composables/useCourses.js
Due: lint-frontend

remove class summary refresh after course assignment
  kolibri/plugins/coach/frontend/composables/useCourses.js
Due: lint-frontend

emove router navigation after course assignment
  kolibri/plugins/coach/frontend/composables/useCourses.js
Due: lint-frontend

erive classId from route params in useCourses
  kolibri/plugins/coach/frontend/composables/useCourses.js
Due: lint-frontend

remove local learner groups management from useCourses
  kolibri/plugins/coach/frontend/composables/useCourses.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

remove the facility logic
  kolibri/plugins/coach/frontend/composables/useCourses.js
Due: lint-frontend

: remove courses root from page name to module map
  kolibri/plugins/coach/frontend/constants/index.js
Due: lint-frontend

use value-based recipient filtering instead of labels
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

simplify course title and description access
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

use inline course description in template
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

simplify course table column rendering for now
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

remove optimistic updates for course activation
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

Simplify delete course modal logic and remove optimistic updates
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

remove class summary refresh in course assignment
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
Due: lint-frontend

add enums and validation for unit test assignments
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_unit_test_assignment.py
Due: none

Update the calculate_source_id method in UnitTestAssignment to generate a unique source ID
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_unit_test_assignment.py
Due: none

fix test
  kolibri/core/courses/migrations/0002_unittestassignment.py
Due: no-swappable-auth-migrations

Add LearnerCourseViewset to return course sessions assigned to learners; return exams, lessons, and courses directly on the classroom obj in LearnerClassroomViewset
  kolibri/plugins/learn/frontend/composables/useLearnerResources.js
  kolibri/plugins/learn/test/test_learner_course.py
  kolibri/plugins/learn/viewsets.py
Due: lint-frontend

simplify course list management and remove optimistic updates
  kolibri/core/courses/viewsets.py
  kolibri/plugins/coach/frontend/composables/useCourses.js
  kolibri/plugins/coach/frontend/routes/coursesRoutes.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
  kolibri/plugins/coach/frontend/views/courses/modals/DeleteCourseConfirmation.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/AssignCourseIndex.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

remove unused
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

Add test cases for anonymous access to courses and non-existent courses; abstract logic for checking and setting session context
  kolibri/core/logger/test/test_integrated_api.py
  kolibri/plugins/learn/frontend/composables/useProgressTracking.js
Due: lint-frontend

remove unused pre-test progress features and responsive classes
  kolibri/plugins/coach/frontend/views/common/status/LearnerProgressCount.vue
  kolibri/plugins/coach/frontend/views/common/status/StatusSummary.vue
  kolibri/plugins/coach/frontend/views/common/status/tallyMixin.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

Unify and fields in course sessions to use only
  kolibri/core/auth/utils/sync.py
  kolibri/plugins/coach/frontend/composables/__tests__/useCourses.spec.js
  kolibri/plugins/coach/frontend/composables/useCourses.js
  kolibri/plugins/coach/frontend/views/common/status/statusStrings.js
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
Due: lint-frontend

remove the unique constraints from UnitTestAssignment
  kolibri/core/courses/models.py
Due: none

update UnitTestAssignment migration
  kolibri/core/courses/migrations/0002_unittestassignment.py
Due: no-swappable-auth-migrations

simplify useCourses tests
  kolibri/plugins/coach/frontend/composables/__tests__/useCourses.spec.js
Due: lint-frontend

remove test for one active test per session constraint
  kolibri/core/courses/test/test_unit_test_assignment.py
Due: none

Add responsive handling
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/AssignCourseIndex.vue
Due: lint-frontend

Allow non-graceful shutdown.
  kolibri/utils/server.py
Due: none

Add a watcher for route.params.classId to dynamically reload class data and courses when the class ID changes
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

add 500ms delay to loader visibility, and disable toggle during active updates
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

fix rebase mixup
  packages/kolibri/uiText/commonCoreStrings.js
Due: lint-frontend

Linting errors
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

Implement Course list data loading and display (#14114)
  kolibri/core/courses/viewsets.py
  kolibri/plugins/coach/frontend/composables/__tests__/useCourses.spec.js
  kolibri/plugins/coach/frontend/composables/useCourses.js
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/images/empty_plus_cloud.svg
  kolibri/plugins/coach/frontend/routes/coursesRoutes.js
  kolibri/plugins/coach/frontend/routes/utils.js
  kolibri/plugins/coach/frontend/views/common/status/constants.js
  kolibri/plugins/coach/frontend/views/common/status/tallyMixin.js
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
  kolibri/plugins/coach/frontend/views/courses/modals/DeleteCourseConfirmation.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/AssignCourseIndex.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Fix frontend glob patterns from assets to frontend.
  package.json
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
