Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

Add API test cases for returned static, dynamic, and reserved network locations
  kolibri/core/discovery/test/test_api.py
Due: none

Update broken references
  docs/frontend_architecture/testing_layout.rst
Due: none

rendering strings as function on the dragsortwidget
  kolibri/plugins/coach/assets/src/views/lessons/LessonEditDetailsPage/EditDetailsResourceListTable.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/tables/LessonResourcesTable.vue
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ManageSelectedLessonResource.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/CreateQuizSection.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SectionOrder.vue
  kolibri/plugins/device/assets/src/views/RearrangeChannelsPage.vue
  packages/kolibri-common/components/sortable/DragSortWidget/index.vue
  packages/kolibri-common/strings/searchAndFilterStrings.js
  packages/kolibri/utils/i18n.js
Due: lint-frontend

removes unused methods
  kolibri/plugins/coach/assets/src/views/plan/LessonResourceSelectionPage/ManageSelectedLessonResource.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/CreateQuizSection.vue
Due: lint-frontend

Update number of resources
  packages/kolibri-common/components/Cards/AccessibleChannelCard.vue
Due: lint-frontend

move quiz creation side panels to own subdir, fix refs
  kolibri/plugins/coach/assets/src/routes/examRoutes.js
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SidePanels/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SidePanels/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SidePanels/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SidePanels/SectionOrder.vue
Due: lint-frontend

updates to SidePanelModal to differentiate goBack & closePanel actions
  packages/kolibri-common/components/SidePanelModal/index.vue
Due: lint-frontend

Use kolibri-image-pi repo for building raspberry pi image. Take advantage of reduced build time to add to PR build.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Due: none

remove sectionsidepanel; update coach quizzes to use new sidepanelmodal props
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/EditLessonDetails.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/PreviewSelectedResources.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SectionSidePanel.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SidePanels/ReplaceQuestions.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SidePanels/ResourceSelection.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SidePanels/SectionEditor.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/SidePanels/SectionOrder.vue
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/index.vue
  kolibri/plugins/learn/assets/src/views/BookmarkPage.vue
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  packages/kolibri-common/components/SearchFiltersPanel/index.vue
  packages/kolibri-common/components/SidePanelModal/index.vue
Due: lint-frontend

add searchFiltersPanel to lessons
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection.vue
Due: lint-frontend

minor fix
  packages/kolibri/utils/i18n.js
Due: lint-frontend

Update plugin_data to insert template with JSON inline.
  kolibri/core/webpack/hooks.py
  packages/kolibri-plugin-data/src/index.js
Due: lint-frontend

Remove references to channels option within inputKeys
  packages/kolibri-common/components/SearchFiltersPanel/SelectGroup.vue
  packages/kolibri-common/components/SearchFiltersPanel/index.vue
Due: lint-frontend

Remove labels fetching for Channels in useBaseSearch
  packages/kolibri-common/composables/__mocks__/useBaseSearch.js
  packages/kolibri-common/composables/useBaseSearch.js
Due: lint-frontend

Remove channels searchTerms option from tests
  kolibri/plugins/learn/assets/src/composables/__tests__/useSearch.spec.js
  packages/kolibri-common/composables/__tests__/useBaseSearch.spec.js
Due: lint-frontend

Update URL reversal injection logic to leverage plugin_data.
  kolibri/core/assets/src/index.js
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/kolibri_plugin.py
  kolibri/plugins/device/assets/src/composables/usePlugins.js
  kolibri/plugins/device/assets/src/modules/manageContent/actions/taskActions.js
  kolibri/plugins/device/assets/src/views/FacilitiesPage/api.js
  kolibri/plugins/device/assets/src/views/ManageContentPage/api.js
  kolibri/plugins/facility/assets/src/apiResources.js
  kolibri/plugins/facility/assets/src/modules/facilityConfig/actions.js
  kolibri/plugins/learn/assets/src/composables/useProgressTracking.js
  kolibri/plugins/learn/assets/src/views/TopicsContentPage.vue
  packages/kolibri-common/apiResources/NetworkLocationResource.js
  packages/kolibri-common/apiResources/PortalResource.js
  packages/kolibri-common/mixins/commonSyncElements.js
  packages/kolibri/__tests__/urls.spec.js
  packages/kolibri/components/__tests__/auth-message.spec.js
  packages/kolibri/heartbeat.js
  packages/kolibri/urls.js
  packages/kolibri/utils/appCapabilities.js
Due: lint-frontend

Update frontend message registration to no longer rely on inline JS.
  kolibri/core/webpack/hooks.py
  packages/kolibri-tools/lib/webpack.config.plugin.js
  packages/kolibri-tools/lib/webpackMessageRegistrationPlugin.js
  packages/kolibri/internal/__tests__/pluginMediator.spec.js
  packages/kolibri/internal/pluginMediator.js
Due: lint-frontend

Get rid of the separate browser version checking bundle. Defer to the core bundle.
  kolibri/core/assets/src/index.js
  kolibri/core/assets/src/minimumBrowserRequirements.js
  kolibri/core/buildConfig.js
  kolibri/core/kolibri_plugin.py
  kolibri/core/templates/kolibri/base.html
Due: lint-frontend

Remove unused async module registration and loading.
  kolibri/core/hooks.py
  kolibri/core/templates/kolibri/base.html
  kolibri/core/templatetags/core_tags.py
  kolibri/core/webpack/hooks.py
  kolibri/core/webpack/templatetags/webpack_tags.py
  packages/kolibri/internal/__tests__/pluginMediator.spec.js
  packages/kolibri/internal/pluginMediator.js
Due: lint-frontend

Update content renderer registration to rely on injected templates rather than inline JS.
  kolibri/core/content/hooks.py
  kolibri/core/templates/kolibri/base.html
  packages/kolibri/internal/pluginMediator.js
Due: lint-frontend

Add django_csp. Enforce CSPs, make additional hosts configurable.
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/settings/dev.py
  kolibri/plugins/context_translation/kolibri_plugin.py
  kolibri/plugins/context_translation/option_defaults.py
  kolibri/utils/options.py
  requirements/base.txt
Due: none

Turn in context translation into a plugin. Make it unsafe-inline compliant.
  kolibri/__init__.py
  kolibri/core/templates/kolibri/base.html
  kolibri/deployment/default/settings/translation.py
  kolibri/plugins/context_translation/__init__.py
  kolibri/plugins/context_translation/kolibri_plugin.py
  kolibri/plugins/context_translation/option_defaults.py
  kolibri/plugins/context_translation/settings.py
  kolibri/plugins/context_translation/static/assets/context_translation/jipt.js
Due: none

Ensure mastery log end_timestamp is consistently updated.
  kolibri/core/logger/api.py
  kolibri/core/logger/test/test_integrated_api.py
Due: none

Add tests for compound version range comparisons. Fix behaviour. Remove deprecated calls. Update upgrade functionality to accept compound ranges.
  kolibri/core/test/test_upgrade.py
  kolibri/core/upgrade.py
  kolibri/utils/tests/test_version.py
  kolibri/utils/version.py
Due: none

Add upgrade to remediate end_timestamps for mastery logs.
  kolibri/core/logger/test/test_upgrades.py
  kolibri/core/logger/upgrade.py
Due: none

Updated NewPasswordPage.vue with password visibility toggle
  kolibri/plugins/user_auth/assets/src/views/SignInPage/NewPasswordPage.vue
Due: lint-frontend

Remove use of deprecated abstractproperty. Make the theme not break when no theme plugin is found.
  kolibri/core/content/hooks.py
  kolibri/core/device/hooks.py
  kolibri/core/hooks.py
  kolibri/core/theme_hook.py
  kolibri/core/webpack/hooks.py
  kolibri/plugins/hooks.py
Due: none

Add hook to add magicbus plugins to the processbus.
  kolibri/utils/server/__init__.py
  kolibri/utils/server/hooks.py
Due: none

Add class property to check if any hooks are registered.
  kolibri/plugins/hooks.py
Due: none

add searchLabel from coreStrings
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection.vue
Due: lint-frontend

Delete app plugin - transfer all functionality to core hooks.
  docs/getting_started.rst
  docs/manual_testing/app_plugin/index.rst
  integration_testing/development_plugin/__init__.py
  integration_testing/development_plugin/kolibri_plugin.py
  integration_testing/scripts/run_kolibri_app_mode.py
  kolibri/__init__.py
  kolibri/core/auth/api.py
  kolibri/core/auth/models.py
  kolibri/core/content/api.py
  kolibri/core/content/api_urls.py
  kolibri/core/content/hooks.py
  kolibri/core/content/utils/settings.py
  kolibri/core/device/api.py
  kolibri/core/device/api_urls.py
  kolibri/core/device/hooks.py
  kolibri/core/device/migrations/0008_devicesettings_allow_other_browsers_to_connect.py
  kolibri/core/device/models.py
  kolibri/core/device/permissions.py
  kolibri/core/device/serializers.py
  kolibri/core/device/test/test_api.py
  kolibri/core/device/utils.py
  kolibri/core/kolibri_plugin.py
  kolibri/core/tasks/job.py
  kolibri/plugins/app/api.py
  kolibri/plugins/app/api_urls.py
  kolibri/plugins/app/kolibri_plugin.py
  kolibri/plugins/app/test/__init__.py
  kolibri/plugins/app/test/helpers.py
  kolibri/plugins/app/test/test_api.py
  kolibri/plugins/app/utils.py
  package.json
  packages/kolibri/utils/appCapabilities.js
Due: lint-frontend, no-swappable-auth-migrations

Move auto reloader attachment into development plugin.
  integration_testing/development_plugin/kolibri_plugin.py
  kolibri/utils/server/__init__.py
Due: none

Remove use of checkCapability function in favour of more explicit checks.
  kolibri/plugins/device/assets/src/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/kolibri_plugin.py
  kolibri/plugins/learn/assets/src/views/LibraryPage/MeteredConnectionNotificationModal.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/setup_wizard/assets/src/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/assets/src/views/SetupWizardIndex.vue
  kolibri/plugins/setup_wizard/assets/src/views/onboarding-forms/SettingUpKolibri.vue
  kolibri/plugins/setup_wizard/kolibri_plugin.py
  packages/kolibri-common/utils/checkMeteredConnection.js
  packages/kolibri/utils/appCapabilities.js
Due: lint-frontend

Re-implement share file functionality. Remove unneeded appCapabilities from kolibri/utils.
  kolibri/plugins/learn/assets/src/views/CurrentlyViewedResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/commonLearnStrings.js
  kolibri/plugins/learn/kolibri_plugin.py
  packages/kolibri-tools/lib/moduleMapping.js
  packages/kolibri/internal/apiSpec.js
  packages/kolibri/package.json
  packages/kolibri/utils/appCapabilities.js
Due: lint-frontend

style the back component
  kolibri/plugins/coach/assets/src/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection.vue
  packages/kolibri-common/components/SidePanelModal/index.vue
Due: lint-frontend

remove incorrectly pasted section
  packages/kolibri-common/components/SidePanelModal/index.vue
Due: lint-frontend

Replace the peer.reserved condition with a specific check for Studio
  kolibri/core/content/utils/content_request.py
Due: none

Update tests for peer devices with reserved network locations
  kolibri/core/content/test/utils/test_content_request.py
Due: none

avoid type error in initClassInfo; use KExternalLink to redirect in authmessage w/ urls
  kolibri/plugins/coach/assets/src/modules/pluginModule.js
  packages/kolibri/components/AuthMessage.vue
Due: lint-frontend

update authmessage test suite
  packages/kolibri/components/AuthMessage.vue
  packages/kolibri/components/__tests__/auth-message.spec.js
Due: lint-frontend
