Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

Fix UnboundLocalError in ClassroomNotificationsViewset.list when filter_queryset raises DatabaseError (#14345)
  kolibri/plugins/coach/api.py
  kolibri/plugins/coach/test/test_classroom_notifications.py
Due: none

Convert facility management unit tests to Vue Testing Library
  kolibri/plugins/facility/frontend/views/__tests__/facility-app-bar-page.spec.js
  kolibri/plugins/facility/frontend/views/__tests__/facility-config-page.spec.js
  kolibri/plugins/facility/frontend/views/users/UsersRootPage/__tests__/UsersRootPage.spec.js
Due: lint-frontend

fix(DM-004): address review feedback on test files
  kolibri/plugins/facility/frontend/views/__tests__/facility-app-bar-page.spec.js
  kolibri/plugins/facility/frontend/views/__tests__/facility-config-page.spec.js
  kolibri/plugins/facility/frontend/views/users/UsersRootPage/__tests__/UsersRootPage.spec.js
Due: lint-frontend

Fix selected value handling in select components
  packages/kolibri-common/components/ExtraDemographics/ExtraDemographicField.vue
  packages/kolibri-common/components/userAccounts/BirthYearSelect.vue
  packages/kolibri-common/components/userAccounts/GenderSelect.vue
Due: lint-frontend

implemented suggetions
  packages/kolibri-common/components/ExtraDemographics/ExtraDemographicField.vue
  packages/kolibri-common/components/userAccounts/BirthYearSelect.vue
  packages/kolibri-common/components/userAccounts/GenderSelect.vue
Due: lint-frontend

Migrate epub viewer search tests to Vue Testing Library (#14321)
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SearchButton.spec.js
  kolibri/plugins/epub_viewer/frontend/views/__tests__/SearchSideBar.spec.js
Due: lint-frontend

test: migrate setup_wizard tests to Vue Testing Library (#14219)
  kolibri/plugins/setup_wizard/frontend/views/__tests__/FacilityPermissionsForm.spec.js
  kolibri/plugins/setup_wizard/frontend/views/__tests__/LoadingTaskPage.spec.js
Due: lint-frontend

Add AttendanceSessionResource and useAttendance composable
  kolibri/plugins/coach/frontend/composables/__tests__/useAttendance.spec.js
  kolibri/plugins/coach/frontend/composables/useAttendance.js
  packages/kolibri-common/apiResources/AttendanceSessionResource.js
  packages/kolibri-common/strings/attendanceStrings.js
Due: lint-frontend

Convert PDF viewer unit tests to Vue Testing Library #14194 (#14287)
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/Bookmarks.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfPage.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfRendererIndex.spec.js
Due: lint-frontend

Fix prev/next button alignments
  kolibri/plugins/learn/frontend/views/PrevNextBar/index.vue
  kolibri/plugins/learn/frontend/views/courses/QuizRenderer/index.vue
Due: lint-frontend

Update course list dropdown menu options to open course preview and assign recipients side panels
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/index.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CourseDetails.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/SelectRecipients.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Remove TestStatus reference, use "closed" defaulting to False instead.
  kolibri/core/auth/test/test_morango_integration.py
Due: none

Add AttendanceBlock to coach class home page
  kolibri/plugins/coach/frontend/composables/__mocks__/useAttendance.js
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/views/home/HomePage/AttendanceBlock.vue
  kolibri/plugins/coach/frontend/views/home/HomePage/__tests__/AttendanceBlock.spec.js
  kolibri/plugins/coach/frontend/views/home/HomePage/index.vue
  packages/kolibri-common/strings/attendanceStrings.js
Due: lint-frontend

Consolidate deprovision to reuse facility deletion utilities
  kolibri/core/auth/management/commands/deprovision.py
  kolibri/core/auth/test/test_deprovisioning.py
  kolibri/core/auth/utils/deprovision.py
Due: none

Remove new test classes that don't add value over existing tests
  kolibri/core/auth/test/test_deprovisioning.py
Due: none

Update a11y: remove visually hidden span, keep counts accessible
  kolibri/plugins/coach/frontend/views/home/HomePage/__tests__/AttendanceBlock.spec.js
Due: lint-frontend

Simplify AttendanceBlock: pre-compute absent counts, remove redundant ICU plurals
  kolibri/plugins/coach/frontend/views/home/HomePage/AttendanceBlock.vue
  packages/kolibri-common/strings/attendanceStrings.js
Due: lint-frontend

Fix selected value handling in select components (#14250)
  packages/kolibri-common/components/ExtraDemographics/ExtraDemographicField.vue
  packages/kolibri-common/components/userAccounts/BirthYearSelect.vue
  packages/kolibri-common/components/userAccounts/GenderSelect.vue
Due: lint-frontend

Add attendance stub pages and route wiring for coach plugin
  kolibri/plugins/coach/frontend/app.js
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/routes/attendanceRoutes.js
  kolibri/plugins/coach/frontend/routes/index.js
  kolibri/plugins/coach/frontend/views/attendance/AttendanceEditPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceHistoryPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceNewPage.vue
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendancePages.spec.js
Due: lint-frontend

update version 0.19.2 to .3
  kolibri/__init__.py
Due: none

Add depth and pagination to ImportMetadataViewset
  kolibri/core/content/public_api.py
  kolibri/core/content/test/test_public_api.py
Due: none

update process_metadata_import to import descendants if the download content request have a course node
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/content_request.py
Due: none

revert padding
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
Due: lint-frontend

Add SparklineBar component with mastery tooltip
  kolibri/plugins/coach/frontend/views/common/SparklineBar.vue
  kolibri/plugins/coach/frontend/views/common/__tests__/SparklineBar.spec.js
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

remove unused learningObjectivesLabel$ from setup return
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
Due: lint-frontend

Add class for mastery-specific pill styles
  kolibri/plugins/coach/frontend/views/common/__tests__/SparklineBar.spec.js
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
Due: lint-frontend

lint
  kolibri/plugins/coach/frontend/views/common/SparklineBar.vue
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
Due: lint-frontend

Reduce MIN_SEGMENT_WIDTH_PX
  kolibri/plugins/coach/frontend/views/common/SparklineBar.vue
  kolibri/plugins/coach/frontend/views/common/__tests__/SparklineBar.spec.js
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
Due: lint-frontend

change border width from 0.75px to 1px
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
Due: lint-frontend

Add new picture_password field to FacilityUser
  kolibri/core/auth/migrations/0033_facilityuser_add_picture_password.py
  kolibri/core/auth/models.py
Due: no-swappable-auth-migrations

lint
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
Due: lint-frontend

fix: accessibility and maxChoices fixes for QTI interactions (#14347)
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/SimpleChoice.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/TextEntryInteraction.vue
Due: lint-frontend

Fixes to conform to linting/formatting updates on develop.
  kolibri/plugins/coach/frontend/composables/__mocks__/useAttendance.js
  kolibri/plugins/coach/frontend/views/home/HomePage/__tests__/AttendanceBlock.spec.js
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/__tests__/AssignmentCard.spec.js
  packages/eslint-plugin-kolibri/tests/lib/rules/vue-no-rtl-breaking-inline-styles.spec.js
  packages/kolibri-jest-config/jest.conf/setup.js
Due: lint-frontend

Migrate plugin tests to Vue Testing Library
  kolibri/plugins/facility/frontend/views/__tests__/facility-app-bar-page.spec.js
  kolibri/plugins/facility/frontend/views/__tests__/facility-config-page.spec.js
  kolibri/plugins/facility/frontend/views/users/UsersRootPage/__tests__/UsersRootPage.spec.js
Due: lint-frontend

test(facility): avoid global UsersRootPage computed mutation and align bottom-bar queries with Testing Library
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/frontend/views/__tests__/facility-config-page.spec.js
  kolibri/plugins/facility/frontend/views/users/UsersRootPage/__tests__/UsersRootPage.spec.js
Due: lint-frontend

fixed linting issues
  kolibri/plugins/facility/frontend/views/__tests__/facility-app-bar-page.spec.js
  kolibri/plugins/facility/frontend/views/users/UsersRootPage/__tests__/UsersRootPage.spec.js
Due: lint-frontend

`feat(facility): remove redundant data-test from FacilityConfigPage bottom app bar`
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
Due: lint-frontend

Strengthen UsersRootPage empty-search test with non-matching user fixtures
  kolibri/plugins/facility/frontend/views/users/UsersRootPage/__tests__/UsersRootPage.spec.js
Due: lint-frontend

pass kwargs in pre_save
  kolibri/core/auth/models.py
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_unit_test_assignment.py
  kolibri/core/courses/viewsets.py
  kolibri/core/exams/models.py
  kolibri/core/lessons/models.py
Due: none

add unit tests
  kolibri/core/courses/test/test_unit_test_assignment.py
Due: none
