Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Add unit lesson progress API endpoint
  kolibri/plugins/coach/api_urls.py
  kolibri/plugins/coach/test/test_unit_lesson_progress.py
  kolibri/plugins/coach/unit_lesson_progress_api.py
Due: none

Add utility for picture password exhaustion
  kolibri/core/auth/test/test_picture_passwords.py
  kolibri/core/auth/utils/picture_passwords.py
Due: none

Mark kolibri-sandbox and kolibri-zip as private
  packages/kolibri-sandbox/package.json
  packages/kolibri-zip/package.json
Due: none

Automate npm package publishing
  .github/workflows/npm_publish.yml
  scripts/npm_publish.sh
Due: none

Add version bump and provenance helper scripts
  scripts/bump_version.sh
  scripts/npm_provenance.sh
Due: none

Add PR comment for npm package version changes
  .github/githubUtils.js
  .github/workflows/npm_version_check.yml
  .github/workflows/pr_build_comment.yml
Due: lint-frontend

Document npm package release process
  docs/release_process.rst
Due: none

Add computed field to facility dataset response for picture pass exhaustion
  kolibri/core/auth/api.py
  kolibri/core/auth/test/test_api.py
Due: none

Add clearing on post_transfer of a sync as receiver
  kolibri/core/auth/kolibri_plugin.py
  kolibri/core/auth/test/test_hooks.py
Due: none

Add clearing on FacilityUser signals
  kolibri/core/auth/signals.py
  kolibri/core/auth/test/test_picture_passwords.py
  kolibri/core/auth/utils/picture_passwords.py
Due: none

Add clearing on role change
  kolibri/core/auth/signals.py
  kolibri/core/auth/test/test_picture_passwords.py
Due: none

Update serializer to use new utility
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
Due: none

Add picture password strings for user creation form
  packages/kolibri-common/strings/picturePasswords.js
Due: lint-frontend

Fix: prevent object-valued attrs from leaking into DOM causing NVDA '[object Object]' issue
  kolibri/plugins/qti_viewer/frontend/components/QTIViewer.vue
  packages/kolibri/components/internal/ContentViewer/index.js
Due: lint-frontend

Expose picture_passwords_exhausted in facility dataset response
  kolibri/core/auth/api.py
Due: none

Update course title on CourseUnitView
  kolibri/plugins/learn/frontend/views/CourseUnitView/__tests__/CourseUnitView.spec.js
  kolibri/plugins/learn/frontend/views/CourseUnitView/index.vue
  kolibri/plugins/learn/frontend/views/ResourceLayout/index.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Side panel open by default on large screens
  kolibri/plugins/learn/frontend/views/ResourceLayout/__tests__/ResourceLayout.spec.js
  kolibri/plugins/learn/frontend/views/ResourceLayout/index.vue
Due: lint-frontend

Upgrade morango for deserialization
  requirements/base.txt
Due: none

Bump android_installer_version to 0.1.8
  platforms/android/scripts/version.py
Due: none

Bump version from 0.4.5 to 0.5.0
  platforms/desktop-app/src/kolibri_app/__init__.py
Due: none

Pin setuptools
  requirements/dev.txt
Due: none

Add status assertion tests for class summary API endpoint
  kolibri/plugins/coach/test/test_class_summary.py
Due: none

Use VTL v1 syntax for stubs.
  packages/kolibri-common/components/__tests__/AllPasswordsPage.spec.js
Due: lint-frontend

Migrate to handleApiError utility. Stub KRouterLink to prevent console errors.
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/CoursesRootPage.spec.js
Due: lint-frontend

Remove use of deprecated abstractproperty. Make the theme not break when no theme plugin is found.
  kolibri/core/content/hooks.py
  kolibri/core/device/hooks.py
  kolibri/core/hooks.py
  kolibri/core/theme_hook.py
  kolibri/core/webpack/hooks.py
  kolibri/plugins/hooks.py
Due: none

Add hook to add magicbus plugins to the processbus.
  kolibri/utils/server/__init__.py
  kolibri/utils/server/hooks.py
Due: none

Add class property to check if any hooks are registered.
  kolibri/plugins/hooks.py
Due: none

Fix hook imports to align with Kolibri PR #12879
  platforms/android/scripts/version.py
  platforms/android/src/android_app_plugin/kolibri_plugin.py
Due: none

Move auto reloader attachment into development plugin.
  integration_testing/development_plugin/kolibri_plugin.py
  kolibri/utils/server/__init__.py
Due: none

Delete app plugin - transfer all functionality to core hooks.
  docs/getting_started.rst
  docs/manual_testing/app_plugin/index.rst
  integration_testing/development_plugin/__init__.py
  integration_testing/development_plugin/kolibri_plugin.py
  integration_testing/scripts/run_kolibri_app_mode.py
  kolibri/__init__.py
  kolibri/core/auth/api.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/content/api.py
  kolibri/core/content/api_urls.py
  kolibri/core/content/hooks.py
  kolibri/core/content/utils/settings.py
  kolibri/core/device/api.py
  kolibri/core/device/api_urls.py
  kolibri/core/device/hooks.py
  kolibri/core/device/migrations/0008_devicesettings_allow_other_browsers_to_connect.py
  kolibri/core/device/models.py
  kolibri/core/device/permissions.py
  kolibri/core/device/tasks.py
  kolibri/core/device/test/test_api.py
  kolibri/core/device/test/test_tasks.py
  kolibri/core/device/utils.py
  kolibri/core/kolibri_plugin.py
  kolibri/core/tasks/hooks.py
  kolibri/core/tasks/job.py
  kolibri/core/tasks/storage.py
  kolibri/plugins/app/api.py
  kolibri/plugins/app/api_urls.py
  kolibri/plugins/app/kolibri_plugin.py
  kolibri/plugins/app/test/__init__.py
  kolibri/plugins/app/test/helpers.py
  kolibri/plugins/app/test/test_api.py
  kolibri/plugins/app/utils.py
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/setup_wizard/kolibri_plugin.py
  kolibri/plugins/user_auth/kolibri_plugin.py
  package.json
  packages/kolibri/utils/appCapabilities.js
Due: lint-frontend, no-swappable-auth-migrations

Re-implement share file functionality. Remove unneeded appCapabilities from kolibri/utils.
  kolibri/plugins/learn/frontend/views/CurrentlyViewedResourceMetadata.vue
  kolibri/plugins/learn/frontend/views/commonLearnStrings.js
  kolibri/plugins/learn/kolibri_plugin.py
  packages/kolibri-tools/lib/moduleMapping.js
  packages/kolibri/internal/apiSpec.js
  packages/kolibri/package.json
  packages/kolibri/utils/appCapabilities.js
Due: lint-frontend

Remove use of checkCapability function in favour of more explicit checks.
  kolibri/plugins/device/frontend/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/kolibri_plugin.py
  kolibri/plugins/learn/frontend/views/LibraryPage/MeteredConnectionNotificationModal.vue
  kolibri/plugins/learn/frontend/views/LibraryPage/index.vue
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/setup_wizard/frontend/machines/wizardMachine.js
  kolibri/plugins/setup_wizard/frontend/views/SetupWizardIndex.vue
  kolibri/plugins/setup_wizard/frontend/views/onboarding-forms/SettingUpKolibri.vue
  kolibri/plugins/setup_wizard/kolibri_plugin.py
  packages/kolibri-common/utils/checkMeteredConnection.js
  packages/kolibri/utils/appCapabilities.js
Due: lint-frontend

Update app installers to versions that use the new hooks based architecture.
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Due: none

Add script to check packages for unpublished changes
  scripts/npm_check_published.sh
Due: none

Fix mark-all-present switch requiring two clicks after modal cancel
  kolibri/plugins/coach/frontend/composables/useAttendanceForm.js
  kolibri/plugins/coach/frontend/views/attendance/AttendanceFormTable.vue
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendancePages.spec.js
Due: lint-frontend

Disable learner creation when picture password limit is reached
  kolibri/plugins/facility/frontend/views/users/sidePanels/UserCreate/index.vue
Due: lint-frontend

Replace hard-coded strings in AttendancePages.spec with i18n functions
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendancePages.spec.js
Due: lint-frontend

Improve PR comment to warn about unbumped package versions
  .github/githubUtils.js
  .github/workflows/npm_version_check.yml
  .github/workflows/npm_version_comment.yml
Due: lint-frontend

Bump package versions for publish
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-format/package.json
  packages/kolibri-plugin-data/package.json
Due: none

Exclude frontend/ directories from sdist instead of old assets/
  MANIFEST.in
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
