Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Fix broken pnpm lock file.
  pnpm-lock.yaml
Due: none

fix: update tests to call get_usable_sources directly
  platforms/debian-server/tests/test_launchpad_copy.py
Due: none

fix: use copyPackage instead of syncSources for series copies
  platforms/debian-server/scripts/launchpad_copy.py
  platforms/debian-server/tests/test_launchpad_copy.py
Due: none

Add risk level badges to LearnersReport
  kolibri/plugins/coach/frontend/views/courses/LearnersReport.vue
Due: lint-frontend

Add LearnersReport component with learner table and empty states
  kolibri/plugins/coach/frontend/views/courses/LearnersReport.vue
Due: lint-frontend

Sort learners by score and support pre/post test toggle in LearnersReport
  kolibri/plugins/coach/frontend/views/courses/LearnersReport.vue
Due: lint-frontend

Add i18n strings for LearnersReport and LearnerSidePanel
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Add LearnerSidePanel component for per-learner score detail
  kolibri/plugins/coach/frontend/views/courses/LearnerSidePanel.vue
Due: lint-frontend

Add tests for LearnersReport and LearnerSidePanel
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearnerSidePanel.spec.js
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearnersReport.spec.js
Due: lint-frontend

Add LearnersReport component to the Course Summary page
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/LearnerSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/LearningObjectivesReport.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearningObjectivesReport.spec.js
Due: lint-frontend

Fix LearnersReport table to use KTable headers with proper labels
  kolibri/plugins/coach/frontend/composables/__tests__/useUnitReport.spec.js
  kolibri/plugins/coach/frontend/composables/useUnitReport.js
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/LearnerSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/LearnersReport.vue
  kolibri/plugins/coach/frontend/views/courses/LearningObjectivesReport.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearnersReport.spec.js
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Consolidate progress/completed count into single label
  kolibri/plugins/coach/frontend/views/courses/LearnerSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearnerSidePanel.spec.js
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

lint fix
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/LearningObjectivesReport.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Add more relevant snackbar error message when loading attendance data
  kolibri/plugins/coach/frontend/views/attendance/AttendanceEditPage.vue
Due: lint-frontend

lint fix
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/LearnerSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/LearnersReport.vue
  kolibri/plugins/coach/frontend/views/courses/LearningObjectivesReport.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearnerSidePanel.spec.js
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearnersReport.spec.js
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearningObjectivesReport.spec.js
Due: lint-frontend

Ensure Attendance Tracking confirmation snackbar is displayed (#14478)
  kolibri/plugins/coach/frontend/composables/useAttendanceForm.js
  kolibri/plugins/coach/frontend/views/attendance/AttendanceEditPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceHistoryPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceNewPage.vue
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendanceHistoryPage.spec.js
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendancePages.spec.js
Due: lint-frontend

fix: accessibility improvements for text entry interaction
  kolibri/plugins/qti_viewer/frontend/components/interactions/TextEntryInteraction.vue
Due: lint-frontend

Refactor learn course resume endpoint logic to be inside the Course model
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_models.py
  kolibri/plugins/learn/viewsets.py
Due: none

Add priority field to ContentRequest model
  kolibri/core/content/migrations/0043_contentrequest_priority.py
  kolibri/core/content/migrations/0044_contentrequest_priority_default.py
  kolibri/core/content/models.py
  kolibri/core/content/tasks.py
  kolibri/core/content/upgrade.py
Due: no-swappable-auth-migrations

Add official Docker image with best practices
  .github/workflows/container_image_cleanup.yml
  .github/workflows/container_image_publish.yml
  .github/workflows/release_kolibri.yml
  Makefile
  build_tools/build_whl.dockerfile
  docker/Dockerfile
  docker/Makefile
  docker/README.md
  docker/base.dockerfile
  docker/demoserver.dockerfile
  docker/dev.dockerfile
  docker/entrypoint.py
  docker/entrypoint.sh
  docker/env.list
  docker/mnt/.gitkeep
  docker/readme.md
Due: none

Adds docker hug registry
  .github/workflows/container_image_publish.yml
Due: none

fix: replace wait-for-builds with wait-for-published and fix copy errors
  platforms/debian-server/.github/workflows/build_debian.yml
  platforms/debian-server/scripts/launchpad_copy.py
  platforms/debian-server/tests/test_launchpad_copy.py
Due: none

Upgrade KDS from v5.5.2 to v5.6.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: promote uses syncSources and add final wait-for-published
  platforms/debian-server/.github/workflows/build_debian.yml
  platforms/debian-server/scripts/launchpad_copy.py
  platforms/debian-server/tests/test_launchpad_copy.py
Due: none

Replace hardcoded threshold values
  kolibri/plugins/coach/frontend/views/courses/LearnersReport.vue
Due: lint-frontend

Prioritize course content download based on learner progress
  kolibri/core/content/utils/assignment.py
  kolibri/core/content/utils/content_request.py
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_models.py
Due: none

fix test
  kolibri/plugins/coach/frontend/views/courses/LearnerSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearnerSidePanel.spec.js
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearnersReport.spec.js
Due: lint-frontend

Clean priority logic
  kolibri/conftest.py
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_models.py
Due: none

Remove quotes and generalize workflow names
  .github/workflows/container_image_cleanup.yml
  .github/workflows/container_image_publish.yml
Due: none

Refactor content viewer CSS loading to use RTL manager
  kolibri/plugins/perseus_viewer/frontend/views/PerseusRendererIndex.vue
  packages/kolibri/internal/pluginMediator.js
Due: lint-frontend

Add dynamic RTL CSS loading support for webpack bundles
  packages/kolibri-build/src/__tests__/webpackRtlPlugin.spec.js
  packages/kolibri-build/src/createCssInsert.js
  packages/kolibri-build/src/webpack.config.plugin.js
  packages/kolibri-build/src/webpackRtlPlugin.js
  packages/kolibri/__tests__/rtlcss.spec.js
  packages/kolibri/internal/apiSpec.js
  packages/kolibri/package.json
  packages/kolibri/rtlcss.js
Due: lint-frontend

move notLoading dispatch from component watcher
  kolibri/plugins/coach/frontend/routes/coursesRoutes.js
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/LearnerSidePanel.vue
Due: lint-frontend

ci: rename build_debian.yml to release.yml
  platforms/debian-server/.github/workflows/release.yml
Due: none

ci: add build_binary_package job to release workflow
  platforms/debian-server/.github/workflows/release.yml
Due: none

ci: add GitHub Pages PPA publishing to release workflow
  platforms/debian-server/.github/workflows/release.yml
Due: none

Replace store-based samePageCheckGenerator with route identity checks
  kolibri/core/frontend/state/modules/core/getters.js
  kolibri/core/frontend/state/modules/core/index.js
  kolibri/core/frontend/state/modules/core/mutations.js
  kolibri/plugins/coach/frontend/composables/useGroups.js
  kolibri/plugins/coach/frontend/routes/groupsRoutes.js
  kolibri/plugins/device/frontend/modules/deviceInfo/handlers.js
  kolibri/plugins/device/frontend/modules/managePermissions/handlers.js
  kolibri/plugins/device/frontend/modules/userPermissions/handlers.js
  kolibri/plugins/device/frontend/modules/wizard/handlers.js
  kolibri/plugins/device/frontend/routes/index.js
  kolibri/plugins/device/frontend/routes/wizardTransitionRoutes.js
  kolibri/plugins/facility/frontend/modules/classAssignMembers/handlers.js
  kolibri/plugins/learn/frontend/modules/examViewer/handlers.js
  kolibri/plugins/learn/frontend/routes/classesRoutes.js
  kolibri/plugins/learn/frontend/views/LibraryPage/index.vue
  kolibri/plugins/learn/frontend/views/TopicsContentPage.vue
  kolibri/plugins/learn/frontend/views/TopicsPage/index.vue
  kolibri/plugins/learn/frontend/views/__tests__/library-page.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/topic-content.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/topics-page.spec.js
  packages/kolibri-common/utils/__tests__/samePageCheckGenerator.spec.js
  packages/kolibri-common/utils/samePageCheckGenerator.js
  packages/kolibri-i18n/src/__fixtures__/TestUserPermissions.js
Due: lint-frontend

ci: update GitHub Actions to latest versions and add dependabot
  platforms/debian-server/.github/dependabot.yml
  platforms/debian-server/.github/workflows/installtest.yml
  platforms/debian-server/.github/workflows/pre-commit.yml
  platforms/debian-server/.github/workflows/python_tests.yml
  platforms/debian-server/.github/workflows/release.yml
Due: none

fix: copy .deb into workspace before upload-artifact
  platforms/debian-server/.github/workflows/release.yml
Due: none

Remove dead Vuex notification state and consumers
  kolibri/core/frontend/state/modules/core/index.js
  kolibri/core/frontend/state/modules/core/mutations.js
  packages/kolibri/components/pages/NotificationsRoot/index.vue
  packages/kolibri/components/pages/NotificationsRoot/internal/UpdateNotification.vue
Due: lint-frontend

Move setUnspecifiedPassword from core Vuex to user_auth utility
  kolibri/core/frontend/state/modules/core/actions.js
  kolibri/plugins/user_auth/frontend/api.js
  kolibri/plugins/user_auth/frontend/views/SignInPage/NewPasswordPage.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/NewPasswordPage.spec.js
Due: lint-frontend

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
