Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

add test for tasks
  kolibri/core/errorreports/tasks.py
  kolibri/core/errorreports/test/test_middleware.py
  kolibri/core/errorreports/test/test_tasks.py
Due: none

update erroreports task to report more fields
  kolibri/core/errorreports/tasks.py
  kolibri/core/errorreports/test/test_tasks.py
Due: none

add installation_type in tasks
  kolibri/core/errorreports/tasks.py
Due: none

update schema of frontend
  kolibri/core/errorreports/migrations/0002_add_more_fields.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/schemas.py
Due: no-swappable-auth-migrations

use ua-parser for the device and os
  kolibri/core/errorreports/test/test_api.py
  packages/kolibri/utils/browserInfo.js
Due: lint-frontend

revert
  kolibri/core/errorreports/models.py
Due: none

clarity
  kolibri/core/errorreports/tasks.py
Due: none

add os in context_frontend
  kolibri/core/errorreports/migrations/0002_add_more_fields.py
  kolibri/core/errorreports/schemas.py
  kolibri/core/errorreports/test/test_api.py
Due: no-swappable-auth-migrations

format python version
  kolibri/core/errorreports/middleware.py
Due: none

changes: single context instead of two, full version instead of parsed, remove mark_as_reported
  kolibri/core/errorreports/migrations/0002_add_more_fields.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/test/test_models.py
Due: no-swappable-auth-migrations

use definations for schema
  kolibri/core/errorreports/migrations/0002_add_more_fields.py
  kolibri/core/errorreports/schemas.py
Due: no-swappable-auth-migrations

seeprate device and isTouchDevice
  packages/kolibri/utils/browserInfo.js
Due: lint-frontend

changes: modelserializer instead of regular, pass context to the save method
  kolibri/core/errorreports/api.py
  kolibri/core/errorreports/serializers.py
  kolibri/core/errorreports/test/test_api.py
Due: none

use single context
  kolibri/core/errorreports/tasks.py
  kolibri/core/errorreports/test/test_tasks.py
Due: none

changes: importlib instead of pkg_resources and pass context to the save method
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/test/test_middleware.py
Due: none

add query_params and improve packages retreival
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/migrations/0002_add_more_fields.py
  kolibri/core/errorreports/schemas.py
  kolibri/core/errorreports/test/test_middleware.py
  kolibri/core/errorreports/test/test_models.py
  kolibri/core/errorreports/test/test_tasks.py
Due: no-swappable-auth-migrations

Add pingback_id and request_time
  kolibri/core/analytics/tasks.py
  kolibri/core/analytics/utils.py
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/migrations/0002_add_more_fields.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/tasks.py
  kolibri/core/errorreports/test/test_middleware.py
  kolibri/core/errorreports/test/test_tasks.py
  kolibri/deployment/default/settings/base.py
Due: no-swappable-auth-migrations

add more screen info in schemas and remove default schemas
  kolibri/core/errorreports/schemas.py
Due: none

reruns migrations
  kolibri/core/errorreports/migrations/0001_initial.py
  kolibri/core/errorreports/migrations/0002_add_more_fields.py
  yarn.lock
Due: no-swappable-auth-migrations

Removes information exposure through exception
  kolibri/core/errorreports/api.py
Due: none

raise 400 instead of 500
  kolibri/core/errorreports/api.py
  kolibri/core/errorreports/test/test_api.py
Due: none

refactor stuffs
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/migrations/0001_initial.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/schemas.py
  kolibri/core/errorreports/tasks.py
  kolibri/core/errorreports/test/test_middleware.py
  kolibri/core/errorreports/test/test_tasks.py
Due: no-swappable-auth-migrations

use get_or_create() with defaults arg
  kolibri/core/errorreports/models.py
Due: none

Make error reporting pluggable.
  kolibri/__init__.py
  kolibri/core/api_urls.py
  kolibri/core/errorreports/middleware.py
  kolibri/plugins/error_reports/__init__.py
  kolibri/plugins/error_reports/api.py
  kolibri/plugins/error_reports/api_urls.py
  kolibri/plugins/error_reports/assets/src/index.js
  kolibri/plugins/error_reports/assets/src/utils.js
  kolibri/plugins/error_reports/buildConfig.js
  kolibri/plugins/error_reports/kolibri_plugin.py
  kolibri/plugins/error_reports/serializers.py
  kolibri/plugins/error_reports/test/test_api.py
  kolibri/utils/build_config/default_plugins.py
Due: lint-frontend

Add error capturing for tasks.
  kolibri/core/error_reports/middleware.py
  kolibri/core/errorreports/constants.py
  kolibri/core/errorreports/migrations/0002_alter_errorreports_category.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/schemas.py
  kolibri/core/errorreports/test/test_models.py
  kolibri/plugins/error_reports/kolibri_plugin.py
Due: no-swappable-auth-migrations

Refactor to standardize naming of core app and model.
  kolibri/core/analytics/tasks.py
  kolibri/core/error_reports/__init__.py
  kolibri/core/error_reports/apps.py
  kolibri/core/error_reports/constants.py
  kolibri/core/error_reports/migrations/0001_initial.py
  kolibri/core/error_reports/migrations/__init__.py
  kolibri/core/error_reports/models.py
  kolibri/core/error_reports/schemas.py
  kolibri/core/error_reports/tasks.py
  kolibri/core/error_reports/test/__init__.py
  kolibri/core/error_reports/test/test_middleware.py
  kolibri/core/error_reports/test/test_models.py
  kolibri/core/error_reports/test/test_tasks.py
  kolibri/core/errorreports/apps.py
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/migrations/0002_alter_errorreports_category.py
  kolibri/core/errorreports/test/__init__.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/sqlite_db_names.py
  kolibri/plugins/error_reports/api.py
  kolibri/plugins/error_reports/kolibri_plugin.py
  kolibri/plugins/error_reports/serializers.py
  kolibri/plugins/error_reports/test/test_api.py
Due: no-swappable-auth-migrations

template added
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

FEAT #13168: composable for exam report data fetching for LearningExamReportViewer
  kolibri/plugins/learn/assets/src/composables/useExamReport.js
Due: lint-frontend

Temporarily oerride KDS version for testing
  packages/kolibri/package.json
  yarn.lock
Due: none

cleanup inputMaxQuestions and use the maxQuestions
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/sidePanels/QuizResourceSelection/subPages/QuestionsSettings.vue
Due: lint-frontend

maximum questions in channel checks and validation as input max value
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/sidePanels/QuizResourceSelection/subPages/QuestionsSettings.vue
Due: lint-frontend

useuser2.0
  kolibri/core/assets/src/state/modules/core/actions.js
  kolibri/core/assets/src/state/modules/core/index.js
  kolibri/core/assets/src/state/modules/session.js
  kolibri/plugins/facility/assets/src/views/UserEditPage.vue
  kolibri/plugins/facility/assets/test/views/facility-config-page.spec.js
  kolibri/plugins/learn/assets/src/composables/__tests__/useProgressTracking.spec.js
  kolibri/plugins/policies/assets/src/modules/policies/actions.js
  kolibri/plugins/user_auth/assets/src/views/AuthBase.vue
  kolibri/plugins/user_auth/assets/src/views/SignInPage/NewPasswordPage.vue
  kolibri/plugins/user_auth/assets/src/views/SignInPage/__test__/NewPasswordPage.spec.js
  kolibri/plugins/user_auth/assets/src/views/SignInPage/index.vue
  packages/kolibri/__tests__/heartbeat.spec.js
  packages/kolibri/__tests__/store.spec.js
  packages/kolibri/components/pages/__tests__/NotificationsRoot.spec.js
  packages/kolibri/composables/useUser.js
  packages/kolibri/heartbeat.js
Due: lint-frontend

issue solve to The accessible cards are not displayed correctly
  packages/kolibri-common/components/Cards/AccessibleChannelCard.vue
Due: lint-frontend

Install KDS fork
  packages/kolibri/package.json
  yarn.lock
Due: none

App: Learn
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/CopiesModal.vue
  kolibri/plugins/learn/assets/src/views/CurrentlyViewedResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningLessonCard.vue
  kolibri/plugins/learn/assets/src/views/LibraryAndChannelBrowserMainContent.vue
  kolibri/plugins/learn/assets/src/views/cards/BaseCard.vue
  packages/kolibri/components/DownloadButton.vue
Due: lint-frontend

Added a default value to lang in Cardlist.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
Due: lint-frontend

Fixed Console Errors
  kolibri/plugins/learn/assets/src/views/AlsoInThis.vue
  kolibri/plugins/learn/assets/src/views/BrowseResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/CardList.vue
  kolibri/plugins/learn/assets/src/views/ChannelCardGroupGrid.vue
  kolibri/plugins/learn/assets/src/views/CurrentlyViewedResourceMetadata.vue
  kolibri/plugins/learn/assets/src/views/HybridLearningLessonCard.vue
  packages/kolibri/components/DownloadButton.vue
Due: lint-frontend

remove unused style; apply 95vw max width to users table in Facility
  kolibri/plugins/facility/assets/src/views/FacilityAppBarPage.vue
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
Due: lint-frontend

Leverage appearanceOverrides to set user page width
  kolibri/plugins/facility/assets/src/views/FacilityAppBarPage.vue
  kolibri/plugins/facility/assets/src/views/UserPage/index.vue
Due: lint-frontend

Add included_languages to content nodes. Add included_languages filtering to content APIs.
  kolibri/core/content/api.py
  kolibri/core/content/contentschema/versions/content_schema_current.py
  kolibri/core/content/migrations/0040_contentnode_included_languages.py
  kolibri/core/content/models.py
  kolibri/core/content/test/test_annotation.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/upgrade.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/channel_import.py
Due: no-swappable-auth-migrations
