Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Delete package-lock.json
  package-lock.json
Due: none

Improve wget section of README.md
  platforms/desktop-app/README.md
Due: none

new commit
  kolibri/core/assets/src/state/modules/session.js
  kolibri/core/auth/api.py
  kolibri/core/auth/migrations/0031_facilityuser_onboarding_complete.py
  kolibri/core/auth/models.py
  kolibri/core/content/migrations/0041_auto_20250628_2151.py
  kolibri/plugins/device/assets/src/views/PostSetupModalGroup.vue
  kolibri/plugins/facility/assets/src/modules/mappers.js
Due: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

new commit
  kolibri/plugins/device/assets/src/views/PostSetupModalGroup.vue
  kolibri/plugins/device/assets/src/views/WelcomeModal.vue
  packages/kolibri/composables/useUser.js
Due: lint-frontend

(windows): Upgrade to Edge WebView2 for web rendering
  platforms/desktop-app/README.md
  platforms/desktop-app/kolibri.spec
  platforms/desktop-app/src/kolibri_app/__main__.py
  platforms/desktop-app/src/kolibri_app/view.py
Due: none

Fix: Previous commit broke the mac build
  platforms/desktop-app/kolibri.spec
Due: none

Fix: removed leftover square bracket
  platforms/desktop-app/kolibri.spec
Due: none

applied fixes
  packages/kolibri-format/index.js
  packages/kolibri-format/package.json
  yarn.lock
Due: lint-frontend

Add error handling
  platforms/desktop-app/kolibri.spec
Due: none

messed up error handling in last commit, this fixes it
  platforms/desktop-app/kolibri.spec
Due: none

use screen breakpoints from kds
  kolibri/core/error_reports/schemas.py
  kolibri/plugins/error_reports/assets/src/utils.js
  packages/kolibri/utils/browserInfo.js
Due: lint-frontend

new changes
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
Due: lint-frontend

feat(windows): Separate UI and server into two processes
  platforms/desktop-app/setup.py
  platforms/desktop-app/src/kolibri_app/__init__.py
  platforms/desktop-app/src/kolibri_app/__main__.py
  platforms/desktop-app/src/kolibri_app/application.py
  platforms/desktop-app/src/kolibri_app/server_manager_posix.py
  platforms/desktop-app/src/kolibri_app/server_manager_windows.py
  platforms/desktop-app/src/kolibri_app/server_process.py
Due: none

Add Windows installer with service support
  platforms/desktop-app/Makefile
  platforms/desktop-app/kolibri.iss
  platforms/desktop-app/src/kolibri_app/__init__.py
  platforms/desktop-app/src/kolibri_app/server_manager_windows.py
  platforms/desktop-app/src/kolibri_app/server_process.py
Due: none

merge PII to default denylist
  kolibri/core/error_reports/utils/scrubber.py
Due: none

Implement server recovery and fallback logic
  platforms/desktop-app/src/kolibri_app/server_manager_windows.py
Due: none

Changes to kolibri.iss: Add constants, reduce LocalService permissions, improve UX for downgrades
  platforms/desktop-app/kolibri.iss
Due: none

Add option for deleting user data during app uninstallation
  platforms/desktop-app/kolibri.iss
Due: none

Register get_os_user for taskworker
  platforms/android/src/android_utils.py
  platforms/android/src/main.py
  platforms/android/src/taskworker.py
Due: none

Update to 0.1.5
  platforms/android/scripts/version.py
Due: none

Revert back to using .kolibri as the KOLIBRI_HOME for make run-dev
  platforms/desktop-app/src/kolibri_app/__init__.py
Due: none

Set preserve symlinks to false for pnpm compatibility
  packages/kolibri-format/.eslintrc.js
Due: lint-frontend

Refactor IPC logic into a dedicated plugin
  platforms/desktop-app/src/kolibri_app/__main__.py
  platforms/desktop-app/src/kolibri_app/server_process.py
  platforms/desktop-app/src/kolibri_app/server_process_windows.py
Due: none

Improve windows server manager structure and error handling (server_manager_windows.py)
  platforms/desktop-app/src/kolibri_app/server_manager_windows.py
Due: none

Fix pyright error
  platforms/desktop-app/src/kolibri_app/server_process_windows.py
Due: none

Remove redundant subscription()
  platforms/desktop-app/src/kolibri_app/server_manager_posix.py
Due: none

Define nssm version at the top of Makefile
  platforms/desktop-app/Makefile
Due: none

added keyboard navigation for tooltips and removed scrolling when tooltip is rendered
  kolibri/plugins/device/assets/src/views/WelcomeModal.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  packages/kolibri-common/components/onboarding/TooltipContent.vue
  packages/kolibri-common/components/onboarding/TooltipTour.vue
Due: lint-frontend

added keyboard navigation and pageTitle for tooltips for screen reader
  kolibri/plugins/device/assets/src/views/WelcomeModal.vue
  packages/kolibri-common/components/onboarding/TooltipContent.vue
  packages/kolibri-common/components/onboarding/TooltipTour.vue
  packages/kolibri-common/strings/kolibriOnboardingGuideStrings.js
  packages/kolibri/components/language-switcher/LanguageSwitcherModal.vue
Due: lint-frontend

new commit
  packages/kolibri/components/language-switcher/LanguageSwitcherModal.vue
Due: lint-frontend

removed unwanted changes
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  packages/kolibri-common/components/onboarding/TooltipTour.vue
Due: lint-frontend

added new conditional to handle tab key press in focusTrapHandler function
  packages/kolibri-common/components/onboarding/TooltipContent.vue
Due: lint-frontend

refactor: passed translated string to onboardingStepDescription in TooltipContent
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  packages/kolibri-common/components/onboarding/TooltipContent.vue
  packages/kolibri-common/components/onboarding/TooltipTour.vue
  packages/kolibri-common/utils/onboardingSteps.js
Due: lint-frontend

refactor: refactored the code for initial focus trap behaviour for tooltip Also reverted the changes made to LibraryPage of previous commit.
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  packages/kolibri-common/components/onboarding/TooltipContent.vue
  packages/kolibri-common/components/onboarding/TooltipTour.vue
Due: lint-frontend

refactor:Mapped the untranslated key string prop passed from TooltipTour to translated string within TooltipContent
  kolibri/plugins/learn/assets/src/views/ChannelCard.vue
  kolibri/plugins/learn/assets/src/views/LibraryPage/index.vue
  packages/kolibri-common/components/onboarding/TooltipContent.vue
  packages/kolibri-common/components/onboarding/TooltipTour.vue
  packages/kolibri-common/utils/onboardingSteps.js
Due: lint-frontend

refactor: updated TooltipContent to follow DOM-based focus order on keyboard navigation
  packages/kolibri-common/components/onboarding/TooltipContent.vue
Due: lint-frontend

Fix bug: Now local server auto-restarts after service fallback
  platforms/desktop-app/src/kolibri_app/server_manager_windows.py
Due: none

add tests for the new FacilityUser deletion task
  kolibri/core/auth/api.py
  kolibri/core/auth/tasks.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/test/test_auth_tasks.py
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
