Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

removed unused percentage 1.0
  kolibri/plugins/device/frontend/views/ManageTasksPage/__tests__/TaskPanel.spec.js
Due: lint-frontend

Export all attendance history pages to CSV, not just the first page
  kolibri/plugins/coach/frontend/composables/useCoreCoach.js
  kolibri/plugins/coach/frontend/views/attendance/AttendanceHistoryPage.vue
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendanceHistoryPage.spec.js
Due: lint-frontend

Add attendance session generation to generateuserdata command
  kolibri/core/logger/management/commands/generateuserdata.py
  kolibri/core/logger/test/test_generateuserdata.py
  kolibri/core/logger/utils/user_data.py
Due: none

Fix custom date range filter excluding sessions on end date
  kolibri/core/attendance/test/test_api.py
  kolibri/plugins/coach/frontend/views/attendance/AttendanceHistoryPage.vue
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendanceHistoryPage.spec.js
Due: lint-frontend

Update changelog for 0.19.3
  CHANGELOG.md
Due: none

annotate attendance with historical learner references, so coaches have more accurate insight into currently and previously enrolled learners over time
  kolibri/core/attendance/api.py
  kolibri/core/attendance/test/test_api.py
  kolibri/plugins/coach/frontend/composables/useAttendanceForm.js
  kolibri/plugins/coach/frontend/views/attendance/AttendanceEditPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceFormTable.vue
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendancePages.spec.js
  packages/kolibri-common/strings/attendanceStrings.js
Due: lint-frontend

Improve string structure
  kolibri/plugins/coach/frontend/views/attendance/AttendanceFormTable.vue
  packages/kolibri-common/strings/attendanceStrings.js
Due: lint-frontend

use only one section
  kolibri/plugins/coach/frontend/views/attendance/AttendanceEditPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceFormTable.vue
Due: lint-frontend

Simplify the closed status check and more refactor
  kolibri/plugins/coach/test/test_unit_report.py
  kolibri/plugins/coach/unit_report_api.py
Due: none

fix rtibblesbot sugestion
  kolibri/plugins/coach/unit_report_api.py
Due: none

0.19.3 release
  platforms/debian/debian/changelog
Due: none

Bump version from 0.19.3 to 0.19.4
  kolibri/__init__.py
Due: none

Rename feature to 'Attendance Tracking' and update status
  CHANGELOG.md
Due: none

Add Django 3.2 and pkgutil monkey patches for Python 3.14
  kolibri/utils/env.py
  test/test_env_compat.py
Due: none

Replace deprecated datetime.utcnow() and utcfromtimestamp() calls
  kolibri/core/auth/api.py
  kolibri/core/tasks/test/taskrunner/test_scheduler.py
  kolibri/plugins/facility/views.py
  kolibri/utils/version.py
Due: none

Fix test compatibility for Python 3.14
  kolibri/core/content/test/test_content_app.py
  pytest.ini
  requirements/test.txt
Due: none

Add Python 3.14 to version constraint, CI matrices, and docs
  .github/workflows/morango_integration.yml
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/tox.yml
  docs/getting_started.rst
  requirements/base.txt
  setup.py
  tox.ini
Due: none

Resolve a linter failure
  platforms/desktop-app/src/kolibri_app/windows_registry.py
Due: none

fix unit test error
  kolibri/core/attendance/models.py
Due: none

Extract into a single authoritative module
  kolibri/core/logger/api.py
  kolibri/core/logger/utils/pre_post_test.py
  kolibri/plugins/coach/test/test_unit_report.py
  kolibri/plugins/coach/unit_report_api.py
Due: none

add tests for mastery log edge cases
  kolibri/plugins/coach/test/test_unit_report.py
  kolibri/plugins/coach/unit_report_api.py
Due: none

remove user exclusion from learner list
  kolibri/plugins/coach/test/test_unit_report.py
  kolibri/plugins/coach/unit_report_api.py
Due: none

Fix QTI viewer accessibility and simplify state management
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/SimpleChoice.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/TextEntryInteraction.vue
Due: lint-frontend

Add merge migration
  kolibri/core/auth/migrations/0034_merge_attendance_setting_picture_password.py
Due: no-swappable-auth-migrations

Clean up redundant classSummary from test.
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendancePages.spec.js
Due: lint-frontend

Add exclude_course_ancestry filter to ContentNode API
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
Due: none

Exclude course ancestry from learner content in Learn plugin
  kolibri/plugins/learn/kolibri_plugin.py
  kolibri/plugins/learn/viewsets.py
Due: none

Exclude courses from search results and topics page for learners
  kolibri/plugins/learn/frontend/views/TopicsPage/index.vue
  packages/kolibri-common/composables/__tests__/useBaseSearch.spec.js
  packages/kolibri-common/composables/useBaseSearch.js
Due: lint-frontend

Exclude course ancestry from learner resumable resources
  kolibri/plugins/learn/frontend/composables/__tests__/useLearnerResources.spec.js
  kolibri/plugins/learn/frontend/composables/useLearnerResources.js
Due: lint-frontend

fix: debsign argument parsing, PPA_SERIES precedence, passphrase cleanup
  platforms/debian-server/.github/workflows/build_debian.yml
  platforms/debian-server/Makefile
  platforms/debian-server/test/setup_ppa.sh
Due: none

fix: extract GPG_KEY_ID from imported key instead of requiring a secret
  platforms/debian-server/.github/workflows/build_debian.yml
Due: none

Migrate tests for AvailableChannelsPage to Vue Testing Library
  kolibri/plugins/device/frontend/views/__tests__/AvailableChannelsPage.spec.js
Due: lint-frontend

Migrate RearrangeChannelsPage tests to Vue Testing Library
  kolibri/plugins/device/frontend/views/__tests__/RearrangeChannelsPage.spec.js
Due: lint-frontend

Migrate ChannelTokenModal tests to Vue Testing Library
  kolibri/plugins/device/frontend/views/__tests__/ChannelTokenModal.spec.js
Due: lint-frontend

fix: restore coreOutline usage for proper focus styling in TextEntryInteraction
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/SimpleChoice.vue
Due: lint-frontend

scaffold meassages.po files for languages
  platforms/desktop-app/installer/kolibri.iss
  platforms/desktop-app/installer/translations/locale/ar/messages.po
  platforms/desktop-app/installer/translations/locale/bg-bg/messages.po
  platforms/desktop-app/installer/translations/locale/bn-bd/messages.po
  platforms/desktop-app/installer/translations/locale/el/messages.po
  platforms/desktop-app/installer/translations/locale/en/messages.po
  platforms/desktop-app/installer/translations/locale/es-419/messages.po
  platforms/desktop-app/installer/translations/locale/es-es/messages.po
  platforms/desktop-app/installer/translations/locale/fa/messages.po
  platforms/desktop-app/installer/translations/locale/ff-cm/messages.po
  platforms/desktop-app/installer/translations/locale/fr-fr/messages.po
  platforms/desktop-app/installer/translations/locale/gu-in/messages.po
  platforms/desktop-app/installer/translations/locale/ha/messages.po
  platforms/desktop-app/installer/translations/locale/hi-in/messages.po
  platforms/desktop-app/installer/translations/locale/ht/messages.po
  platforms/desktop-app/installer/translations/locale/id/messages.po
  platforms/desktop-app/installer/translations/locale/it/messages.po
  platforms/desktop-app/installer/translations/locale/ka/messages.po
  platforms/desktop-app/installer/translations/locale/km/messages.po
  platforms/desktop-app/installer/translations/locale/ko/messages.po
  platforms/desktop-app/installer/translations/locale/mr/messages.po
  platforms/desktop-app/installer/translations/locale/my/messages.po
  platforms/desktop-app/installer/translations/locale/ny/messages.po
  platforms/desktop-app/installer/translations/locale/pa/messages.po
  platforms/desktop-app/installer/translations/locale/pt-br/messages.po
  platforms/desktop-app/installer/translations/locale/pt-mz/messages.po
  platforms/desktop-app/installer/translations/locale/sw-tz/messages.po
  platforms/desktop-app/installer/translations/locale/te/messages.po
  platforms/desktop-app/installer/translations/locale/uk/messages.po
  platforms/desktop-app/installer/translations/locale/ur-pk/messages.po
  platforms/desktop-app/installer/translations/locale/vi/messages.po
  platforms/desktop-app/installer/translations/locale/yo/messages.po
  platforms/desktop-app/installer/translations/locale/zh-hans/messages.po
Due: none

fix: clean up focus styles and diff
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/SimpleChoice.vue
Due: lint-frontend

rename synthetic content ID namespace for clarity
  kolibri/core/logger/utils/pre_post_test.py
Due: none

Fix FacilityDatasetSerializer.validate to handle PATCH requests by falling back to instance values
  kolibri/core/auth/serializers.py
Due: none

Add new authentication feature allowing learners to login using picture passwords instead of text passwords
  kolibri/core/auth/api.py
  kolibri/core/auth/migrations/0033_facilitydataset_picture_password.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/test/test_datasets.py
Due: no-swappable-auth-migrations

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
