Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Use negative core check for plugin redirect guard
  kolibri/core/device/middleware.py
Due: none

Unprovisioned URL Redirect (+ remove dead code) (#14200)
  kolibri/core/device/middleware.py
  kolibri/core/device/utils.py
  kolibri/core/test/test_key_urls.py
Due: none

Install kolibri in i18n-upload workflow
  .github/workflows/i18n-upload.yml
Due: none

Rename compat module and update related imports(fixes #14182)
  kolibri/plugins/utils/__init__.py
  kolibri/utils/cli.py
  kolibri/utils/modules.py
Due: none

test(signup): refactored to vue testing library
  kolibri/plugins/user_auth/frontend/views/__tests__/sign-up-page.spec.js
Due: lint-frontend

test(signin): refactored to vue testing library
  kolibri/plugins/user_auth/frontend/views/__tests__/sign-in-page.spec.js
Due: lint-frontend

test(NewPasswordPage): refactored to vue testing library
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/NewPasswordPage.spec.js
Due: lint-frontend

Add ESLint rule to prevent RTL-breaking inline styles
  docs/frontend_architecture/conventions.rst
  docs/i18n.rst
  packages/eslint-plugin-kolibri/lib/rules/vue-no-rtl-breaking-inline-styles.js
  packages/eslint-plugin-kolibri/tests/lib/rules/vue-no-rtl-breaking-inline-styles.spec.js
  packages/kolibri-format/.eslintrc.js
Due: lint-frontend

Fix existing RTL-breaking inline styles across Vue components
  AGENTS.md
  kolibri/plugins/coach/frontend/views/common/QuestionsAccordion.vue
  kolibri/plugins/coach/frontend/views/common/resourceSelection/LessonContentCard/BookmarkIcon.vue
  kolibri/plugins/coach/frontend/views/common/status/StatusTestPage.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/AssignCourseIndex.vue
  kolibri/plugins/coach/frontend/views/groups/GroupMembersPage/index.vue
  kolibri/plugins/coach/frontend/views/home/HomePage/OverviewBlock.vue
  kolibri/plugins/coach/frontend/views/lessons/LessonSummaryPage/index.vue
  kolibri/plugins/coach/frontend/views/lessons/LessonsRootPage.vue
  kolibri/plugins/coach/frontend/views/quizzes/QuizSummaryPage/index.vue
  kolibri/plugins/device/frontend/views/DeviceSettingsPage/index.vue
  kolibri/plugins/device/frontend/views/FacilitiesPage/index.vue
  kolibri/plugins/device/frontend/views/ManageContentPage/ManageChannelContentsPage/index.vue
  kolibri/plugins/device/frontend/views/lodUsers/UsersList.vue
  kolibri/plugins/epub_viewer/frontend/views/SearchSideBar.vue
  kolibri/plugins/epub_viewer/frontend/views/TopBar.vue
  kolibri/plugins/facility/frontend/views/DataPage/SyncInterface/index.vue
  kolibri/plugins/facility/frontend/views/FacilityConfigPage/index.vue
  kolibri/plugins/facility/frontend/views/ImportCsvPage/Init.vue
  kolibri/plugins/facility/frontend/views/ImportCsvPage/Preview.vue
  kolibri/plugins/facility/frontend/views/users/UsersTrashPage/PermanentDeleteModal.vue
  kolibri/plugins/facility/frontend/views/users/common/MoveToTrashModal.vue
  kolibri/plugins/facility/frontend/views/users/common/UsersTableToolbar/SmallWindowLayout.vue
  kolibri/plugins/learn/frontend/views/BookmarkPage.vue
  kolibri/plugins/learn/frontend/views/HybridLearningContentCard/HybridLearningFooter.vue
  kolibri/plugins/learn/frontend/views/LearningActivityBar.vue
  kolibri/plugins/learn/frontend/views/LibraryPage/OtherLibraries.vue
  kolibri/plugins/learn/frontend/views/LibraryPage/index.vue
  kolibri/plugins/learn/frontend/views/TopicsContentPage.vue
  kolibri/plugins/learn/frontend/views/TopicsPage/ToggleHeaderTabs.vue
  kolibri/plugins/learn/frontend/views/TopicsPage/index.vue
  kolibri/plugins/setup_wizard/frontend/views/OnboardingStepBase.vue
  kolibri/plugins/user_auth/frontend/views/FacilitySelect.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/NewPasswordPage.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/SignInHeading.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/index.vue
  kolibri/plugins/user_auth/frontend/views/UsersList.vue
  packages/kolibri-common/components/SearchFiltersPanel/CategorySearchModal/CategorySearchOptions.vue
  packages/kolibri/components/pages/AppBarPage/internal/SideNav.vue
Due: lint-frontend

Update tests
  kolibri/plugins/learn/frontend/composables/__mocks__/useLearnerResources.js
  kolibri/plugins/learn/frontend/views/HomePage/__tests__/HomePage.spec.js
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/__tests__/AssignmentCard.spec.js
  kolibri/plugins/learn/frontend/views/cards/LessonCard/__tests__/LessonCard.spec.js
  kolibri/plugins/learn/frontend/views/cards/QuizCard/__tests__/QuizCard.spec.js
Due: lint-frontend

Update Home and Class page to use the updated cards, and KCardGrid as wrapper
  kolibri/plugins/learn/frontend/composables/useLearnerResources.js
  kolibri/plugins/learn/frontend/views/HomePage/ContinueLearning.vue
  kolibri/plugins/learn/frontend/views/HomePage/index.vue
  kolibri/plugins/learn/frontend/views/classes/AssignedCoursesCards.vue
  kolibri/plugins/learn/frontend/views/classes/AssignedLessonsCards.vue
  kolibri/plugins/learn/frontend/views/classes/AssignedQuizzesCards.vue
  kolibri/plugins/learn/frontend/views/classes/ClassAssignmentsPage.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

refactor for composables and string destructuring
  kolibri/plugins/learn/frontend/views/ProgressBar.vue
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/__tests__/AssignmentCard.spec.js
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/index.vue
  kolibri/plugins/learn/frontend/views/cards/ResourceCard.vue
  kolibri/plugins/learn/frontend/views/classes/AssignedCoursesCards.vue
  kolibri/plugins/learn/frontend/views/commonLearnStrings.js
  pnpm-lock.yaml
Due: lint-frontend

Refactor Learn > Home and Learn > Class page cards to use KCard. Remove BaseCard and create simplified AssignmentCard, and updated ResourceCard to use KCard-possible layout
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/index.vue
  kolibri/plugins/learn/frontend/views/cards/BaseCard.vue
  kolibri/plugins/learn/frontend/views/cards/LessonCard/index.vue
  kolibri/plugins/learn/frontend/views/cards/QuizCard/index.vue
  kolibri/plugins/learn/frontend/views/cards/ResourceCard.vue
  packages/kolibri-common/strings/coursesStrings.js
  packages/kolibri/uiText/commonCoreStrings.js
Due: lint-frontend

Bump KDS version
  pnpm-workspace.yaml
Due: none

Update card to display resources and lesson number
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/__tests__/AssignmentCard.spec.js
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/index.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Final updates to connect card to course welcome page to course content viewer for QA
  kolibri/plugins/learn/frontend/composables/useLearnerResources.js
  kolibri/plugins/learn/frontend/views/CourseUnitView/__tests__/CourseUnitView.spec.js
  kolibri/plugins/learn/frontend/views/CourseUnitView/index.vue
  kolibri/plugins/learn/frontend/views/CourseWelcomePage.vue
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/index.vue
  kolibri/plugins/learn/frontend/views/cards/ResourceCard.vue
  kolibri/plugins/learn/frontend/views/classes/AssignedCoursesCards.vue
Due: lint-frontend

Use number of lessons, not resources, across learner course summary information
  kolibri/plugins/learn/frontend/views/CourseWelcomePage.vue
  kolibri/plugins/learn/frontend/views/__tests__/course-welcome-page.spec.js
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/__tests__/AssignmentCard.spec.js
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/index.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Fix invocations of i18n commands and ignores
  Makefile
  setup.cfg
Due: none

Refactor epub navigation button tests to use Vue Testing Library
  kolibri/plugins/epub_viewer/frontend/views/__tests__/NextButton.spec.js
  kolibri/plugins/epub_viewer/frontend/views/__tests__/PreviousButton.spec.js
Due: lint-frontend

Add autoapproval of identical translations from translation memory as part of upload
  .github/workflows/i18n-upload.yml
Due: none

pass reactive courseSessionId to useCourseSession and react accordingly
  kolibri/plugins/coach/frontend/composables/useCourseSession.js
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
Due: lint-frontend

Rename issue template to new issue report
  .github/ISSUE_TEMPLATE/new_issue.yml
Due: none

pass ref to useCourseSession in tests to match reactive signature
  kolibri/plugins/coach/frontend/composables/__tests__/useCourseSession.spec.js
Due: lint-frontend

fix(signin): updated invalid test-cases
  kolibri/plugins/user_auth/frontend/views/__tests__/sign-in-page.spec.js
Due: lint-frontend

#14194 Convert PDF viewer unit tests to Vue Testing Library
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/Bookmarks.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfPage.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfRendererIndex.spec.js
Due: lint-frontend

Convert epub viewer bar unit tests to Vue Testing Library (#14225)
  kolibri/plugins/epub_viewer/frontend/views/__tests__/BottomBar.spec.js
  kolibri/plugins/epub_viewer/frontend/views/__tests__/TopBar.spec.js
Due: lint-frontend

Convert PDF viewer unit tests to Vue Testing Library #14194
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/Bookmarks.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfPage.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfRendererIndex.spec.js
Due: lint-frontend

Fixes notification for no resources on the device being shown when no exercises exist
  kolibri/plugins/coach/frontend/views/common/QuizLessonDetailsHeader.vue
Due: lint-frontend

Fix in-progress list and progress labels for learners enrolled in classes
  kolibri/plugins/learn/frontend/composables/useLearnerResources.js
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/__tests__/AssignmentCard.spec.js
  kolibri/plugins/learn/frontend/views/cards/AssignmentCard/index.vue
Due: lint-frontend

conditionalize side-panel, add ariaLabel to KTabsList
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
Due: lint-frontend

address VTL migration review feedback from the bot
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/Bookmarks.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfRendererIndex.spec.js
Due: lint-frontend

Allow DateTimeTzField to handle string coerced datetimes in query expressions (equivalently to DateTimeField)
  kolibri/core/fields.py
  kolibri/core/test/test_datetimetzfield.py
Due: none

Use values viewset ordering filter.
  kolibri/core/content/api.py
Due: none

Simplify UnitTestAssignment with closed field and update related backend tests
  kolibri/core/courses/migrations/0003_unittestassignment_closed_field.py
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_api.py
  kolibri/core/courses/test/test_unit_test_assignment.py
  kolibri/core/courses/viewsets.py
  kolibri/plugins/learn/test/test_learner_course.py
  kolibri/plugins/learn/viewsets.py
Due: no-swappable-auth-migrations

Update useCourseSession composable to return an active test if test obj has closed: false and corresponding frontend tests
  kolibri/core/courses/test/test_api.py
  kolibri/plugins/coach/frontend/composables/__tests__/useCourseSession.spec.js
  kolibri/plugins/coach/frontend/composables/useCourseSession.js
  kolibri/plugins/coach/frontend/constants/courseConstants.js
Due: lint-frontend

Add regression tests and fixes for content node utils and learner resource composable.
  kolibri/core/fields.py
  kolibri/core/test/test_datetimetzfield.py
  kolibri/plugins/learn/frontend/composables/__tests__/useLearnerResources.spec.js
  kolibri/plugins/learn/frontend/composables/useLearnerResources.js
  kolibri/plugins/learn/frontend/views/HomePage/index.vue
  packages/kolibri-common/utils/__tests__/contentNode.spec.js
  packages/kolibri-common/utils/contentNode.js
Due: lint-frontend

0.19.2 CHANGELOG
  CHANGELOG.md
Due: none

Add pkgutil.find_loader monkey patch for Python 3.14
  kolibri/utils/env.py
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
