Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Update Bloom player assets with improved navigation button opacity
  kolibri/core/content/static/bloom/bloomPlayer-29a15fb2ad25a4e08102.min.js
  kolibri/core/content/static/bloom/bloomplayer.htm
Due: none

Flatten code paths.
  kolibri/core/auth/api.py
Due: none

Update commit SHA and run script
  kolibri/core/content/static/h5p/h5p-72eccbe216a2cebd8d11.html
  packages/hashi/.h5p-commit-sha
  packages/hashi/h5p_build.json
Due: none

Cleanup lingering syntax bugs left behind by composition API refactor
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/ConfirmChangeFacility.vue
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/SelectFacility.vue
Due: lint-frontend

Adjust password error handling to account for composition api refactor and ensure password input errors always display, even if user is not clicking into the form field
  kolibri/plugins/user_profile/assets/src/views/ChangeFacility/MergeAccountDialog/index.vue
Due: lint-frontend

add a string to search and filter
  packages/kolibri-common/strings/searchAndFilterStrings.js
Due: lint-frontend

conditionalises banner display for addable questions
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/sidePanels/QuizResourceSelection/subPages/QuestionsSettings.vue
  packages/kolibri-common/strings/searchAndFilterStrings.js
Due: lint-frontend

rebase
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/sidePanels/QuizResourceSelection/subPages/QuestionsSettings.vue
Due: lint-frontend

Address issue attempting to copy options.ini before its created
  platforms/debian-server/debian/changelog
  platforms/debian-server/debian/postinst
Due: none

Clarify how to build .deb and update ignores for tar
  platforms/debian-server/.tarignore
  platforms/debian-server/Makefile
  platforms/debian-server/README.rst
Due: none

Add docker-based installation test
  platforms/debian-server/.github/workflows/installtest.yml
  platforms/debian-server/.gitignore
  platforms/debian-server/test/Dockerfile
  platforms/debian-server/test/setup_ppa.sh
Due: none

Add a note to the README about testing
  platforms/debian-server/README.rst
Due: none

fixes context
  packages/kolibri-common/strings/searchAndFilterStrings.js
Due: lint-frontend

uialert can be dismissed
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/sidePanels/QuizResourceSelection/subPages/QuestionsSettings.vue
  packages/kolibri-common/strings/searchAndFilterStrings.js
Due: lint-frontend

adds max question value for the input
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/sidePanels/QuizResourceSelection/subPages/QuestionsSettings.vue
Due: lint-frontend

Update pr_build.yml
  platforms/desktop-app/.github/workflows/build_mac.yml
  platforms/desktop-app/.github/workflows/pr_build.yml
Due: none

create new errorreports app and database for writing reports to
  kolibri/core/errorreports/__init__.py
  kolibri/core/errorreports/apps.py
  kolibri/core/errorreports/models.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/sqlite_db_names.py
Due: none

add ErrorReports model with and its class methods add tests for model methods
  kolibri/core/errorreports/migrations/0001_initial.py
  kolibri/core/errorreports/migrations/__init__.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/test/__init__.py
  kolibri/core/errorreports/test/test_models.py
Due: no-swappable-auth-migrations

increase inputMaxQuestions to 25
  kolibri/plugins/coach/assets/src/views/quizzes/CreateExamPage/sidePanels/QuizResourceSelection/subPages/QuestionsSettings.vue
Due: lint-frontend

Add middleware for handling runtime errors Add test for error-report middleware
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/test/test_middleware.py
  kolibri/deployment/default/settings/base.py
Due: none

put all the constants together in errorreports move POSSIBLE_ERRORS to contants.py
  kolibri/core/errorreports/constants.py
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/test/test_models.py
Due: none

Simplify calling insert_or_update_error and tests
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/test/test_middleware.py
Due: none

improve testcase for middleware
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/test/test_middleware.py
Due: none

add serializer ErrorReprotsSerializers:frontend data validation add API for frontend error report testcase for frontendreport view
  kolibri/core/api_urls.py
  kolibri/core/errorreports/api.py
  kolibri/core/errorreports/api_urls.py
  kolibri/core/errorreports/serializers.py
  kolibri/core/errorreports/test/test_api.py
Due: none

simplify API: remove conditioning before calling insert_or_update_error()
  kolibri/core/errorreports/api.py
  kolibri/core/errorreports/api_urls.py
  kolibri/core/errorreports/test/test_api.py
Due: none

name changes
  kolibri/core/errorreports/api.py
  kolibri/core/errorreports/test/test_api.py
Due: none

make error_from default to 'frontend'
  kolibri/core/errorreports/api.py
  kolibri/core/errorreports/serializers.py
  kolibri/core/errorreports/test/test_api.py
Due: none

expect (AttributeError, Exception) while calling insert_or_update
  kolibri/core/errorreports/api.py
  kolibri/core/errorreports/test/test_api.py
Due: none

test for anything other than AttributeError or Exception can be caught
  kolibri/core/errorreports/test/test_api.py
Due: none

create task ping_error_report tests for error_report task add error report task
  kolibri/core/analytics/tasks.py
  kolibri/core/errorreports/tasks.py
  kolibri/core/errorreports/test/test_tasks.py
Due: none

improve code
  kolibri/core/analytics/tasks.py
  kolibri/core/errorreports/tasks.py
  kolibri/core/errorreports/test/test_tasks.py
Due: none

add context field in errorreports/report/
  kolibri/core/errorreports/api.py
  kolibri/core/errorreports/serializers.py
  kolibri/core/errorreports/test/test_api.py
Due: none

improvise: remove mark_as_sent to use update on queryset, use DjangoJSONEncoder
  kolibri/core/analytics/tasks.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/tasks.py
  kolibri/core/errorreports/test/test_models.py
Due: none

remove mark_errors_as_sent
  kolibri/core/errorreports/tasks.py
  kolibri/core/errorreports/test/test_tasks.py
Due: none

update ErrorReports for new fields
  kolibri/core/errorreports/migrations/0002_newfields_renamedfields.py
  kolibri/core/errorreports/models.py
  kolibri/core/errorreports/schemas.py
  kolibri/core/errorreports/test/test_models.py
Due: no-swappable-auth-migrations

update middleware to capture more fields
  kolibri/core/errorreports/middleware.py
  kolibri/core/errorreports/test/test_middleware.py
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
