Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Update Raspberry Pi image build to v1.1.0
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
Due: none

Add hasRole to useUser with JSDoc typedef and tests
  packages/kolibri/composables/__tests__/useUser.spec.js
  packages/kolibri/composables/useUser.js
Due: lint-frontend

Extract useUserKind into user_profile, migrate consumers, remove userKind from useUser
  kolibri/plugins/user_profile/frontend/composables/__tests__/useUserKind.spec.js
  kolibri/plugins/user_profile/frontend/composables/useUserKind.js
  kolibri/plugins/user_profile/frontend/views/ChangeFacility/index.vue
  kolibri/plugins/user_profile/frontend/views/ProfilePage/__tests__/ProfilePage.spec.js
  kolibri/plugins/user_profile/frontend/views/ProfilePage/index.vue
  packages/kolibri/composables/__mocks__/useUser.js
  packages/kolibri/composables/useUser.js
Due: lint-frontend

Migrate isAdmin||isCoach||isSuperuser to hasRole across 6 call sites
  kolibri/plugins/learn/frontend/modules/coreLearn/getters.js
  kolibri/plugins/learn/frontend/views/CompletionModal/index.vue
  kolibri/plugins/learn/frontend/views/LibraryPage/index.vue
  kolibri/plugins/learn/frontend/views/TopicsContentPage.vue
  kolibri/plugins/learn/frontend/views/TopicsPage/index.vue
  packages/kolibri-common/composables/useBaseSearch.js
Due: lint-frontend

Simplify redundant isAdmin||isSuperuser to isAdmin in NotificationsRoot
  packages/kolibri/components/pages/NotificationsRoot/index.vue
Due: lint-frontend

Migrate all isCoach||isAdmin||isSuperuser and !isLearner patterns in SideNav
  packages/kolibri/components/pages/AppBarPage/internal/SideNav.vue
  packages/kolibri/components/pages/AppBarPage/internal/__tests__/side-nav.spec.js
Due: lint-frontend

Migrate !isLearner privilege gates to hasRole in ChannelCard, HybridLearningFooter, StorageNotification
  kolibri/plugins/learn/frontend/views/ChannelCard.vue
  kolibri/plugins/learn/frontend/views/HybridLearningContentCard/HybridLearningFooter.vue
  kolibri/plugins/learn/frontend/views/StorageNotification.vue
Due: lint-frontend

Remove task-worker multiprocessing
  kolibri/core/tasks/job.py
  kolibri/core/tasks/main.py
  kolibri/core/tasks/test/taskrunner/conftest.py
  kolibri/core/tasks/test/taskrunner/test_job_running.py
  kolibri/core/tasks/utils.py
  kolibri/core/tasks/worker.py
  kolibri/utils/logger.py
  kolibri/utils/multiprocessing_compat.py
  kolibri/utils/options.py
  kolibri/utils/server/__init__.py
Due: none

Update comment
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/PicturePasswordConfirmModal.vue
Due: lint-frontend

Add sphinx-llm extension to emit llms.txt and per-page Markdown for LLM consumption
  CHANGELOG.md
  docs/backend_architecture/testing.rst
  docs/build_system/index.md
  docs/conf.py
  docs/getting_started.rst
  docs/howtos/index.rst
  requirements/docs.txt
Due: none

migrated device content tree tests to VTL
  kolibri/plugins/device/frontend/views/SelectContentPage/ContentNodeRow.vue
  kolibri/plugins/device/frontend/views/__tests__/ContentNodeRow.spec.js
  kolibri/plugins/device/frontend/views/__tests__/ContentTreeViewer.spec.js
  kolibri/plugins/device/frontend/views/__tests__/SelectContentPage.spec.js
Due: lint-frontend

fixes invalid tests
  kolibri/plugins/device/frontend/views/__tests__/ContentNodeRow.spec.js
  kolibri/plugins/device/frontend/views/__tests__/SelectContentPage.spec.js
Due: lint-frontend

fixes linting errors
  kolibri/plugins/device/frontend/views/__tests__/ContentNodeRow.spec.js
  kolibri/plugins/device/frontend/views/__tests__/ContentTreeViewer.spec.js
  kolibri/plugins/device/frontend/views/__tests__/SelectContentPage.spec.js
Due: lint-frontend

migrated draft channel tests to VTL
  kolibri/plugins/device/frontend/views/__tests__/SelectContentPage.spec.js
Due: lint-frontend

Migrate Device transfer modal tests to Vue Testing Library (#14563)
  kolibri/plugins/device/frontend/views/__tests__/SelectDriveModal.spec.js
  kolibri/plugins/device/frontend/views/__tests__/SelectTransferSourceModal.spec.js
Due: lint-frontend

new scenarios and corrections
  integration_testing/019-features/admin/facility/facility-settings/admin-facility-settings.feature
  integration_testing/019-features/admin/facility/facility-users/admin-create-users.feature
  integration_testing/019-features/admin/facility/facility-users/admin-edit-user.feature
  integration_testing/019-features/coach/class-home/coach-attendance-tracking.feature
  integration_testing/019-features/coach/class-home/coach-view-picture-passwords.feature
  integration_testing/019-features/coach/learners/coach-learners.feature
Due: none

Suppress unrelated warning in test.
  packages/kolibri-build/src/__tests__/webpackRtlPlugin.spec.js
Due: none

Materialise FK lists in ImportMetadataViewset._serialize
  kolibri/core/content/public_api.py
  kolibri/core/content/test/test_public_api.py
Due: none

Migrates device content tree tests to VTL (#14656)
  kolibri/plugins/device/frontend/views/SelectContentPage/ContentNodeRow.vue
  kolibri/plugins/device/frontend/views/__tests__/ContentNodeRow.spec.js
  kolibri/plugins/device/frontend/views/__tests__/ContentTreeViewer.spec.js
  kolibri/plugins/device/frontend/views/__tests__/SelectContentPage.spec.js
Due: lint-frontend

Refactor arbitrary size values in SelectContentPage.spec.js for clarity
  kolibri/plugins/device/frontend/__tests__/utils/makeStore.js
  kolibri/plugins/device/frontend/views/__tests__/SelectContentPage.spec.js
Due: lint-frontend

Improve readability of remaining SelectContentPage test assertions
  kolibri/plugins/device/frontend/views/__tests__/SelectContentPage.spec.js
Due: lint-frontend

Rename draftNewerVersion to newerVersion for clarity
  kolibri/plugins/device/frontend/views/__tests__/SelectContentPage.spec.js
Due: lint-frontend

Address review feedback on PR #14782
  kolibri/plugins/device/frontend/__tests__/utils/makeStore.js
  kolibri/plugins/device/frontend/views/__tests__/SelectContentPage.spec.js
Due: lint-frontend

Address second round of review feedback on PR #14782
  kolibri/plugins/device/frontend/views/__tests__/SelectContentPage.spec.js
Due: lint-frontend

Add QTI test infrastructure
  kolibri/plugins/qti_viewer/frontend/components/__tests__/helpers.js
  kolibri/plugins/qti_viewer/package.json
  pnpm-lock.yaml
Due: lint-frontend

Add acceptance tests for TextEntryInteraction
  kolibri/plugins/qti_viewer/frontend/components/interactions/__tests__/TextEntryInteraction.spec.js
Due: lint-frontend

Add fixtures for missing QTI interaction types
  kolibri/plugins/qti_viewer/frontend/components/__fixtures__/items.js
Due: lint-frontend

Add acceptance tests for ChoiceInteraction
  kolibri/plugins/qti_viewer/frontend/components/interactions/ChoiceInteraction.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/SimpleChoice.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/__tests__/ChoiceInteraction.spec.js
Due: lint-frontend

Pull LFS objects in Javascript Tests workflow
  .github/workflows/frontend-tests.yml
Due: none

corrections and updates
  integration_testing/019-features/common/access-kolibri/learner-sign-in.feature
  integration_testing/019-features/learner/profile/learner-change-profile-information.feature
Due: none

Add test for ValidationError when array_key array has duplicate values
  kolibri/core/utils/test/test_validators.py
Due: none

Chore: Add unit tests for NoRepeatedValueJSONArrayValidator (#14208)
  kolibri/core/utils/test/__init__.py
  kolibri/core/utils/test/test_validators.py
Due: none

Convert jobs datetime columns to timestamptz on PostgreSQL
  kolibri/core/tasks/migrations/0003_convert_datetime_to_timestamptz.py
  kolibri/core/tasks/test/test_migrations.py
Due: no-swappable-auth-migrations

Add viewset serialization benchmark script
  integration_testing/scripts/viewset_serialization_benchmark.py
Due: none

Add serializer-derived field introspection to ValuesViewset
  AGENTS.md
  docs/backend_architecture/api_patterns.rst
  docs/dataflow/index.rst
  kolibri/core/api.py
  kolibri/core/test/test_api.py
  kolibri/core/test/test_app/models.py
  kolibri/core/utils/serializer_introspection.py
Due: none

Migrate FacilityUser viewsets to serializer-derived field introspection
  kolibri/core/auth/api.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
Due: none

Add pyproject.toml with project metadata and dependency groups
  .gitignore
  packages/kolibri-i18n/package.json
  packages/kolibri-i18n/src/cli.js
  pnpm-lock.yaml
  pyproject.toml
  requirements/build.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/load_test.txt
  requirements/postgres.txt
  requirements/storages.txt
  setup.cfg
  setup.py
  tox.ini
  uv.lock
Due: lint-frontend

Switch versioning to setuptools-scm
  kolibri/__init__.py
  kolibri/core/deviceadmin/management/commands/dbrestore.py
  kolibri/core/deviceadmin/tests/test_dbrestore.py
  kolibri/utils/tests/test_version.py
  kolibri/utils/version.py
Due: none

Update CI workflows to use uv
  .github/dependabot.yml
  .github/workflows/build_whl.yml
  .github/workflows/check_docs.yml
  .github/workflows/check_licenses.yml
  .github/workflows/i18n-download.yml
  .github/workflows/i18n-upload.yml
  .github/workflows/morango_integration.yml
  .github/workflows/no_zombies.yml
  .github/workflows/postgres.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/tox.yml
  .readthedocs.yaml
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
