Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

Remove unused django.db.models.deletion import from picture-password migration
  kolibri/core/auth/migrations/0033_facilitydataset_picture_password.py
Due: no-swappable-auth-migrations

Add picture_password_settings_schema and attach JSON validator to field
  kolibri/core/auth/models.py
Due: none

Block username+password login for learners in picture-password facilities
  kolibri/core/auth/api.py
Due: none

Enforce facility flag and learner role check on the user_id/auth_token login path
  kolibri/core/auth/api.py
Due: none

Reject learner_can_login_with_no_password + learner_can_login_with_picture_password combo in ensure_compatibility
  kolibri/core/auth/models.py
Due: none

migrations
  kolibri/core/auth/migrations/0033_facilitydataset_picture_password.py
Due: no-swappable-auth-migrations

Include picture-password learners in FacilityUsernameViewSet queryset
  kolibri/core/auth/api.py
Due: none

Add regression test for PATCH incompatibility when picture-password is already enabled
  kolibri/core/auth/test/test_api.py
Due: none

add PicturePasswordLoginTestCase tests
  kolibri/core/auth/api.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_api.py
Due: none

Replace learner_can_login_with_picture_password with picture_password_settings null check
  kolibri/core/auth/api.py
  kolibri/core/auth/migrations/0033_facilitydataset_picture_password.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/test/test_datasets.py
Due: no-swappable-auth-migrations

remove learner_can_login_with_picture_password field
  kolibri/core/auth/serializers.py
Due: none

add picture_password_settings to facility configuration presets
  kolibri/core/auth/constants/facility_configuration_presets.json
Due: none

rerun migrations
  kolibri/core/auth/migrations/0034_facilitydataset_picture_password.py
Due: no-swappable-auth-migrations

Remove CreateSessionSerializer picture-password changes, moved to separate task
  kolibri/core/auth/api.py
Due: none

validate picture passwordsettings
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
Due: none

Remove enable_mark_attendance from FacilityDataset model
  kolibri/core/auth/models.py
Due: none

Recreate migration after rebase onto upstream/develop
  kolibri/core/auth/migrations/0035_facilitydataset_picture_password_settings.py
Due: no-swappable-auth-migrations

Refactored UnitReportPermissions to use KolibriAuthPermissions.
  kolibri/plugins/coach/test/test_unit_report.py
  kolibri/plugins/coach/unit_report_api.py
Due: none

Recreate migration after rebase onto upstream/develop
  kolibri/core/auth/migrations/0035_facilitydataset_picture_password_settings.py
  kolibri/core/auth/models.py
Due: no-swappable-auth-migrations

Add new facility setting fields to support picture password login. (#14400)
  kolibri/core/auth/api.py
  kolibri/core/auth/constants/facility_configuration_presets.json
  kolibri/core/auth/migrations/0035_facilitydataset_picture_password_settings.py
  kolibri/core/auth/models.py
  kolibri/core/auth/serializers.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/test/test_datasets.py
Due: no-swappable-auth-migrations

Add unit learning objectives report API endpoint (#14422)
  kolibri/core/logger/api.py
  kolibri/core/logger/utils/pre_post_test.py
  kolibri/plugins/coach/api_urls.py
  kolibri/plugins/coach/test/test_unit_report.py
  kolibri/plugins/coach/unit_report_api.py
Due: none

Add unit report API resource for learning objectives report
  kolibri/plugins/coach/frontend/apiResources/unitReport.js
Due: lint-frontend

Add score bucketing utility for learning objectives report
  kolibri/plugins/coach/frontend/utils/__tests__/scoreBucketing.spec.js
  kolibri/plugins/coach/frontend/utils/scoreBucketing.js
Due: lint-frontend

improve background color for better readibilty
  packages/kolibri-common/styles/definitions.scss
Due: lint-frontend

Add useUnitReport composable for learning objectives report
  kolibri/plugins/coach/frontend/composables/__tests__/useUnitReport.spec.js
  kolibri/plugins/coach/frontend/composables/useUnitReport.js
Due: lint-frontend

Add LearningObjectivesReport component with tests
  kolibri/plugins/coach/frontend/views/courses/LearningObjectivesReport.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearningObjectivesReport.spec.js
Due: lint-frontend

Wire CourseSummaryPage to use LearningObjectivesReport component
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
Due: lint-frontend

Add i18n strings for empty and in-progress states in learning objectives report
  kolibri/plugins/coach/frontend/views/courses/LearningObjectivesReport.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

refactor TaskPanel and PinAuthenticationModal to use vue test library (#14393)
  kolibri/plugins/device/frontend/views/ManageTasksPage/__tests__/TaskPanel.spec.js
  kolibri/plugins/device/frontend/views/ManageTasksPage/__tests__/__snapshots__/TaskPanel.spec.js.snap
  kolibri/plugins/device/frontend/views/__tests__/PinAuthenticationModal.spec.js
Due: lint-frontend

polish: prev/next buttons in course viewer
  kolibri/plugins/learn/frontend/views/PrevNextBar/index.vue
Due: lint-frontend

1px icon tweak, remove erroneous flex-grow on btn-icon
  kolibri/plugins/learn/frontend/views/PrevNextBar/index.vue
Due: lint-frontend

apply consistent styles across all course unit flow for nav buttons
  kolibri/plugins/learn/frontend/views/PrevNextBar/index.vue
  kolibri/plugins/learn/frontend/views/buttons.scss
  kolibri/plugins/learn/frontend/views/courses/AssessmentWrapper/index.vue
  kolibri/plugins/learn/frontend/views/courses/QuizRenderer/index.vue
Due: lint-frontend

Figmal alignment on button styles
  kolibri/plugins/learn/frontend/views/PrevNextBar/index.vue
  kolibri/plugins/learn/frontend/views/courses/QuizRenderer/index.vue
Due: lint-frontend

Refactor kolibri-zip to use zip.js
  packages/kolibri-zip/README.md
  packages/kolibri-zip/generateMimeTypeDB.js
  packages/kolibri-zip/package.json
  packages/kolibri-zip/src/AdaptiveHttpReader.js
  packages/kolibri-zip/src/fileUtils.js
  packages/kolibri-zip/src/index.js
  packages/kolibri-zip/src/mimetypes.json
  packages/kolibri-zip/test/AdaptiveHttpReader.spec.js
  packages/kolibri-zip/test/index.spec.js
  pnpm-lock.yaml
Due: lint-frontend

Change API of zipContentUrl. Update all kolibri-zip consumers to add largeFile handling. Add zip origin to CSP for media
  kolibri/core/content/zip_wsgi.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/html5_viewer/frontend/views/Html5AppRendererIndex.vue
  kolibri/plugins/learn/frontend/views/ChannelRenderer/CustomContentRenderer.vue
  kolibri/plugins/perseus_viewer/frontend/views/PerseusRendererIndex.vue
  kolibri/plugins/qti_viewer/frontend/components/QTIViewer.vue
  kolibri/plugins/qti_viewer/frontend/utils/xml.js
  kolibri/plugins/safe_html5_viewer/frontend/views/SafeHtml5RendererIndex.vue
  packages/kolibri-sandbox/src/Bloom/BloomRunner.js
  packages/kolibri-sandbox/src/H5P/H5PRunner.js
  packages/kolibri/__tests__/urls.spec.js
  packages/kolibri/urls.js
Due: lint-frontend

Add learnersWithGroups to useUnitReport composable
  kolibri/plugins/coach/frontend/composables/__tests__/useUnitReport.spec.js
  kolibri/plugins/coach/frontend/composables/useUnitReport.js
Due: lint-frontend

Fix kolibri-zip tests failing due to jest-fail-on-console
  packages/kolibri-zip/test/AdaptiveHttpReader.spec.js
  packages/kolibri-zip/test/index.spec.js
Due: lint-frontend

Add explicit run mode setting to smoke test.
  integration_testing/smoke_test.py
Due: none

Add activeTestType computed to useUnitReport composable
  kolibri/plugins/coach/frontend/composables/useUnitReport.js
Due: lint-frontend

Simplify LearningObjectivesReport: remove mastery pills and table headers
  kolibri/plugins/coach/frontend/views/courses/LearningObjectivesReport.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/LearningObjectivesReport.spec.js
Due: lint-frontend
