Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

test: add unit tests for common/sortable component
  packages/kolibri-common/components/sortable/__tests__/DragContainer.spec.js
  packages/kolibri-common/components/sortable/__tests__/DragSortWidget.spec.js
Due: lint-frontend

feat: add whole items order announcement to DragContainer
  packages/kolibri-common/components/sortable/DragContainer.vue
Due: lint-frontend

feat: use smart order announcement for rearrange channels page
  kolibri/plugins/device/frontend/views/RearrangeChannelsPage.vue
Due: lint-frontend

feat: use smart order announcement for questions accordion
  kolibri/plugins/coach/frontend/views/common/QuestionsAccordion.vue
Due: lint-frontend

fix: merge conflicts
  packages/kolibri-common/components/sortable/DragSortWidget/index.vue
Due: lint-frontend

corrections and updates
  integration_testing/019-features/superadmin/device/device-channels/super-admin-import-very-large-channel.feature
  integration_testing/019-features/superadmin/device/device-channels/super-admin-manage-channels-and-resources.feature
  integration_testing/019-features/superadmin/device/device-channels/super-admin-manage-import-network-addresses.feature
  integration_testing/019-features/superadmin/device/device-channels/super-admin-select-import-content-location.feature
  integration_testing/019-features/superadmin/device/device-channels/super-admin-switch-between-import-channels-or-resources.feature
  integration_testing/019-features/superadmin/device/device-channels/super-admin-update-channel-import-more.feature
Due: none

Scope morango model saves to only the changed fields
  kolibri/core/auth/sync_operations.py
  kolibri/core/auth/test/test_sync_operations.py
Due: none

refactor: make dragcontainer compute children labels
  kolibri/plugins/coach/frontend/views/common/QuestionsAccordion.vue
  kolibri/plugins/coach/frontend/views/lessons/LessonSummaryPage/tables/LessonResourcesTable.vue
  kolibri/plugins/coach/frontend/views/quizzes/CreateExamPage/sidePanels/SectionSidePanel/SectionOrder.vue
  kolibri/plugins/device/frontend/views/RearrangeChannelsPage.vue
  kolibri/plugins/qti_viewer/frontend/components/interactions/OrderInteraction.vue
  packages/kolibri-common/components/sortable/DragContainer.vue
  packages/kolibri-common/components/sortable/DragSortWidget/index.vue
Due: lint-frontend

Upgrade morango to v0.8.15
  requirements/base.txt
Due: none

test: fix dragsortwidget tests after registration edits
  packages/kolibri-common/components/sortable/__tests__/DragContainer.spec.js
Due: lint-frontend

Replace @shopify/draggable dependency with sortablejs
  packages/kolibri-common/package.json
  pnpm-lock.yaml
Due: none

Reimplement DragContainer on SortableJS behind its existing API
  packages/kolibri-common/components/sortable/DragContainer.vue
  packages/kolibri-common/components/sortable/__tests__/DragContainer.spec.js
  packages/kolibri-common/components/sortable/classDefinitions.js
Due: lint-frontend

Migrate callsite drag CSS and drop dead DragSortWidget props
  kolibri/plugins/coach/frontend/views/common/QuestionsAccordion.vue
  kolibri/plugins/coach/frontend/views/lessons/LessonSummaryPage/tables/LessonResourcesTable.vue
  kolibri/plugins/coach/frontend/views/quizzes/CreateExamPage/sidePanels/SectionSidePanel/SectionOrder.vue
Due: lint-frontend

refactor: move persus numeric keypad to kolibri/common
  kolibri/plugins/perseus_viewer/frontend/__tests__/scoring.spec.js
  kolibri/plugins/perseus_viewer/frontend/translator.js
  kolibri/plugins/perseus_viewer/frontend/views/PerseusRendererIndex.vue
  packages/kolibri-common/components/NumericKeypad/index.vue
  packages/kolibri-common/components/NumericKeypad/keys.js
  packages/kolibri-common/composables/__tests__/useScrollContainer.spec.js
  packages/kolibri-common/composables/useKeypad.js
  packages/kolibri-common/composables/useScrollContainer.js
  packages/kolibri-common/strings/numericKeypadStrings.js
  packages/kolibri-common/utils/__tests__/numeralNormalization.spec.js
  packages/kolibri-common/utils/numeralNormalization.js
Due: lint-frontend

feat: expose read side api from common numeric keypad
  packages/kolibri-common/composables/useKeypad.js
Due: lint-frontend

Update changelog for 0.19.5
  CHANGELOG.md
Due: none

Route i18n CSV/JSON per bundle in kolibri-i18n CLI
  packages/kolibri-i18n/src/ExtractMessages.js
  packages/kolibri-i18n/src/__fixtures__/localeRouting/strings.js
  packages/kolibri-i18n/src/__tests__/ExtractMessages.spec.js
  packages/kolibri-i18n/src/__tests__/csvToJSON.spec.js
  packages/kolibri-i18n/src/__tests__/utils.spec.js
  packages/kolibri-i18n/src/cli.js
  packages/kolibri-i18n/src/csvToJSON.js
  packages/kolibri-i18n/src/utils.js
Due: lint-frontend

Add per-plugin Crowdin source/translation entries
  crowdin.yml
Due: none

Add extracted oidc-client plugin backend locale catalog
  python_packages/kolibri-oidc-client-plugin/kolibri_oidc_client_plugin/locale/en/LC_MESSAGES/django.mo
  python_packages/kolibri-oidc-client-plugin/kolibri_oidc_client_plugin/locale/en/LC_MESSAGES/django.po
Due: none

Loop i18n extract/compile/message-file recipes over python_packages plugins
  .gitignore
  Makefile
Due: none

Publish bare kolibri.local and device-name mDNS aliases
  kolibri/core/discovery/test/test_network_broadcast.py
  kolibri/core/discovery/utils/network/broadcast.py
Due: none

Surface owned .local hostnames on the Device Info page
  kolibri/core/discovery/migrations/0014_localhostname.py
  kolibri/core/discovery/models.py
  kolibri/core/discovery/tasks.py
  kolibri/core/discovery/test/test_local_hostnames.py
  kolibri/core/discovery/test/test_tasks.py
  kolibri/core/discovery/utils/network/local_hostnames.py
  kolibri/utils/server/__init__.py
  kolibri/utils/tests/test_server.py
Due: no-swappable-auth-migrations

Re-register device-name mDNS alias on device rename
  kolibri/core/device/test/test_api.py
  kolibri/core/device/viewsets/device_settings.py
Due: none

Generalize plugin frontend Crowdin entry to a single wildcard
  Makefile
  crowdin.yml
Due: none

refactor(numeric-keypad): hide some buttons for qti usage
  packages/kolibri-common/components/NumericKeypad/index.vue
Due: lint-frontend

Make kolibri-app pluginModule.state optional
  packages/kolibri-app/package.json
  packages/kolibri-app/src/__tests__/kolibri_app.spec.js
  packages/kolibri-app/src/index.js
Due: lint-frontend

Add plugin scaffolder library for kolibri plugin create
  kolibri/utils/plugin_scaffold/__init__.py
  kolibri/utils/plugin_scaffold/entrypoint.py
  kolibri/utils/plugin_scaffold/manifest.py
  kolibri/utils/plugin_scaffold/names.py
  kolibri/utils/plugin_scaffold/pnpm_workspace.py
  kolibri/utils/plugin_scaffold/render.py
  kolibri/utils/plugin_scaffold/scaffold.py
  kolibri/utils/plugin_scaffold/templates/common/buildConfig.js.tmpl
  kolibri/utils/plugin_scaffold/templates/common/init.py.tmpl
  kolibri/utils/plugin_scaffold/templates/common/package.json.tmpl
  kolibri/utils/plugin_scaffold/templates/content_viewer/frontend/module.js.tmpl
  kolibri/utils/plugin_scaffold/templates/content_viewer/frontend/views/Index.vue.tmpl
  kolibri/utils/plugin_scaffold/templates/global_injector/frontend/module.js.tmpl
  kolibri/utils/plugin_scaffold/templates/kolibri_plugin/backend_only.py.tmpl
  kolibri/utils/plugin_scaffold/templates/kolibri_plugin/content_viewer.py.tmpl
  kolibri/utils/plugin_scaffold/templates/kolibri_plugin/global_injector.py.tmpl
  kolibri/utils/plugin_scaffold/templates/kolibri_plugin/single_page_app.py.tmpl
  kolibri/utils/plugin_scaffold/templates/package/pyproject.toml.tmpl
  kolibri/utils/plugin_scaffold/templates/single_page_app/api_urls.py.tmpl
  kolibri/utils/plugin_scaffold/templates/single_page_app/buildConfig.js.tmpl
  kolibri/utils/plugin_scaffold/templates/single_page_app/frontend/app.js.tmpl
  kolibri/utils/plugin_scaffold/templates/single_page_app/frontend/routes.js.tmpl
  kolibri/utils/plugin_scaffold/templates/single_page_app/frontend/views/Page.vue.tmpl
  kolibri/utils/plugin_scaffold/templates/single_page_app/frontend/views/SideNavEntry.js.tmpl
  kolibri/utils/plugin_scaffold/templates/single_page_app/templates/index.html.tmpl
  kolibri/utils/plugin_scaffold/templates/single_page_app/urls.py.tmpl
  kolibri/utils/plugin_scaffold/templates/single_page_app/views.py.tmpl
  kolibri/utils/plugin_scaffold/templates/single_page_app/viewsets.py.tmpl
  kolibri/utils/tests/test_plugin_scaffold.py
  pyproject.toml
Due: none

Add pre-commit hook syncing scaffolder version pins
  .pre-commit-config.yaml
  .pre-commit-hooks/sync_scaffold_versions.py
Due: none

Add kolibri plugin create CLI command
  kolibri/utils/cli.py
  kolibri/utils/tests/test_cli.py
Due: none

Dedupe unquote helper and simplify scaffolder call sites
  kolibri/utils/cli.py
  kolibri/utils/plugin_scaffold/entrypoint.py
  kolibri/utils/plugin_scaffold/pnpm_workspace.py
  kolibri/utils/plugin_scaffold/scaffold.py
  kolibri/utils/tests/test_plugin_scaffold.py
Due: none

Bump le-utils to 0.2.18 for RENDERABLE_PRESETS_ORDER
  pyproject.toml
  uv.lock
Due: none

Add File.included_presets field and content schema V6
  kolibri/core/content/base_models.py
  kolibri/core/content/constants/schema_versions.py
  kolibri/core/content/contentschema/fixtures/content_import_test.json
  kolibri/core/content/contentschema/versions/content_schema_6.py
  kolibri/core/content/fixtures/6_content_data.json
  kolibri/core/content/management/commands/generate_schema.py
  kolibri/core/content/migrations/0047_file_included_presets.py
Due: no-swappable-auth-migrations

Gate renderable filter on File.included_presets bitmask
  kolibri/core/content/fixtures/content_test.json
  kolibri/core/content/test/test_content_types_tools.py
  kolibri/core/content/utils/content_types_tools.py
Due: none

Backfill included_presets when importing schema-<=V5 channels
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/utils/channel_import.py
Due: none

Scaffold kolibri-context-translation-plugin package and move plugin code
  pyproject.toml
  python_packages/kolibri-context-translation-plugin/README.md
  python_packages/kolibri-context-translation-plugin/kolibri_context_translation_plugin/__init__.py
  python_packages/kolibri-context-translation-plugin/kolibri_context_translation_plugin/kolibri_plugin.py
  python_packages/kolibri-context-translation-plugin/kolibri_context_translation_plugin/option_defaults.py
  python_packages/kolibri-context-translation-plugin/kolibri_context_translation_plugin/settings.py
  python_packages/kolibri-context-translation-plugin/kolibri_context_translation_plugin/static/assets/context_translation/jipt.js
  python_packages/kolibri-context-translation-plugin/pyproject.toml
  uv.lock
Due: none

Add compress build pipeline and static packaging for the plugin
  pnpm-lock.yaml
  python_packages/kolibri-context-translation-plugin/MANIFEST.in
  python_packages/kolibri-context-translation-plugin/Makefile
  python_packages/kolibri-context-translation-plugin/package.json
Due: none

Remove in-tree context_translation plugin
  kolibri/plugins/context_translation/__init__.py
  kolibri/plugins/context_translation/kolibri_plugin.py
  kolibri/plugins/context_translation/option_defaults.py
  kolibri/plugins/context_translation/settings.py
  kolibri/plugins/context_translation/static/assets/context_translation/jipt.js
  pyproject.toml
Due: none

Backfill included_presets for pre-column local File rows
  kolibri/core/content/test/test_upgrade.py
  kolibri/core/content/upgrade.py
Due: none

Pass DOCKERHUB_TOKEN to the container image publish reusable workflow
  .github/workflows/container_image_publish.yml
  .github/workflows/release_kolibri.yml
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
