Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Add AI agent documentation following CLAUDE.md best practices
  AGENTS.md
  CLAUDE.md
Due: none

Add multi-agent isolation support and configurable webpack CSP port
  .gitignore
  AGENTS.md
  kolibri/deployment/default/settings/dev.py
Due: none

Add course unit view
  kolibri/plugins/learn/frontend/apiResources.js
  kolibri/plugins/learn/frontend/constants.js
  kolibri/plugins/learn/frontend/routes/classesRoutes.js
  kolibri/plugins/learn/frontend/views/CourseUnitView/index.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Move useFetch to kolibri-common
  kolibri/plugins/coach/frontend/composables/useResourceSelection.js
  kolibri/plugins/coach/frontend/views/common/resourceSelection/subPages/SelectFromBookmarks.vue
  kolibri/plugins/coach/frontend/views/common/resourceSelection/subPages/SelectFromTopicTree.vue
  kolibri/plugins/coach/frontend/views/common/resourceSelection/subPages/SelectionIndex.vue
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
  kolibri/plugins/coach/frontend/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SearchFilters.vue
  kolibri/plugins/coach/frontend/views/lessons/LessonSummaryPage/sidePanels/LessonResourceSelection/subPages/SelectFromSearchResults.vue
  kolibri/plugins/coach/frontend/views/quizzes/CreateExamPage/sidePanels/QuizResourceSelection/subPages/QuestionsSettings.vue
  packages/kolibri-common/composables/__tests__/useFetch.spec.js
  packages/kolibri-common/composables/useFetch.js
Due: lint-frontend

Add resume action
  kolibri/plugins/learn/test/test_learner_course.py
  kolibri/plugins/learn/viewsets.py
Due: none

Refactor loading handling
  kolibri/plugins/learn/frontend/views/CourseUnitView/index.vue
Due: lint-frontend

Call course resume action on frontend
  kolibri/plugins/learn/frontend/apiResources.js
  kolibri/plugins/learn/frontend/views/CourseUnitView/__tests__/CourseUnitView.spec.js
  kolibri/plugins/learn/frontend/views/CourseUnitView/index.vue
Due: lint-frontend

Add more route restrictions
  kolibri/plugins/learn/frontend/constants.js
  kolibri/plugins/learn/frontend/routes/classesRoutes.js
  kolibri/plugins/learn/frontend/views/CourseUnitView/__tests__/CourseUnitView.spec.js
  kolibri/plugins/learn/frontend/views/CourseUnitView/index.vue
Due: lint-frontend

Implement stronger restrictions in check redirect
  kolibri/plugins/learn/frontend/views/CourseUnitView/__tests__/CourseUnitView.spec.js
  kolibri/plugins/learn/frontend/views/CourseUnitView/index.vue
Due: lint-frontend

changed text, color, and nav/side bar colors
  kolibri/plugins/coach/frontend/views/common/QuestionsAccordion.vue
  kolibri/plugins/coach/frontend/views/common/notifications/NotificationCard.vue
  kolibri/plugins/coach/frontend/views/quizzes/CreateExamPage/QuestionListPreview.vue
  kolibri/plugins/coach/frontend/views/quizzes/ExamsRootPage.vue
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/default_theme/static/assets/default_theme/kolibri-logo.svg
  kolibri/plugins/device/frontend/views/DeprecationWarningBanner.vue
  kolibri/plugins/epub_viewer/frontend/views/SearchSideBar.vue
  kolibri/plugins/learn/frontend/views/ExamPage/AnswerHistory.vue
  kolibri/plugins/learn/frontend/views/ExamPage/index.vue
  packages/kolibri-common/components/labels/PermissionsIcon.vue
  packages/kolibri-common/components/quizzes/QuizReport/AttemptLogItem.vue
Due: lint-frontend

Add browser smoke test to PR build workflow
  .github/githubUtils.js
  .github/workflows/pr_build_kolibri.yml
  integration_testing/smoke_test.py
Due: lint-frontend

Create CourseWelcomePage component, update useLearnerResources composable, and add corresponding tests
  kolibri/plugins/learn/frontend/composables/__mocks__/useLearnerResources.js
  kolibri/plugins/learn/frontend/composables/useLearnerResources.js
  kolibri/plugins/learn/frontend/constants.js
  kolibri/plugins/learn/frontend/routes/index.js
  kolibri/plugins/learn/frontend/views/CourseWelcomePage.vue
  kolibri/plugins/learn/frontend/views/__tests__/course-welcome-page.spec.js
  packages/kolibri-common/strings/coursesStrings.js
  packages/kolibri/components/pages/ImmersivePage/index.vue
  packages/kolibri/components/pages/ImmersivePage/internal/ImmersiveToolbar.vue
Due: lint-frontend

correct learnerGroups getter
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
Due: lint-frontend

changed the image on the sidebar to show the SAS logo
  kolibri/plugins/default_theme/kolibri_plugin.py
  kolibri/plugins/default_theme/static/assets/default_theme/SemanhyiyaLogo-removebg-preview.svg
  kolibri/plugins/default_theme/static/assets/default_theme/Semanhyiya_logo.png
Due: none

Add attendance tracking models and migrations
  kolibri/core/attendance/__init__.py
  kolibri/core/attendance/apps.py
  kolibri/core/attendance/migrations/0001_initial_attendance_models.py
  kolibri/core/attendance/migrations/0002_attendancerecord_unique_session_user.py
  kolibri/core/attendance/migrations/__init__.py
  kolibri/core/attendance/models.py
  kolibri/deployment/default/settings/base.py
Due: no-swappable-auth-migrations

Add attendance API viewsets, serializers, and tests
  kolibri/core/api_urls.py
  kolibri/core/attendance/api_urls.py
  kolibri/core/attendance/serializers.py
  kolibri/core/attendance/test/__init__.py
  kolibri/core/attendance/test/test_api.py
  kolibri/core/attendance/test/test_models.py
  kolibri/core/attendance/viewsets.py
Due: none

Add attendance frontend resources and composable
  kolibri/plugins/coach/frontend/composables/useAttendance.js
  kolibri/plugins/coach/frontend/constants/index.js
  packages/kolibri-common/apiResources/AttendanceRecordResource.js
  packages/kolibri-common/apiResources/AttendanceSessionResource.js
Due: lint-frontend

Add attendance pages, routing, and class home integration
  kolibri/plugins/coach/frontend/routes/attendanceRoutes.js
  kolibri/plugins/coach/frontend/routes/index.js
  kolibri/plugins/coach/frontend/views/attendance/AttendanceHistoryPage.vue
  kolibri/plugins/coach/frontend/views/attendance/MarkAttendancePage.vue
  kolibri/plugins/coach/frontend/views/home/HomePage/AttendanceBlock.vue
  kolibri/plugins/coach/frontend/views/home/HomePage/index.vue
Due: lint-frontend

Add frontend tests for MarkAttendancePage
  kolibri/plugins/coach/frontend/views/attendance/__tests__/MarkAttendancePage.spec.js
Due: lint-frontend

Fix TypeError when selecting course recipients
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CourseDetails.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/SelectRecipients.vue
Due: lint-frontend

Clean up localeCompare usage for proper internationalization (fixes #3888)
  kolibri/plugins/coach/frontend/views/common/assignments/IndividualLearnerSelector/IndividualLearnerSelectorTable.vue
  kolibri/plugins/coach/frontend/views/common/assignments/LearnersAndGroupsSelector.vue
  kolibri/plugins/facility/frontend/composables/useUsersFilters.js
  kolibri/plugins/facility/frontend/views/users/sidePanels/AssignCoachesSidePanel.vue
  kolibri/plugins/facility/frontend/views/users/sidePanels/EnrollLearnersSidePanel.vue
  kolibri/plugins/facility/frontend/views/users/sidePanels/RemoveFromClassSidePanel.vue
  kolibri/plugins/facility/frontend/views/users/sidePanels/UserCreate/ClassesSelect.vue
  kolibri/plugins/user_profile/frontend/views/ChangeFacility/SelectFacility.vue
  packages/kolibri/components/pages/AppBarPage/internal/SideNav.vue
  packages/kolibri/utils/i18n.js
Due: lint-frontend

fix the course selection logic
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CourseDetails.vue
Due: lint-frontend

Update RTL and dynamic styling for CourseWelcomePage
  kolibri/plugins/learn/frontend/composables/useLearnerResources.js
  kolibri/plugins/learn/frontend/views/CourseWelcomePage.vue
Due: lint-frontend

Update ignores for worktrees and JetBrains features
  .gitignore
Due: none

Slim down agents.md with progressive disclosure and moving more into Claude.md
  AGENTS.md
  CLAUDE.md
  docs/howtos/multi_agent_setup.md
Due: none

Add attendance tracking feature
  kolibri/core/api_urls.py
  kolibri/core/attendance/__init__.py
  kolibri/core/attendance/api.py
  kolibri/core/attendance/api_urls.py
  kolibri/core/attendance/migrations/0001_initial.py
  kolibri/core/attendance/migrations/0002_attendancerecord_unique_session_user.py
  kolibri/core/attendance/migrations/__init__.py
  kolibri/core/attendance/models.py
  kolibri/core/attendance/serializers.py
  kolibri/core/attendance/test/__init__.py
  kolibri/core/attendance/test/test_api.py
  kolibri/core/attendance/test/test_models.py
  kolibri/deployment/default/settings/base.py
  kolibri/plugins/coach/frontend/app.js
  kolibri/plugins/coach/frontend/composables/useAttendance.js
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/routes/attendanceRoutes.js
  kolibri/plugins/coach/frontend/routes/index.js
  kolibri/plugins/coach/frontend/views/attendance/AttendanceEditPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceHistoryPage.vue
  kolibri/plugins/coach/frontend/views/attendance/AttendanceNewPage.vue
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendanceEditPage.spec.js
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendanceHistoryPage.spec.js
  kolibri/plugins/coach/frontend/views/attendance/__tests__/AttendanceNewPage.spec.js
  kolibri/plugins/coach/frontend/views/common/commonCoachStrings.js
  kolibri/plugins/coach/frontend/views/home/HomePage/AttendanceBlock.vue
  kolibri/plugins/coach/frontend/views/home/HomePage/__tests__/AttendanceBlock.spec.js
  kolibri/plugins/coach/frontend/views/home/HomePage/index.vue
  packages/kolibri-common/apiResources/AttendanceSessionResource.js
Due: lint-frontend, no-swappable-auth-migrations

Remove swappable_dependency from attendance migration
  kolibri/core/attendance/migrations/0002_attendancerecord_unique_session_user.py
Due: no-swappable-auth-migrations

Add attendance models to facility deletion group
  kolibri/core/auth/utils/delete.py
Due: none

Fix flaky Python tests: ordering, network mocking, and missing request mocks
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/discovery/test/test_network_utils.py
Due: none

add deseralization logic according to sync_filter
  kolibri/core/auth/models.py
  kolibri/core/courses/models.py
  requirements/base.txt
Due: none

Add unit tests to check new deserialization logic
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_unit_test_assignment.py
Due: none

Move CourseWelcomePage route to classesRoute
  kolibri/plugins/learn/frontend/routes/classesRoutes.js
  kolibri/plugins/learn/frontend/routes/index.js
Due: lint-frontend

Update uselearnerResources isCourseLessonAvailable to use lft instead of sort_order
  kolibri/plugins/learn/frontend/composables/__mocks__/useLearnerResources.js
  kolibri/plugins/learn/frontend/composables/useLearnerResources.js
  kolibri/plugins/learn/frontend/views/__tests__/course-welcome-page.spec.js
Due: lint-frontend

Update CourseWelcomepage to improve rtl styling and use SlotTruncator for course description
  kolibri/plugins/learn/frontend/views/CourseWelcomePage.vue
Due: lint-frontend

Update courseWelcomePage route param to courseSessionId
  kolibri/plugins/learn/frontend/routes/classesRoutes.js
  kolibri/plugins/learn/frontend/views/CourseWelcomePage.vue
Due: lint-frontend

Add confirmation modal to prevent accidental closure of Course Assignment Side Panel
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
  kolibri/plugins/coach/frontend/views/courses/modals/CloseConfirmationModal.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/index.vue
Due: lint-frontend

Update CourseWelcomePage test prop name
  kolibri/plugins/learn/frontend/views/__tests__/course-welcome-page.spec.js
Due: lint-frontend

Convert PDF viewer unit tests to Vue Testing Library #14194
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/Bookmarks.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfPage.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfRendererIndex.spec.js
Due: lint-frontend

Revert "Convert PDF viewer unit tests to Vue Testing Library #14194"
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/Bookmarks.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfPage.spec.js
  kolibri/plugins/pdf_viewer/frontend/views/__tests__/PdfRendererIndex.spec.js
Due: lint-frontend

Improves handling of missing resources in quiz editing
  kolibri/plugins/coach/frontend/views/common/QuestionsAccordion.vue
  kolibri/plugins/coach/frontend/views/common/QuizLessonDetailsHeader.vue
  kolibri/plugins/coach/frontend/views/quizzes/CreateExamPage/sidePanels/SectionSidePanel/SectionEditor.vue
  kolibri/plugins/coach/frontend/views/quizzes/ExamsRootPage.vue
  packages/kolibri-common/components/NoResourceAlert.vue
Due: lint-frontend

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
