Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

Update commit SHA and run script
  kolibri/core/content/static/h5p/h5p-099b06808d1909a3cba4.css
  kolibri/core/content/static/h5p/h5p-3c234512c8b2efee7723.html
  kolibri/core/content/static/h5p/h5p-4b9aa28f33b82a5b1c33.html
  kolibri/core/content/static/h5p/h5p-881387ab35d2dec6509e.css
  packages/hashi/.h5p-commit-sha
  packages/hashi/h5p_build.json
Due: none

new scenarios
  integration_testing/019-features/admin/facility/facility-users/admin-create-users.feature
  integration_testing/019-features/admin/facility/facility-users/admin-new-users.feature
  integration_testing/019-features/admin/facility/facility-users/admin-view-removed-users.feature
Due: none

fixes the textcolor prop validation error
  kolibri/plugins/facility/assets/src/views/users/common/CloseConfirmationGuard.vue
  packages/kolibri/components/pages/AppBarPage/internal/AppBar.vue
Due: lint-frontend

Simplify and reduce duplication in documentation.
  docs/build_system/index.md
Due: none

more scenarios and corrections
  integration_testing/019-features/admin/facility/facility-classes/admin-copy-class.feature
  integration_testing/019-features/admin/facility/facility-classes/admin-create-class.feature
  integration_testing/019-features/admin/facility/facility-classes/admin-delete-class.feature
  integration_testing/019-features/admin/facility/facility-classes/admin-enroll-assign-users.feature
  integration_testing/019-features/admin/facility/facility-classes/admin-rename-class.feature
  integration_testing/019-features/kolibri-critical-workflows.feature
Due: none

DO NOT MERGE - QA ONLY
  packages/kolibri/package.json
  yarn.lock
Due: none

reverts the changes for textColor prop
  packages/kolibri/components/pages/AppBarPage/internal/AppBar.vue
Due: lint-frontend

don't pass appBarHeight but puts hard-coded styles for proper positioning
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
  packages/kolibri/components/pages/AppBarPage/index.vue
  packages/kolibri/components/pages/ImmersivePage/index.vue
Due: lint-frontend

Update commit id of KDS pr to include latest changes for testing
  packages/kolibri/package.json
Due: none

Update yarn for KDS commit
  yarn.lock
Due: none

show undoing error message in SnackBar
  kolibri/plugins/facility/assets/src/views/users/sidePanels/RemoveFromClassSidePanel.vue
Due: lint-frontend

tweaking spacing on smaller screens new & trash users page
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
Due: lint-frontend

account for app context when calculating topMargin in users root page
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
Due: lint-frontend

remove unused unnecessary styles
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
Due: lint-frontend

Refactor UsersTableToolbar
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar/NormalLayout.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar/SmallWindowLayout.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar/index.vue
Due: lint-frontend

add z-index value & position: relative to base of bum-side-panel styles mixin
  kolibri/plugins/facility/assets/src/views/users/sidePanels/common.scss
Due: lint-frontend

Remove vestigial is_facility_user flag in favour of standard Django user properties
  kolibri/core/auth/models.py
  kolibri/core/auth/tasks.py
  kolibri/core/content/api.py
  kolibri/core/discovery/api.py
  kolibri/core/discovery/permissions.py
Due: none

use vuex getter for facility-aware redirection
  kolibri/plugins/facility/assets/src/views/ClassEditPage/index.vue
Due: lint-frontend

handcrafted rebasing of @AllanOXDi 's `filtersupdate` branch
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTable.vue
  packages/kolibri-common/strings/bulkUserManagementStrings.js
Due: lint-frontend

Refactor UsersTableToolbar on new users page and users trash page
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar/NormalLayout.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar/SmallWindowLayout.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar/index.vue
Due: lint-frontend

have copy learners in copy class workflow set to true by default
  kolibri/plugins/facility/assets/src/views/common/ClassCopyModal.vue
Due: lint-frontend

Fix tests
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
Due: lint-frontend

maintain focus state for user table options button
  kolibri/plugins/facility/assets/src/views/users/common/UsersTable.vue
Due: lint-frontend

Remove users trash page subheader
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar/NormalLayout.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar/SmallWindowLayout.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar/index.vue
Due: lint-frontend

fixes failed test
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/__test__/UsersRootPage.spec.js
Due: lint-frontend

Address QA Feedback
  kolibri/plugins/facility/assets/src/views/users/NewUsersPage.vue
  kolibri/plugins/facility/assets/src/views/users/UsersRootPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/UsersTrashPage/index.vue
  kolibri/plugins/facility/assets/src/views/users/common/UsersTableToolbar/SmallWindowLayout.vue
  packages/kolibri/uiText/commonCoreStrings.js
Due: lint-frontend

Abstract our database router pattern into an abstract base class. Update all implementations. Remove redundant unregistering of NotificationsRouter.
  kolibri/core/device/models.py
  kolibri/core/discovery/models.py
  kolibri/core/notifications/models.py
  kolibri/core/utils/model_router.py
Due: none

Change from file backed sessions to custom cached_db sessions. To allow sessions to be cleared via user id. Use separate sessions database to prevent bottlenecks.
  kolibri/core/auth/backends.py
  kolibri/core/auth/migrations/0031_session.py
  kolibri/core/auth/models.py
  kolibri/core/auth/upgrade.py
  kolibri/deployment/default/settings/base.py
  kolibri/deployment/default/sqlite_db_names.py
Due: no-swappable-auth-migrations

Add session cleanup on hard and soft deletion of users.
  kolibri/core/auth/api.py
  kolibri/core/auth/backends.py
  kolibri/core/auth/migrations/0032_alter_facilityuser_managers.py
  kolibri/core/auth/models.py
  kolibri/core/auth/test/test_models.py
Due: no-swappable-auth-migrations

Update all tests that use the sessions database to "__all__" databases.
  kolibri/core/analytics/test/test_api.py
  kolibri/core/auth/test/test_api.py
  kolibri/core/auth/test/test_models.py
  kolibri/core/bookmarks/test/test_bookmark_api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/device/test/test_api.py
  kolibri/core/device/test/test_locale_middleware.py
  kolibri/core/device/test/test_tasks.py
  kolibri/core/lessons/test/test_lesson_create.py
  kolibri/core/logger/test/test_api.py
  kolibri/core/logger/test/test_integrated_api.py
  kolibri/core/tasks/test/test_api.py
  kolibri/core/test/test_key_urls.py
  kolibri/core/test/test_setlanguage.py
  kolibri/plugins/app/test/test_api.py
  kolibri/plugins/coach/test/test_difficult_questions.py
  kolibri/plugins/coach/test/test_lesson_report.py
  kolibri/plugins/device/test/test_api.py
  kolibri/plugins/facility/test/test_api.py
  kolibri/plugins/learn/test/test_learner_classroom.py
  kolibri/plugins/learn/test/test_learner_lesson.py
Due: none

Add session cleanup on sync of hard deleted, deleted, and soft deleted users!
  kolibri/core/auth/kolibri_plugin.py
  kolibri/core/auth/test/test_hooks.py
Due: none

Fix potential regression in facility deletion to ensure that soft deleted users also get deleted.
  kolibri/core/auth/utils/delete.py
Due: none

Add soud sync queue handling for deleted users.
  kolibri/core/device/api.py
  kolibri/core/device/kolibri_plugin.py
  kolibri/core/device/soud.py
Due: none

Create kolibri-build package. Create kolibri-glob package for reuse across other packages. Clean up kolibri-tools code that has been migrated to kolibri-build.
  babel.config.js
  kolibri/core/buildConfig.js
  package.json
  packages/build_kolibri_package.js
  packages/kolibri-build/.npmignore
  packages/kolibri-build/babel.config.js
  packages/kolibri-build/package.json
  packages/kolibri-build/src/__tests__/webpack.config.plugin.spec.js
  packages/kolibri-build/src/apiSpecExportTools.js
  packages/kolibri-build/src/clean.js
  packages/kolibri-build/src/cli.js
  packages/kolibri-build/src/compress.js
  packages/kolibri-build/src/index.js
  packages/kolibri-build/src/kolibriName.js
  packages/kolibri-build/src/read_webpack_json.js
  packages/kolibri-build/src/webpack.config.base.js
  packages/kolibri-build/src/webpack.config.plugin.js
  packages/kolibri-build/src/webpackBundleTracker.js
  packages/kolibri-build/src/webpackMessageRegistrationPlugin.js
  packages/kolibri-build/src/webpackMessages.js
  packages/kolibri-build/src/webpackRtlPlugin.js
  packages/kolibri-build/src/webpack_json.py
  packages/kolibri-format/cli.js
  packages/kolibri-format/package.json
  packages/kolibri-glob/.npmignore
  packages/kolibri-glob/package.json
  packages/kolibri-glob/src/index.js
  packages/kolibri/internal/apiSpec.js
Due: lint-frontend

revert the changes at the beforeRouteLeave
  kolibri/plugins/facility/assets/src/views/users/common/CloseConfirmationGuard.vue
Due: lint-frontend

Clean up kolibri-tools to add appropriate error messaging. Update dependencies.
  package.json
  packages/kolibri-tools/lib/cli.js
  packages/kolibri-tools/lib/ensureDist.js
  packages/kolibri-tools/lib/version.js
  packages/kolibri/package.json
  yarn.lock
Due: lint-frontend

Update all crowdin interactions to use the official crowdin CLI. Update to use a consistent branch.
  Makefile
  build_tools/i18n/cleanup_unsupported_languages.py
  build_tools/i18n/fonts.py
  build_tools/i18n/generate_mapping.py
  build_tools/i18n/noto_source.py
  build_tools/i18n/noto_source/manifest.json
  build_tools/i18n/noto_source/readme.md
  build_tools/i18n/nutritionfacts_i18n.py
  build_tools/i18n/utils.py
  crowdin.yml
  docs/i18n.rst
  package.json
  packages/kolibri-i18n/src/__init__.py
  packages/kolibri-i18n/src/crowdin.py
  packages/kolibri-i18n/src/utils.py
  yarn.lock
Due: none

Add manual github actions for i18n upload and download.
  .github/workflows/i18n-download.yml
  .github/workflows/i18n-upload.yml
Due: none
