Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

refactor: remove exported strings translator from SelectImportSourceModal
  kolibri/plugins/device/frontend/views/ManageContentPage/SelectTransferSourceModal/SelectImportSourceModal.vue
Due: lint-frontend

Add new field to network location model
  kolibri/core/discovery/migrations/0014_networklocation_is_provisioned.py
  kolibri/core/discovery/models.py
Due: no-swappable-auth-migrations

Populate is_provisioned field in new device info
  kolibri/core/device/utils.py
  kolibri/core/discovery/tasks.py
  kolibri/core/discovery/test/helpers.py
  kolibri/core/public/test/test_api.py
Due: none

Wrangle is_provisioned flag when updating network location details
  kolibri/core/discovery/test/test_connections.py
  kolibri/core/discovery/utils/network/connections.py
Due: none

Filter out unprovisioned devices with syncable flag
  kolibri/core/discovery/api.py
  kolibri/core/discovery/test/test_api.py
Due: none

Set prop for Import modal to ensure devices have facilities
  kolibri/plugins/device/frontend/views/FacilitiesPage/ImportFacilityModalGroup.vue
Due: lint-frontend

Fetch facility config on Coach SPA load to fix picture password icons on refresh
  kolibri/plugins/coach/frontend/app.js
Due: lint-frontend

Declare initFacilityConfig as named function
  kolibri/plugins/coach/frontend/app.js
Due: lint-frontend

fix: remove unused createTranslator imports and non-English comment
  kolibri/plugins/device/frontend/views/ManageContentPage/SelectTransferSourceModal/SelectDriveModal.vue
  kolibri/plugins/device/frontend/views/ManageContentPage/SelectTransferSourceModal/SelectImportSourceModal.vue
  kolibri/plugins/device/frontend/views/__tests__/SelectDriveModal.spec.js
Due: lint-frontend

Add visible error notification for wrong picture password
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignInPage.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/PictureSignInPage.spec.js
Due: lint-frontend

Clear wrong-pictures error as soon as the first icon of a new sequence is selected
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/PicturePasswordGrid.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignInPage.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/PictureSignInPage.spec.js
Due: lint-frontend

Update wrongPicturesTryAgain context to reflect dual use
  packages/kolibri-common/strings/picturePasswords.js
Due: lint-frontend

Fix double announcement on wrong picture password by removing redundant sendAssertiveMessage
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignInPage.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/PictureSignInPage.spec.js
Due: lint-frontend

Add locally-triggered impact-stories prompt for super admins
  kolibri/core/analytics/api.py
  kolibri/core/analytics/api_urls.py
  kolibri/core/analytics/local_notifications.py
  kolibri/core/analytics/migrations/0002_localnotification.py
  kolibri/core/analytics/models.py
  kolibri/core/analytics/serializers.py
  kolibri/core/analytics/tasks.py
  kolibri/core/analytics/test/test_local_notification.py
  kolibri/core/device/permissions.py
  kolibri/plugins/device/frontend/views/DeviceAppBarPage.vue
  kolibri/plugins/facility/frontend/views/FacilityAppBarPage.vue
  kolibri/utils/server/__init__.py
  kolibri/utils/tests/test_server.py
  packages/kolibri-common/apiResources/LocalNotificationResource.js
  packages/kolibri-common/components/ImpactStoryBanner.vue
  packages/kolibri-common/components/__tests__/ImpactStoryBanner.spec.js
  packages/kolibri-common/package.json
  packages/kolibri-common/strings/impactStoryStrings.js
  pnpm-lock.yaml
Due: lint-frontend, no-swappable-auth-migrations

Bundle colorama so Click can render ANSI output on Windows
  requirements/base.txt
Due: none

ensure picture password modal appears on LOD join
  kolibri/plugins/learn/frontend/views/LearnIndex.vue
  kolibri/plugins/learn/frontend/views/__tests__/learn-index.spec.js
  kolibri/plugins/setup_wizard/frontend/views/onboarding-forms/SettingUpKolibri.vue
  kolibri/plugins/user_profile/frontend/views/ChangeFacility/MergeFacility.vue
  kolibri/plugins/user_profile/frontend/views/ChangeFacility/__tests__/MergeFacility.spec.js
  kolibri/plugins/user_profile/frontend/views/ProfilePage/index.vue
Due: lint-frontend

Focus aria-hidden sentinel on failed picture password to avoid grid read-out
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/PicturePasswordGrid.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignInPage.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/PictureSignInPage.spec.js
Due: lint-frontend

Rename focusErrorTarget to focusSentinel and errorFocusRef to sentinelRef
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/PicturePasswordGrid.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignInPage.vue
Due: lint-frontend

Add visible error notification for wrong picture password (#14741)
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/PicturePasswordGrid.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignInPage.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/PictureSignInPage.spec.js
  packages/kolibri-common/strings/picturePasswords.js
Due: lint-frontend

Fix PostgreSQL ordering in DiskChannelResourceImportManager tests
  kolibri/core/content/test/test_import_export.py
Due: none

Add token support to RemoteChannelDiffStatsValidator and fix draft channel import
  kolibri/core/content/api.py
  kolibri/core/content/tasks.py
  kolibri/core/content/test/test_tasks.py
  kolibri/core/content/utils/channel_transfer.py
  kolibri/core/content/utils/upgrade.py
Due: none

Redirect to NewChannelVersionPage when token resolves to different channel version
  kolibri/plugins/device/frontend/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/frontend/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/device/frontend/views/ManageContentPage/api.js
  kolibri/plugins/device/frontend/views/__tests__/AvailableChannelsPage.spec.js
  kolibri/plugins/device/frontend/views/__tests__/NewChannelVersionPage.spec.js
  kolibri/plugins/device/frontend/views/__tests__/testRouter.js
Due: lint-frontend

Fix draft channel import via token on AvailableChannelsPage
  kolibri/plugins/device/frontend/modules/wizard/utils.js
  kolibri/plugins/device/frontend/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/frontend/views/ManageContentPage/NewChannelVersionPage.vue
  kolibri/plugins/device/frontend/views/__tests__/AvailableChannelsPage.spec.js
Due: lint-frontend

test: add cancel and manageMode submit tests to SelectDriveModal
  kolibri/plugins/device/frontend/views/__tests__/SelectDriveModal.spec.js
Due: lint-frontend

Set up Django app registry before building WSGI applications
  kolibri/deployment/default/alt_wsgi.py
  kolibri/deployment/default/tests/__init__.py
  kolibri/deployment/default/tests/test_wsgi.py
  kolibri/deployment/default/wsgi.py
Due: none

Add animations to picture password confirmation modal
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/PicturePasswordConfirmModal.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/__tests__/PicturePasswordConfirmModal.spec.js
Due: lint-frontend

Fix PictureSignInPage tests to use fake timers
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/PicturePasswordConfirmModal.vue
  kolibri/plugins/user_auth/frontend/views/SignInPage/PictureSignIn/__tests__/PicturePasswordConfirmModal.spec.js
  kolibri/plugins/user_auth/frontend/views/SignInPage/__tests__/PictureSignInPage.spec.js
Due: lint-frontend

Update changelog for 0.19.4
  CHANGELOG.md
Due: none

ci: install build-essential for source package build in prerelease
  platforms/debian/.github/workflows/prerelease.yml
Due: none

Standardize pnpm CI pattern: action-setup@v6.0.8 before setup-node with cache: pnpm
  .github/workflows/build_whl.yml
  .github/workflows/check_licenses.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/i18n-download.yml
  .github/workflows/i18n-upload.yml
  .github/workflows/pre-commit.yml
  .github/workflows/update_h5p.yml
Due: none

fix: use a valid mailbox for the changelog maintainer
  platforms/debian/build_tools/generate_changelog.py
  platforms/debian/tests/test_generate_changelog.py
Due: none

fix: query binaries by binary name; drop unused --package arg
  platforms/debian/.github/workflows/prerelease.yml
  platforms/debian/scripts/launchpad_copy.py
  platforms/debian/tests/test_launchpad_copy.py
Due: none

fix: convert prerelease version to Debian format for signing
  platforms/debian/build_tools/build.sh
Due: none

feat: support re-releasing with a bumped Ubuntu revision
  platforms/debian/.github/workflows/prerelease.yml
  platforms/debian/build_tools/build.sh
  platforms/debian/build_tools/generate_changelog.py
  platforms/debian/tests/test_generate_changelog.py
Due: none

fix: wait/copy operate on the upload series (current LTS), not the runner's
  platforms/debian/.github/workflows/prerelease.yml
  platforms/debian/scripts/launchpad_copy.py
  platforms/debian/tests/test_launchpad_copy.py
Due: none

ci: raise wait-for-published budget for Launchpad publisher latency
  platforms/debian/.github/workflows/prerelease.yml
  platforms/debian/.github/workflows/release_ppa.yml
Due: none

Bump version from 0.19.4 to 0.19.5
  kolibri/__init__.py
Due: none

Pass DOCKERHUB_TOKEN to the container image publish reusable workflow
  .github/workflows/container_image_publish.yml
  .github/workflows/release_kolibri.yml
Due: none

fix: retry transient Launchpad errors while polling for published
  platforms/debian/scripts/launchpad_copy.py
  platforms/debian/tests/test_launchpad_copy.py
Due: none

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
