Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

lint-frontend:
  name: Linting of JS, Vue, SCSS and CSS files
  description: This hook handles all frontend linting for Kolibri
  entry: yarn run lint-frontend:format
  language: system

no-auto-migrations:
  name: no auto-named migrations
  entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
  language: fail

no-swappable-auth-migrations:
  name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
  entry: settings\.AUTH_USER_MODEL
  language: pygrep

Move table styles into SafeHtmlTable
  packages/kolibri-common/components/SafeHTML/SafeHtmlTable.vue
  packages/kolibri-common/components/SafeHTML/style.scss
Due: lint-frontend

Enable the safe_html5_viewer plugin by default
  kolibri/utils/build_config/default_plugins.py
  packages/kolibri/components/internal/filePresetStrings.js
Due: lint-frontend

Add shared ViewerToolbar and EmbeddedReadCard components
  packages/kolibri-common/components/EmbeddedReadCard.vue
  packages/kolibri-common/components/SafeHTML/__tests__/SafeHTML.spec.js
  packages/kolibri-common/components/SafeHTML/index.js
  packages/kolibri-common/components/SafeHTML/style.scss
  packages/kolibri-common/components/ViewerToolbar.vue
  packages/kolibri-common/components/__tests__/EmbeddedReadCard.spec.js
  packages/kolibri-common/components/__tests__/ViewerToolbar.spec.js
Due: lint-frontend

Add new contributors to AUTHORS.md
  AUTHORS.md
Due: none

fix: address #15066 - Migrate `policies` to the new Resource-layer methods
  kolibri/plugins/policies/frontend/modules/policies/__tests__/actions.spec.js
  kolibri/plugins/policies/frontend/modules/policies/actions.js
Due: lint-frontend

fix: address #15065 - Migrate `packages/kolibri` to the new Resource-layer methods
  packages/kolibri/components/pages/NotificationsRoot/index.vue
  packages/kolibri/components/pages/__tests__/NotificationsRoot.spec.js
  packages/kolibri/composables/useTotalProgress.js
  packages/kolibri/composables/useUserSyncStatus.js
Due: lint-frontend

fix: address #15064 - Migrate `user_profile` to the new Resource-layer methods
  kolibri/plugins/user_profile/frontend/machines/changeFacilityMachine.js
  kolibri/plugins/user_profile/frontend/modules/profile/actions.js
  kolibri/plugins/user_profile/frontend/views/ChangeFacility/ConfirmChangeFacility.vue
  kolibri/plugins/user_profile/frontend/views/ChangeFacility/MergeFacility.vue
  kolibri/plugins/user_profile/frontend/views/ChangeFacility/__tests__/MergeFacility.spec.js
  kolibri/plugins/user_profile/frontend/views/ProfileEditPage.vue
Due: lint-frontend

fix: address #15043 - Filter content by base language code
  kolibri/core/content/api.py
  kolibri/core/content/migrations/0040_contentnode_included_languages.py
  kolibri/core/content/models.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/channel_import.py
Due: no-swappable-auth-migrations

Rebind the port the live page is on when the server restarts
  platforms/android/app/src/main/java/org/learningequality/Kolibri/KolibriServerService.java
  platforms/android/app/src/main/python/main.py
  platforms/android/app/src/main/python/tests/conftest.py
  platforms/android/app/src/main/python/tests/test_main.py
Due: none

Retry the reconnect quickly when the disconnected page is visible
  packages/kolibri/__tests__/heartbeat.spec.js
  packages/kolibri/heartbeat.js
Due: lint-frontend

Copy a picked file before handing it to the page
  platforms/android/app/src/main/java/org/learningequality/Kolibri/WebViewActivity.java
  platforms/android/app/src/main/java/org/learningequality/Kolibri/util/PickedFiles.java
  platforms/android/app/src/main/res/xml/file_paths.xml
  platforms/android/app/src/test/java/org/learningequality/Kolibri/util/PickedFilesTest.java
Due: none

Confirm a disconnection before declaring one
  packages/kolibri/__tests__/heartbeat.spec.js
  packages/kolibri/client.js
  packages/kolibri/heartbeat.js
Due: lint-frontend

Record the port and route the WebView is on
  platforms/android/app/src/main/java/org/learningequality/Kolibri/WebViewLocation.java
  platforms/android/app/src/test/java/org/learningequality/Kolibri/WebViewLocationTest.java
Due: none

Freeze the WebView, and leave the page in place across a restart
  platforms/android/app/build.gradle
  platforms/android/app/src/main/java/org/learningequality/Kolibri/WebViewActivity.java
  platforms/android/app/src/test/java/org/learningequality/Kolibri/WebViewActivityTest.java
  platforms/android/app/src/test/resources/robolectric.properties
Due: none

Read the Kolibri version from _version.py with one shared helper
  .github/workflows/platform-debian-server-build_deb.yml
  .github/workflows/pr_build_kolibri.yml
  .github/workflows/release_kolibri.yml
  MANIFEST.in
  Makefile
  build_tools/read_kolibri_version.py
  build_tools/read_whl_version.py
  platforms/android/app/build.gradle
  platforms/debian-server/Makefile
  platforms/debian-server/scripts/generate_changelog.py
  test/test_read_kolibri_version.py
Due: none

Stage and read the desktop app's Kolibri whl from the workspace
  platforms/desktop-app/Makefile
  platforms/desktop-app/README.md
  platforms/desktop-app/pyproject.toml
  uv.lock
Due: none

Drop pre-migration setup from the Android README
  platforms/android/README.md
Due: none

Resolve column renames on the ATTACH channel import path
  kolibri/core/content/test/test_channel_import.py
  kolibri/core/content/utils/channel_import.py
Due: none

Cover the schema 5 content_localfile ATTACH import
  kolibri/core/content/test/test_channel_import.py
Due: none

Correct the benchmark's ATTACH expectation for content_localfile
  integration_testing/scripts/content_operations_benchmark.py
Due: none

Add ability to side-panel preview course materials
  kolibri/plugins/coach/frontend/app.js
  kolibri/plugins/coach/frontend/constants/index.js
  kolibri/plugins/coach/frontend/routes/coursesRoutes.js
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CourseDetails.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CoursePreviewSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CourseResourcePreview.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/__tests__/CoursePreviewSidePanel.spec.js
  packages/kolibri-common/components/Cards/AccessibleResourceCard.vue
  packages/kolibri-common/components/SlotTruncator.vue
  packages/kolibri-common/strings/coursesStrings.js
Due: lint-frontend

Address error and empty data handling
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CoursePreviewSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/__tests__/CoursePreviewSidePanel.spec.js
Due: lint-frontend

Align release workflow permissions with what its callees request
  .github/workflows/container_image_publish.yml
  .github/workflows/pypi_upload.yml
  .github/workflows/release_kolibri.yml
Due: none

Check reusable workflow permission grants before commit
  .pre-commit-config.yaml
  .pre-commit-hooks/check_workflow_permissions.py
Due: none

Document diff-scoped prek invocations in AGENTS.md
  AGENTS.md
Due: none

Tighten the prek diff-scoping note in AGENTS.md
  AGENTS.md
Due: none

Break the prek diff-scoping note into bullets
  AGENTS.md
Due: none

Split the prek scoped-forms bullet into one idea per line
  AGENTS.md
Due: none

Document diff-scoped prek invocations in AGENTS.md (#15147)
  AGENTS.md
Due: none

Fix missing store.state.route migration to useRoute
  kolibri/plugins/coach/frontend/composables/__tests__/useQuizCreation.spec.js
  kolibri/plugins/coach/frontend/composables/useQuizCreation.js
Due: lint-frontend

Publish the APT repo to the bucket instead of a runner directory
  .github/workflows/platform-apt-repo-publish.yml
  platforms/apt-repo/README.rst
  platforms/apt-repo/publish.sh
  platforms/apt-repo/tests/lib.sh
  platforms/apt-repo/tests/test_publish_empty_prefix_guard.sh
  platforms/apt-repo/tests/test_publish_roundtrip.sh
Due: none

Sign the APT repo with the Debian repo signing key
  .github/workflows/platform-apt-repo-publish.yml
  .github/workflows/platform-debian-server-release.yml
  .github/workflows/release_kolibri.yml
  platforms/apt-repo/README.rst
Due: none

Serve i386 and armhf from the APT repo
  platforms/apt-repo/conf/distributions.in
Due: none

Migrate coach cross-cutting composables and shared views
  kolibri/plugins/coach/frontend/composables/__tests__/UseQuizResources.spec.js
  kolibri/plugins/coach/frontend/composables/__tests__/fetchClassSyncStatus.spec.js
  kolibri/plugins/coach/frontend/composables/__tests__/useFetchTree.spec.js
  kolibri/plugins/coach/frontend/composables/fetchClassSyncStatus.js
  kolibri/plugins/coach/frontend/composables/useFetchTree.js
  kolibri/plugins/coach/frontend/composables/useGroups.js
  kolibri/plugins/coach/frontend/composables/useQuizResources.js
  kolibri/plugins/coach/frontend/composables/useResourceSelection.js
  kolibri/plugins/coach/frontend/views/common/assignments/AssignmentCopyModal.vue
  kolibri/plugins/coach/frontend/views/common/assignments/IndividualLearnerSelector/IndividualLearnerSelectorTable.vue
  kolibri/plugins/coach/frontend/views/common/resourceSelection/ContentCardList.vue
Due: lint-frontend

Rewrite coach difficulty resources onto request
  kolibri/plugins/coach/frontend/apiResources/exerciseDifficulties.js
  kolibri/plugins/coach/frontend/apiResources/practiceQuizDifficulties.js
  kolibri/plugins/coach/frontend/apiResources/quizDifficulties.js
  kolibri/plugins/coach/frontend/modules/questionList/actions.js
Due: lint-frontend

Migrate coach app bootstrap and Vuex store modules
  kolibri/plugins/coach/frontend/app.js
  kolibri/plugins/coach/frontend/modules/classSummary/index.js
  kolibri/plugins/coach/frontend/modules/coachNotifications/index.js
  kolibri/plugins/coach/frontend/modules/examShared/exams.js
  kolibri/plugins/coach/frontend/modules/groups/actions.js
  kolibri/plugins/coach/frontend/modules/pluginModule.js
Due: lint-frontend

Add _v2 resource methods to shared kolibri-common resources
  packages/kolibri-common/apiResources/AttendanceRecordResource.js
  packages/kolibri-common/apiResources/AttendanceSessionResource.js
  packages/kolibri-common/apiResources/ContentNodeResource.js
  packages/kolibri-common/apiResources/CourseSessionResource.js
  packages/kolibri-common/apiResources/ExamResource.js
  packages/kolibri-common/apiResources/LessonResource.js
  packages/kolibri-common/apiResources/__tests__/ContentNodeResource.spec.js
Due: lint-frontend

Migrate coach lessons and report handlers
  kolibri/plugins/coach/frontend/composables/useLessons.js
  kolibri/plugins/coach/frontend/modules/exerciseDetail/handlers.js
  kolibri/plugins/coach/frontend/modules/lessonResources/handlers.js
  kolibri/plugins/coach/frontend/modules/lessonSummary/actions.js
  kolibri/plugins/coach/frontend/modules/lessonSummary/handlers.js
  kolibri/plugins/coach/frontend/modules/lessonsRoot/actions.js
  kolibri/plugins/coach/frontend/modules/questionDetail/actions.js
  kolibri/plugins/coach/frontend/modules/questionDetail/handlers.js
  kolibri/plugins/coach/frontend/modules/resourceDetail/handlers.js
  kolibri/plugins/coach/frontend/views/common/LessonStatus.vue
  kolibri/plugins/coach/frontend/views/lessons/LessonEditDetailsPage/index.vue
  kolibri/plugins/coach/frontend/views/lessons/LessonSummaryPage/ManageLessonModals.vue
  kolibri/plugins/coach/frontend/views/lessons/LessonsRootPage.vue
Due: lint-frontend

Document the bucket permissions the publish needs
  platforms/apt-repo/README.md
  platforms/apt-repo/README.rst
  platforms/apt-repo/publish.sh
Due: none

Migrate coach courses and convert coursesFetch to useList
  kolibri/plugins/coach/frontend/composables/__tests__/useCourseSession.spec.js
  kolibri/plugins/coach/frontend/composables/__tests__/useCourses.spec.js
  kolibri/plugins/coach/frontend/composables/useCourseSession.js
  kolibri/plugins/coach/frontend/composables/useCourses.js
  kolibri/plugins/coach/frontend/views/courses/CourseSummaryPage.vue
  kolibri/plugins/coach/frontend/views/courses/CoursesRootPage.vue
  kolibri/plugins/coach/frontend/views/courses/__tests__/CourseSummaryPage.spec.js
  kolibri/plugins/coach/frontend/views/courses/composables/useAssignCourse.js
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CourseDetails.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/CoursePreviewSidePanel.vue
  kolibri/plugins/coach/frontend/views/courses/sidePanels/AssignCourse/subpages/__tests__/CoursePreviewSidePanel.spec.js
Due: lint-frontend

Path conditions:
  lint-frontend: any of: \.(js|vue|scss|css)$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
  no-auto-migrations: any of: .*/migrations/.*_auto_.*\.py$ and not ((?x)^( kolibri/core/auth/migrations/0002_auto_20170608_2125\.py| kolibri/core/auth/migrations/0003_auto_20170621_0958\.py| kolibri/core/auth/migrations/0004_auto_20170816_1607\.py| kolibri/core/auth/migrations/0005_auto_20170818_1203\.py| kolibri/core/auth/migrations/0006_auto_20171206_1207\.py| kolibri/core/auth/migrations/0007_auto_20171226_1125\.py| kolibri/core/auth/migrations/0008_auto_20180222_1244\.py| kolibri/core/auth/migrations/0009_auto_20180301_1123\.py| kolibri/core/auth/migrations/0010_auto_20180320_1320\.py| kolibri/core/auth/migrations/0013_auto_20180917_1213\.py| kolibri/core/auth/migrations/0014_auto_20190815_1421\.py| kolibri/core/content/migrations/0003_auto_20170607_1212\.py| kolibri/core/content/migrations/0004_auto_20170825_1038\.py| kolibri/core/content/migrations/0005_auto_20171009_0903\.py| kolibri/core/content/migrations/0006_auto_20171128_1703\.py| kolibri/core/content/migrations/0007_auto_20180212_1155\.py| kolibri/core/content/migrations/0008_auto_20180429_1709\.py| kolibri/core/content/migrations/0009_auto_20180410_1139\.py| kolibri/core/content/migrations/0011_auto_20180907_1017\.py| kolibri/core/content/migrations/0012_auto_20180910_1702\.py| kolibri/core/content/migrations/0013_auto_20180919_1142\.py| kolibri/core/content/migrations/0014_auto_20181218_1132\.py| kolibri/core/content/migrations/0015_auto_20190125_1715\.py| kolibri/core/content/migrations/0016_auto_20190124_1639\.py| kolibri/core/content/migrations/0017_auto_20190415_1855\.py| kolibri/core/device/migrations/0004_auto_20190306_0553\.py| kolibri/core/device/migrations/0005_auto_20191203_0951\.py| kolibri/core/exams/migrations/0003_auto_20190426_1015\.py| kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py| kolibri/core/logger/migrations/0002_auto_20170518_1031\.py| kolibri/core/logger/migrations/0003_auto_20170531_1140\.py| kolibri/core/logger/migrations/0005_auto_20180514_1419\.py| )$) and not ((\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex))
  no-swappable-auth-migrations: any of: migrations/.*\.py$, but not: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
