Repository learningequality/kolibri: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, no-auto-migrations, no-swappable-auth-migrations

.pre-commit-config.yaml:

exclude: (\.git/|\.tox/|\.venv/|build/|static/|dist/|node_modules/|kolibripip\.pex)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: '^.+?(\.json|\.po)$'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-print==5.0.0'
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.3
    hooks:
    -   id: reorder-python-imports
        language_version: python3
-   repo: local
    hooks:
    -   id: lint-frontend
        name: Linting of JS, Vue, SCSS and CSS files
        description: This hook handles all frontend linting for Kolibri
        entry: yarn run lint-frontend:format
        language: system
        files: \.(js|vue|scss|css)$
- repo: local
  hooks:
  - id: no-auto-migrations
    name: no auto-named migrations
    entry: We do not allow _auto_ in migration names. Please give the migration a telling name.
    language: fail
    files: .*/migrations/.*_auto_.*\.py$
    exclude: (?x)^(
        kolibri/core/auth/migrations/0002_auto_20170608_2125\.py|
        kolibri/core/auth/migrations/0003_auto_20170621_0958\.py|
        kolibri/core/auth/migrations/0004_auto_20170816_1607\.py|
        kolibri/core/auth/migrations/0005_auto_20170818_1203\.py|
        kolibri/core/auth/migrations/0006_auto_20171206_1207\.py|
        kolibri/core/auth/migrations/0007_auto_20171226_1125\.py|
        kolibri/core/auth/migrations/0008_auto_20180222_1244\.py|
        kolibri/core/auth/migrations/0009_auto_20180301_1123\.py|
        kolibri/core/auth/migrations/0010_auto_20180320_1320\.py|
        kolibri/core/auth/migrations/0013_auto_20180917_1213\.py|
        kolibri/core/auth/migrations/0014_auto_20190815_1421\.py|
        kolibri/core/content/migrations/0003_auto_20170607_1212\.py|
        kolibri/core/content/migrations/0004_auto_20170825_1038\.py|
        kolibri/core/content/migrations/0005_auto_20171009_0903\.py|
        kolibri/core/content/migrations/0006_auto_20171128_1703\.py|
        kolibri/core/content/migrations/0007_auto_20180212_1155\.py|
        kolibri/core/content/migrations/0008_auto_20180429_1709\.py|
        kolibri/core/content/migrations/0009_auto_20180410_1139\.py|
        kolibri/core/content/migrations/0011_auto_20180907_1017\.py|
        kolibri/core/content/migrations/0012_auto_20180910_1702\.py|
        kolibri/core/content/migrations/0013_auto_20180919_1142\.py|
        kolibri/core/content/migrations/0014_auto_20181218_1132\.py|
        kolibri/core/content/migrations/0015_auto_20190125_1715\.py|
        kolibri/core/content/migrations/0016_auto_20190124_1639\.py|
        kolibri/core/content/migrations/0017_auto_20190415_1855\.py|
        kolibri/core/device/migrations/0004_auto_20190306_0553\.py|
        kolibri/core/device/migrations/0005_auto_20191203_0951\.py|
        kolibri/core/exams/migrations/0003_auto_20190426_1015\.py|
        kolibri/core/lessons/migrations/0002_auto_20180221_1115\.py|
        kolibri/core/logger/migrations/0002_auto_20170518_1031\.py|
        kolibri/core/logger/migrations/0003_auto_20170531_1140\.py|
        kolibri/core/logger/migrations/0005_auto_20180514_1419\.py|
      )$
  - id: no-swappable-auth-migrations
    name: No migrations with swappable auth models (settings.AUTH_USER_MODEL)
    entry: settings\.AUTH_USER_MODEL
    language: pygrep
    files: migrations/.*\.py$
-   repo: https://github.com/isidentical/teyit
    rev: 0.4.3
    hooks:
    -   id: teyit
        language_version: python3
# Always keep black as the final hook so it reformats any other reformatting.
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']

Reference translation keys and fixture constants in spec assertions
  kolibri/plugins/learn/frontend/views/CourseUnitView/__tests__/CourseUnitView.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/course-welcome-page.spec.js
Due: lint-frontend

Stop skipping unavailable resources when computing resume_position
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_models.py
Due: none

improved comment for clarification
  kolibri/plugins/learn/frontend/views/__tests__/course-welcome-page.spec.js
Due: lint-frontend

Move welcome-page-only lesson helpers out of useLearnerResources
  kolibri/plugins/learn/frontend/composables/useLearnerResources.js
  kolibri/plugins/learn/frontend/views/CourseWelcomePage.vue
Due: lint-frontend

Simplify CourseUnitView and welcome-page specs
  kolibri/plugins/learn/frontend/views/CourseUnitView/__tests__/CourseUnitView.spec.js
  kolibri/plugins/learn/frontend/views/__tests__/course-welcome-page.spec.js
Due: lint-frontend

only onFirstPreTest if you're actually on a pre-test!
  kolibri/plugins/learn/frontend/views/CourseWelcomePage.vue
Due: lint-frontend

Update UserCreateSidePanel to display info about picture password assignment (#14600)
  kolibri/plugins/facility/frontend/views/users/sidePanels/UserCreate/__tests__/UserCreateSidePanel.spec.js
  kolibri/plugins/facility/frontend/views/users/sidePanels/UserCreate/index.vue
  packages/kolibri-common/strings/picturePasswords.js
Due: lint-frontend

Add new linter rules for Testing Library tests
  docs/frontend_architecture/unit_testing.rst
  packages/eslint-plugin-kolibri/lib/rules/tests-no-hardcoded-strings.js
  packages/eslint-plugin-kolibri/lib/rules/tests-no-stubs.js
  packages/eslint-plugin-kolibri/lib/utils.js
  packages/eslint-plugin-kolibri/tests/lib/rules/tests-no-hardcoded-strings.spec.js
  packages/eslint-plugin-kolibri/tests/lib/rules/tests-no-stubs.spec.js
  packages/kolibri-format/eslint.config.mjs
Due: lint-frontend

refactor: migrate SelectDriveModal tests to Vue Testing Library
  kolibri/plugins/device/frontend/views/__tests__/SelectDriveModal.spec.js
Due: lint-frontend

refactor: migrate SelectTransferSourceModal tests to Vue Testing Library
  kolibri/plugins/device/frontend/views/__tests__/SelectTransferSourceModal.spec.js
Due: lint-frontend

refactor: add missing tests and improve assertions in SelectDriveModal
  kolibri/plugins/device/frontend/views/__tests__/SelectDriveModal.spec.js
Due: lint-frontend

style: remove unnecessary async from disabled button test
  kolibri/plugins/device/frontend/views/__tests__/SelectDriveModal.spec.js
Due: lint-frontend

Update browserslist config to new support matrix
  packages/browserslist-config-kolibri/index.js
Due: lint-frontend

Bump browserslist-config-kolibri to 0.20.0 and switch kolibri-build to workspace:*
  packages/browserslist-config-kolibri/package.json
  packages/kolibri-build/package.json
  pnpm-lock.yaml
Due: none

Add test case for non-VTL files
  packages/eslint-plugin-kolibri/tests/lib/rules/tests-no-hardcoded-strings.spec.js
  packages/eslint-plugin-kolibri/tests/lib/rules/tests-no-stubs.spec.js
Due: lint-frontend

Add channel_version to CourseSession model
  kolibri/core/courses/migrations/0004_add_channel_version_to_coursesession.py
  kolibri/core/courses/models.py
  kolibri/core/courses/test/test_api.py
  kolibri/core/courses/viewsets.py
Due: no-swappable-auth-migrations

Add channel_version to ContentRequest and ContentAssignmentManager
  kolibri/core/content/migrations/0046_contentrequest_channel_version.py
  kolibri/core/content/models.py
  kolibri/core/content/test/utils/test_assignment.py
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/assignment.py
  kolibri/core/content/utils/content_request.py
Due: no-swappable-auth-migrations

Wire channel_version update trigger with process conent assignment and channel upgrade if needed
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/annotation.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/content_request.py
  kolibri/core/courses/models.py
Due: none

Download new files automatically on channel upgrade for available courses
  kolibri/core/content/test/test_channel_upgrade.py
  kolibri/core/content/utils/content_request.py
  kolibri/core/content/utils/upgrade.py
Due: none

Re-queue removed downloads after upgrade
  kolibri/core/content/test/helpers.py
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/content_request.py
Due: none

Minor fixes
  kolibri/core/content/test/utils/test_content_request.py
  kolibri/core/content/utils/channel_import.py
  kolibri/core/content/utils/content_request.py
Due: none

Skip download when file already exists in fallback storage dir
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/resource_import.py
Due: none

Bump packages version
  packages/eslint-plugin-kolibri/package.json
  packages/kolibri-format/package.json
Due: none

Pass channel token through to remotechannelimport task params
  kolibri/core/content/api.py
  kolibri/core/content/test/test_content_app.py
  kolibri/core/content/test/test_import_export.py
  kolibri/core/content/utils/paths.py
  kolibri/core/content/utils/resource_import.py
  kolibri/plugins/device/frontend/modules/wizard/actions/__tests__/showSelectContentPage.spec.js
  kolibri/plugins/device/frontend/modules/wizard/handlers.js
  kolibri/plugins/device/frontend/modules/wizard/utils.js
  kolibri/plugins/device/frontend/routes/wizardTransitionRoutes.js
  kolibri/plugins/device/frontend/views/AvailableChannelsPage/index.vue
  kolibri/plugins/device/frontend/views/ManageContentPage/manageContentLinks.js
  kolibri/plugins/device/frontend/views/__tests__/AvailableChannelsPage.spec.js
Due: lint-frontend

Include picture password data on class summary page endpoint
  kolibri/plugins/coach/class_summary_api.py
  kolibri/plugins/coach/test/test_class_summary.py
Due: none

Map picture password data on class summary page vuex store
  kolibri/plugins/coach/frontend/modules/classSummary/__tests__/sampleServerResponse.js
  kolibri/plugins/coach/frontend/modules/classSummary/__tests__/sampleState.js
  kolibri/plugins/coach/frontend/modules/classSummary/__tests__/sampleState2.js
  kolibri/plugins/coach/frontend/modules/classSummary/__tests__/summary.spec.js
  kolibri/plugins/coach/frontend/modules/classSummary/index.js
Due: lint-frontend

Display picture password sequence on Learner Summary Page
  kolibri/plugins/coach/frontend/views/learners/LearnerSummaryPage/LearnerHeader.vue
  kolibri/plugins/coach/frontend/views/learners/LearnerSummaryPage/__tests__/LearnerHeader.spec.js
  packages/kolibri-common/components/UserPicturePassword.vue
  packages/kolibri-common/components/__tests__/UserPicturePassword.spec.js
Due: lint-frontend

Enable import-x module-system rules in kolibri-format, bump to 2.3.0
  eslint.config.mjs
  packages/kolibri-format/eslint.config.mjs
  packages/kolibri-format/package.json
  pnpm-lock.yaml
Due: none

Add eslint-plugin-jsdoc to kolibri-format, bump to 2.4.0
  packages/kolibri-format/eslint.config.mjs
  packages/kolibri-format/package.json
  pnpm-lock.yaml
Due: none

Update pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: none

Update eslint-plugin-jsdoc to latest version 62.9.0
  packages/kolibri-format/package.json
  pnpm-lock.yaml
Due: none

Fix jsdoc violations introduced by eslint-plugin-jsdoc v62.9.0 upgrade
  kolibri/plugins/facility/frontend/composables/useFacilityEditor.js
  kolibri/plugins/learn/frontend/views/CourseUnitView/useCourseContentProgressTracking.js
  kolibri/plugins/qti_viewer/frontend/utils/props.js
  kolibri/plugins/qti_viewer/frontend/utils/qti/values.js
  packages/eslint-plugin-kolibri/lib/utils.js
  packages/kolibri-format/eslint.config.mjs
Due: lint-frontend

Add frontend tests for picture password exhausted state and modals
  kolibri/plugins/facility/frontend/views/__tests__/facility-config-page.spec.js
Due: lint-frontend
